<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">
  <h1>壹美壹家购物券/抵用券使用说明</h1>
  <p>壹美壹家不定期举办优惠返购物券活动，请您关注壹美壹家网站优惠活动或者订阅优惠信息邮件，以便了解更多更新的优惠信息。 </p>
  <p>购物券使用规则：</p>
  <p>1.壹美壹家购物券/抵用券的使用，仅限壹美壹家注册客户在订购壹美壹家网上商城的商品（包括直营店铺购物）时使用，
    无法在订购其他商家的其他商品时使用。</p>
  <p>2.如果特别说明是网站购物券，则仅限客户自行在壹美壹家网上商城上下单成功时使用，电话订购或者客户经理代理以及店铺订购不能使用。
    （除特殊说明情况除外）</p>
  <p>3.购物券使用权仅限客户本身，原则上上一个客户ID账号使用，不得转让和转销。</p>
  <p>4.购物券不可累计使用，1张订单1次只能使用1张购物券，面值可以不同。</p>
  <p>5.使用购物券进行支付的单张订单金额（不含配送费），必须大于购物券支付金额。购物券金额小于订单金额时，需由用户支付差额。</p>
  <p>6.宁波市区客户使用购物券后进行实际支付的单张订单金额小于50元，必须单独承担运费5元；大于50元可以享受免运费。</p>
  <p>7.使用购物券进行支付时只能选择货到付款支付方式，并且仅限宁波地区的货到付款客户。购物券在付款时直接交与收款人员确认后即可使用。</p>
  <p>8.使用购物券时务必在订单备注中注明“使用购物券”并告知使用金额和张数，方便我们核对货款和开票。如果现场发生购物券金额不符，
    客户必须现金支付订单，发生的开票损失由客户自己承担责任。</p>
  <p>9.购物券仅限在有效期内使用，过期则无法使用。</p>
  <p>10.购物券不能抵用配送费以及其他服务费用。</p>
  <p>11.使用购物券的订单开票金额，以扣除购物券金额后的实际客户现金支付金额为准。</p>
  <p>12.除非特殊说明，抢购秒杀活动和事先说明的特价商品不能使用购物券抵扣支付。</p>
  <p>13.使用购物券的订单如果发生退货，不办理退款。</p>
  <p>14.如果发现购物券非壹美壹家公司发行，券面有仿冒和作假嫌疑，壹美壹家有权拒绝使用购物券支付。</p>
  <p>宁波壹美壹家贸易有限公司拥有对壹美壹家购物券使用规则的最终解释权。</p>
  <p>如果您有任何问题请致电客服热线<em>400-630-5006</em>（周一至周六8:30-17:00）</p>
</div>