<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">
  <h1>集团合作伙伴简介</h1>
	<br>
  <%= image_tag "/assets/templates/footer/help/charming.png" %>
	<h2>宁波乔明家居用品发展有限公司</h2>
	<p>宁波乔明家居用品发展有限公司创建于1996年，位于有“天然氧吧”之美称的宁波象山西周工业园区，背依青山，面向大海，是一家专业设计和制造现代时尚家居用品的生产制造型企业。占地面积130000平方米，厂房面积80000平方米，员工700多人，其中专业人才100多人，设备齐全，加工、设计能力雄厚，多项研发获国家发明专利、外观设计专利、实用新型专利。公司主营金属家具、板式家具和钢木结合家具等十大系列900多种产品，产品远销欧美、东南亚、中东、日本、香港、台湾等国家和地区，与瑞典宜家家居、日本似鸟集团、法国乐华梅兰等世界著名企业形成良好的合作关系。先后荣获中国民营企业自主创新优秀企业、省家具行业优秀企业；省、市AA级守合同重信用单位、AAA级信用企业。产品荣获浙江省私营（民营）企业协会推荐产品、宁波市名牌产品等荣誉称号。</p>
	<br/>
	<ul>
		<li>地址：浙江省象山县西周镇象西工业园区</li>
		<li>网址：<a href="http://www.caomin.com" title="宁波乔明家居用品发展有限公司">http://www.caomin.com</a></li>
		<li>电话：0574－65872222</li>
		<li>传真：0574－65871518</li>
	</ul>
	<br />
	<%= image_tag "/assets/templates/footer/help/emefuniture.png" %>
	<h2>宁波壹美家具有限公司</h2>
	<p>宁波壹美家具有限公司成立于1996年8月，是一家中法合资企业。公司座落于旅游胜地宁波象山港中心，水陆交道方便快捷。占地面积100000多平方米，可用厂房20000多平方米，职工300多人，公司有配有专业的家具设计和制造技术人才100多人。引进德国和意大利的先进生产设备：如全自动精密电子裁板锯，多功能电脑数控铣床，全自动成型封边机，无尘喷油房，PU线。公司年生产能力6000万以上。主要生产民用板式(E1级)与实木(泰柚)相结合的家具，自主新研发的北欧风情系列产品有350多款：其中包括卧室，客厅，餐厅，书房，浴室，家庭办公，户外七大系列。在上海等中心城市和第六空间、红星美凯龙等大型家具专卖店里都已经开设直营分店。现在已经成为宁波本地知名的国际高端家具品牌。</p>
	<p>宁波直营店地址：</p>
	<ul>
		<li>宁波市 宁穿路315号体育馆南门第六空间艺术生活广场A-03<br />
            电话：0574-87809972</li>
		<li>宁波市贸城中路926号德克德家居二楼215号<br />
				电话：0574-28889601</li>
	</ul>
	<p>上海市直营店地址：</p>
	<ul>
		<li>上海市浦东区沪南路2178号红星美凯龙三楼C8076<br />
				电话：021-20257595</li>
	</ul>
	<br />
	<p>公司地址：浙江省宁波市高新区扬帆路999弄2号楼7楼</p>
	<p>网址：<a href="http://www.emeboho.com">http://www.emeboho.com</a></p>
	<p>财富热线：400-8866-136</p>
	<p>电话：0574-87917756</p>
	<p>传真：0574-87917752</p>
</div>