<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">
  <h1>如何下订单</h1>
	<p>网站下订单流程（您也可以致电客服<em>400-630-5006</em>，由我们的服务人员帮助您下单。）</p>
	<ul>
		<li>挑选商品。</li>
		<li>选择“添加到购物车”。</li>
		<li>结算时直接点击 “我的购物车”，确认商品数量和订单总金额，点击“去结算”。</li>
		<li>请登陆会员ID/Email、密码，点击登录，如果是新客户请点击注册完成注册流程。</li>
		<li>进入确认订单界面，填写“收货人信息”、选择“支付方式”、“发票信息”，点击“提交订单”。</li>
		<li>如果选择在线支付，请使用支付宝尽快完成支付，订单在完成支付后被视为确认订单。</li>
		<li>我们会通过电子邮件发送一封订单确认信。此确认信仅确认我们已收到了您的订单，只有当我们向您发出确认短信或电话与您联系得到确认，
      我们和您之间的订购合同才成立。</li>
		<li>如果需要修改和取消订单，请打开“我的账户”查看订单状态并进行操作。当订单处于“等待检货出库”时可以修改和取消订单。
      当订单处于“等待签收”是无法修改和取消订单。如果有任何问题，请联系客服<em>400-630-5006</em>。</li>
	</ul>
</div>