<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">
  <h1>壹美壹家客户使用条款</h1>
  <p>非常感谢您申请成为宁波壹美壹家贸易有限公司（以下简称为"壹美壹家"）的客户。
    壹美壹家是一站式提案现代都市人生活工作方式的大众时尚品牌，
    通过自己的商品让客户在人生的2/3宝贵时间里享受到每分每秒的"快乐生活，轻松办公"。
    在客户购买或使用壹美壹家的商品和服务之前，请事先阅读并同意本使用条款。</p>
  <h2>一、注册途径 </h2>
  <p>如想注册成为壹美壹家的客户，可以通过壹美壹家销售点、客服中心或壹美壹家网站进行注册。</p>
  <h2>二、注册手续 </h2>
  <p>1.壹美壹家客户在注册手续登记完成后，会拥有一个6位以上的登帐号及登录壹美壹家网站的密码。通过EMAIL或电话告知客户。</p>
  <p>2.在注册成功之后即成为壹美壹家的客户。</p>
  <h2>三、壹美壹家的服务内容 </h2>
  <p>1.已注册过的客户，可以购买壹美壹家的商品和得到壹美壹家提供的服务。</p>
  <p>2.商品目录等</p>
  <p>1）已注册的客户，壹美壹家将定期免费发送商品目录。另外，还将通过销售店、直邮、EMAIL的方式发送商品的促销信息。
    如果客户不希望收到此类信息，请随时向壹美壹家提出，壹美壹家将根据客户的要求不再发送如上信息</p>
  <p>2）已注册的客户，可以登录并使用壹美壹家网站。</p>
  <h2>四、商品的订购 </h2>
  <p>1.客户可以通过销售店、电话、网上订购本使用条款第3条所指的商品或享受壹美壹家的服务。壹美壹家在接受订单的同时，
    视为客户已接受本使用条款。</p>
  <p>1）销售点订货：至壹美壹家的销售点进行订购。</p>
  <p>2）电话订货：打电话至壹美壹家客户服务中心，订购所需要的商品。</p>
  <p>3）网上订购：利用壹美壹家网站确认商品。</p>
  <p>2.当壹美壹家客户服务中心接受并处理完客户的订单后，视为客户与壹美壹家之间的买卖协议已经成立。
    但壹美壹家客户服务中心认为是特殊商品或特殊服务时，则需通过其他方式订购。</p>
  <p>3.单笔订单金额过大时，我们会保留订单并指派客服经理与您联系。</p>
  <h2>五、配送时间 </h2>
  <p>1.当客户填写的订单内容不全或有笔误时；当由于通讯状况造成壹美壹家无法完成正常的订单处理时；
    当由于天气、灾难、事故等造成货物运送状况不良时；当客户的订单限额超过时；当春节或其他节假日；
    当客户的信息变更后没有及时到壹美壹家客户服务中心进行更新等情况发生时，壹美壹家方有可能无法在期限内送达。</p>
  <p>2.对于大批量的订单或暂时无存库的商品，壹美壹家将会另行通知配送时间。</p>
  <h2>六、商品交付 </h2>
  <p>商品交付是指，将商品送达至客户按照第一条注册时表格中所填写的送货地址或客户指定的地点，
    视为交付完成。交付完成后，该商品的风险即转移至客户。</p>
  <h2>七、配送费 </h2>
  <p>1.宁波地区单张订单金额满50元免费送货。单张订单金额不满50元，加收5元配送费。
    宁波地区以外浙江省内及上海地区单张订单满100元免费送货，单张订单金额不满100元，加收20元配送费。</p>
  <p>2.当天的订单截止时间内，同一客户下多张订单时，对于配送地址与配送时间都相同的订单，
    配送费用只按照第一张订单的金额计算；对于配送地址或配送时间不同的订单，配送费用将按单张订单金额分别计算。</p>
  <p>3.同一张订单若包含有确认符号的商品（以下简称厂家直送商品）时，每一个厂家直送商品都会被另外拆分成1张订单，
    不计算配送费。不含厂家直送商品的订单将被视为一张订单，计算配送费。</p>
  <p>4.订购商品缺货时，客户可以选择全部取消订单，部分取消订单，可以按商品的到货日期分别下订单，
    商品到货时可以分开配送或者选择一起配送。订单配送费用将按每张订单金额分别计算。</p>
  <h2>八、付款 </h2>
  <p>1.货到付款</p>
  <p>商品到货时，客户须同时支付货款及配送费（配送费用收取详见第七条）。</p>
  <p>2.在线支付</p>
  <p>客户通过网上银行方式先付款到壹美壹家指定账户后再配送商品。</p>
  <p>3.银行转帐</p>
  <p>客户通过银行转帐汇款到壹美壹家指定账户后再配送商品。</p>
  <p>4.月度结算（以下简称“月结”）</p>
  <p>1）月结资格的申请</p>
  <p>月结资格的申请需要通过壹美壹家客户代表向壹美壹家相关部门提交，在提供了所需的所有审查资料，
    并通过信用资格审查之后，可以签订月结合同成为壹美壹家月结客户。</p>
  <p>2）月结合同的签订</p>
  <p>首次签订月结合同的客户的订购信用额度为每月人民币2000元。当订单金额超过信用额度的余额时
    （信用额度余额=信用额度-应收账款余额），该订单将被保留。我们会根据客户上月的实际订购金额，
    调整本月的信用额度。或根据客户过去的订购信用情况，更新月结合同中的信用额度条款。</p>
  <p>3）月结客户的付款</p>
  <p>月结客户的付款只限银行转账的方式。</p>
  <p>壹美壹家于每月的25日（若非工作日或国家法定节假日，则顺延至之后的第一个工作日）出具对账单与客户出账。</p>
  <p>壹美壹家于每月的月底向客户开出发票。</p>
  <p>客户应根据月度结算合同中约定的支付预定日期准时支付货款。</p>
  <h2>九、拒收商品 </h2>
  <p>1.如因客户外出不在等原因，使商品不能送达时，壹美壹家会在3个工作日内为您补送，由此产生的费用，壹美壹家有权要求客户负担。</p>
  <p>2.如客户无故不接受壹美壹家配送的商品，将视为取消订单，客户须承担因此而产生的相当于商品订货价格的违约金。</p>
  <h2>十、不可抗力 </h2>
  <p>因战争、自然灾害、法律修改或废除、交通事故、公众处分、运输公司的事故、劳动争议等不可抗力造成配送延迟或不能配送，
    而造成客户损失的，壹美壹家不承担任何赔偿责任。</p>
  <h2>十一、取消订货 </h2>
  <p>因壹美壹家的销售系统会在接到客户订单后，即刻安排商品的配送，所以无法取消商品的订货。客户如想取消订货，
    请参照12条的规定，按照退货的手续办理。</p>
  <h2>十二、退换货处理 </h2>
  <p>客户在收到所购商品时，或收到商品后15天内，属于以下情况的可与壹美壹家客户服务中心取得联系，凭发票办理退换货。
    月结客户结账期内，未收到货品发票时，可凭交货单办理退换货手续。客户须保存好商品相关包装及配件等以确保退换货手续的顺利进行</p>
  <p>1）您在收到所购商品时，如发现商品缺损、赃污、型号数量不符等情况可当场提出退换货要求，我们将在第二天将新的商品免费送至您处。</p>
  <p>2）您在商品厂家规定的保修期内发现质量问题时，应立即停止使用该商品并与壹美壹家客户服务中心取得联系，壹美壹家将上门取货，
    并对商品进行检测，检测结果确定为产品质量时，壹美壹家将为您免费办理退换货手续。个别商品的质量检测须跟据厂家检测报告为准。</p>
  <p>3）办公耗材类：您在壹美壹家购买的办公耗材15天以内（商品送达之日起算）如发现质量问题，应立即与壹美壹家客户服务中心取得联系，
    并停止使用该产品，进行质量检测。客户可以自行将该产品送交厂家相关机构进行检测或将商品递交壹美壹家售后服务中心，
    由壹美壹家代为检测，壹美壹家将依据厂家检测中心的产品质量证明书进行退换货服务。</p>
  <p>4）整机类（如传真机、打印机、电脑等）：您在壹美壹家购买的整机类产品牌5天内（商品送达之日起算）如发现质量问题，
    应立即与壹美壹家客户服务中心取得联系，并停止使用该产品，
    壹美壹家将根据厂家产品检测中心的产品质量证明书为客户提供国家三包规定的退换货服务。
    家电、手机类产品的退换货按照国家三包规定办理退换货服务。</p>
  <p>5）家具类：除商品本身质量原因外，家具商品到货后不接受退换货。如要求退换货，请务必保存好商品
    （包括配件、原包装）及相关发票，以确保退换货能顺利进行。</p>
  <p>但以下情况不能退换货：</p>
  <p>1）已经打开包装的、或有曾被使用过的痕迹的商品（出墨盒类商品）。</p>
  <p>2）因客户原因，造成商品外观及外包装、使用性能等损坏时。</p>
  <p>3）没有正当理由要求将商品随意更换成其他商品时。</p>
  <p>4）特别订货：应客户要求、特别购买订制的商品，或关于直送订单、代客户采购等的商品。</p>
  <p>5）整机类产品按国家规定的三包条款执行，无质量问题时。</p>
  <p>6）已拆箱的电器类产品，家具类产品。</p>
  <p>7）签订合同的，按合同条款执行。</p>
  <p>因客户原因造成退换货的，根据具体的情况壹美壹家将收取每笔（或单）15元的服务费。
    壹美壹家将于确认收回商品及相关发票后7个工作日内以银行转账方式进行退款。</p>
  <h2>十三、注册、订购资格的取消 </h2>
  <p>1.当客户发生如下情况，或发生其他壹美壹家客户服务中心认为不当的事由时，
    壹美壹家客户服务中心有权取消该客户的注册资格，或其订购商品的资格。</p>
  <p>;1）购买壹美壹家的商品后，拖欠付款的。</p>
  <p>2）被查封，或被监察部门处理的。</p>
  <p>3）发生重组或破产的、或者被拍卖或被强制执行、或者涉入民事诉讼的。</p>
  <p>4）所开出的票据无法兑现的。</p>
  <p>5）财务状况恶化或有可能造成财务状况恶化的客观事情发生时。</p>
  <p>6）违反本使用条款中任何规定的。</p>
  <p>2.当客户违反前款任何一项时，因购买或使用壹美壹家的商品或服务而尚未偿付或尚未到期的任何债务须立即付清。</p>
  <h2>十四、注册信息的变更 </h2>
  <p>1.如客户在登记表上填写的公司名称、地址、负责人、电话和传真号码、联系人等内容发生变更时，
    请立即与壹美壹家客户服务中心联系并提交变更申请。</p>
  <p>2.如客户因未及时与壹美壹家客户服务中心联系，造成商品配送延迟或不能配送等情况的，壹美壹家不承担任何责任。</p>
  <h2>十五、争议的解决 </h2>
  <p>与本使用条款相关的一切争议，由客户和壹美壹家协商解决，经协商不能解决的，应当向壹美壹家所在地的人民法院提起诉讼。</p>
  <h2>十六、价格、价格的变更 </h2>
  <p>在商品目录有效期内，部分商品可能会发生式样。价格上的变更，另外也可能发生因生产商停止生产某种商品而造成无法供货的情况，
    这些情况发生时，壹美壹家有权变更或取消买卖协议。商品的最新价格，式样等信息以店铺以及网站公布的信息为准。</p>
  <h2>十七、使用条款的修订 </h2>
  <p>本使用条款可以不经过通知客户而直接修订。客户在本使用条款修订后，对壹美壹家商品或服务的继续使用，视为对本使用条款修订的接受。</p>
  <p>本使用条款的最终解释权，归宁波壹美壹家贸易有限公司所有</p>
</div>