<h2 class="bar_image_1000 bar_indent_8">确认订单</h2>
<div id="cart_proc" class="cart_proc_background_2">
  <ul class="h_ul">
    <li class="h_li">我的购物车</li>
    <li class="h_li white">确认订单</li>
    <li class="h_li">订单完成</li>
  </ul>
</div>
<table class="margin_top_65">
  <caption>所购商品清单预览</caption>
  <thead>
    <tr>
      <th>商品编号</th>
      <th>商品名称</th>
      <th>单价</th>
      <th>数量</th>
      <th>安装</th>
      <th>安装费用</th>
      <th>组装</th>
      <th>组装费用</th>
      <th>其他费用</th>
      <th>小计</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>800001</td>
      <td>商品名称应该要宽一些</td>
      <td>&yen;99999.99</td>
      <td>99999</td>
      <td><input type="checkbox" readonly="true" /></td>
      <td>&yen;99999.99</td>
      <td><input type="checkbox" /></td>
      <td>&yen;99999.99</td>
      <td>&yen;99999.99</td>
      <td>&yen;999999.99</td>
      <td>
        <a href="#">删除</a>
        <a href="#">收藏</a>
      </td>
    </tr>
    <tr class="even">
      <td>800001</td>
      <td>商品名称应该要宽一些</td>
      <td>&yen;99999.99</td>
      <td>99999</td>
      <td><input type="checkbox" /></td>
      <td>&yen;99999.99</td>
      <td><input type="checkbox" /></td>
      <td>&yen;99999.99</td>
      <td>&yen;99999.99</td>
      <td>&yen;999999.99</td>
      <td>
        <a href="#">删除</a>
        <a href="#">收藏</a>
      </td>
    </tr>
    <tr>
      <td>800001</td>
      <td>商品名称应该要宽一些</td>
      <td>&yen;99999.99</td>
      <td>99999</td>
      <td><input type="checkbox" /></td>
      <td>&yen;99999.99</td>
      <td><input type="checkbox" /></td>
      <td>&yen;99999.99</td>
      <td>&yen;99999.99</td>
      <td>&yen;999999.99</td>
      <td>
        <a href="#">删除</a>
        <a href="#">收藏</a>
      </td>
    </tr>
    <tr class="even">
      <td>800001</td>
      <td>商品名称应该要宽一些</td>
      <td>&yen;99999.99</td>
      <td>99999</td>
      <td><input type="checkbox" /></td>
      <td>&yen;99999.99</td>
      <td><input type="checkbox" /></td>
      <td>&yen;99999.99</td>
      <td>&yen;99999.99</td>
      <td>&yen;999999.99</td>
      <td>
        <a href="#">删除</a>
        <a href="#">收藏</a>
      </td>
    </tr>
    <tr>
      <td>800001</td>
      <td>商品名称应该要宽一些</td>
      <td>&yen;99999.99</td>
      <td>99999</td>
      <td><input type="checkbox" /></td>
      <td>&yen;99999.99</td>
      <td><input type="checkbox" /></td>
      <td>&yen;99999.99</td>
      <td>&yen;99999.99</td>
      <td>&yen;999999.99</td>
      <td>
        <a href="#">删除</a>
        <a href="#">收藏</a>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="11">商品总价：<i>9999999.99</i>元 + 安装费：<i>9999.99</i>元 + 组装费：<i>999.99</i>元 + 其他费用：<i>999.99</i>元</td>
    </tr>
    <tr>
      <td colspan="11"><strong>总计</strong>（不包含运费）：<strong><i>99999999.99</i></strong>元</td>
    </tr>
  </tfoot>
</table>
<div id="order_info_review">
  <h2>订单信息预览</h2>
  <p>收件人姓名：某某某某某某</p>
  <p>所属区域：某某某省某某某市某某某县</p>
  <p>送货地址：某某路某某某楼某某室</p>
  <p>固定电话:</p>
  <p>移动电话:</p>
  <p>电子邮件:</p>
  <p>邮政编码:</p>
  <br />
  <p>支付方式:</p>
  <br />
  <p>发票类型:</p>
  <p>开票抬头:</p>
  <br />
  <p>订单备注:</p>
  <div id="delivery_fee">
    <p>根据您订单金额和所属区域，本次购物的运费为：<strong style="color: #e73221;">&yen;20.00元</strong></p>
  </div>
  <form>
    <button type="submit" class="order_buttun">提交订单</button>
  </form>
</div>
