<h2 class="bar_image_1000 bar_indent_8">确认订单</h2>
<div id="cart_proc" class="cart_proc_background_2">
  <ul class="h_ul">
    <li class="h_li">我的购物车</li>
    <li class="h_li white">确认订单</li>
    <li class="h_li">订单完成</li>
  </ul>
</div>
<table class="margin_top_65">
  <caption>所购商品清单</caption>
  <thead>
    <tr>
      <th>商品编号</th>
      <th>商品名称</th>
      <th>单价</th>
      <th>数量</th>
      <th>安装</th>
      <th>安装费用</th>
      <th>组装</th>
      <th>组装费用</th>
      <th>其他费用</th>
      <th>小计</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>800001</td>
      <td>商品名称应该要宽一些</td>
      <td>&yen;99999.99</td>
      <td>99999</td>
      <td><input type="checkbox" readonly="true" class="check"/></td>
      <td>&yen;99999.99</td>
      <td><input type="checkbox" class="check"/></td>
      <td>&yen;99999.99</td>
      <td>&yen;99999.99</td>
      <td>&yen;999999.99</td>
      <td>
        <a href="#">删除</a>
        <a href="#">收藏</a>
      </td>
    </tr>
    <tr class="even">
      <td>800001</td>
      <td>商品名称应该要宽一些</td>
      <td>&yen;99999.99</td>
      <td>99999</td>
      <td><input type="checkbox" class="check"/></td>
      <td>&yen;99999.99</td>
      <td><input type="checkbox" class="check"/></td>
      <td>&yen;99999.99</td>
      <td>&yen;99999.99</td>
      <td>&yen;999999.99</td>
      <td>
        <a href="#">删除</a>
        <a href="#">收藏</a>
      </td>
    </tr>
    <tr>
      <td>800001</td>
      <td>商品名称应该要宽一些</td>
      <td>&yen;99999.99</td>
      <td>99999</td>
      <td><input type="checkbox" class="check"/></td>
      <td>&yen;99999.99</td>
      <td><input type="checkbox" class="check"/></td>
      <td>&yen;99999.99</td>
      <td>&yen;99999.99</td>
      <td>&yen;999999.99</td>
      <td>
        <a href="#">删除</a>
        <a href="#">收藏</a>
      </td>
    </tr>
    <tr class="even">
      <td>800001</td>
      <td>商品名称应该要宽一些</td>
      <td>&yen;99999.99</td>
      <td>99999</td>
      <td><input type="checkbox" class="check"/></td>
      <td>&yen;99999.99</td>
      <td><input type="checkbox" class="check"/></td>
      <td>&yen;99999.99</td>
      <td>&yen;99999.99</td>
      <td>&yen;999999.99</td>
      <td>
        <a href="#">删除</a>
        <a href="#">收藏</a>
      </td>
    </tr>
    <tr>
      <td>800001</td>
      <td>商品名称应该要宽一些</td>
      <td>&yen;99999.99</td>
      <td>99999</td>
      <td><input type="checkbox" class="check"/></td>
      <td>&yen;99999.99</td>
      <td><input type="checkbox" class="check"/></td>
      <td>&yen;99999.99</td>
      <td>&yen;99999.99</td>
      <td>&yen;999999.99</td>
      <td>
        <a href="#">删除</a>
        <a href="#">收藏</a>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="11" class="short_height_td">上一页 .. 1 2 3 ... 7 8 9 .. 下一页</td>
    </tr>
    <tr>
      <td colspan="11">商品总价：<i>9999999.99</i>元 + 安装费：<i>9999.99</i>元 + 组装费：<i>999.99</i>元 + 其他费用：<i>999.99</i>元</td>
    </tr>
    <tr>
      <td colspan="11"><strong>选购商品价格总计</strong>（不包含运费）：<strong><i>99999999.99</i></strong>元</td>
    </tr>
  </tfoot>
</table>
<div id="order_info">
  <form action="/order/front_orders/review" method="post">
    <fieldset>
      <legend>请输入订单信息</legend>
      <h2>收货人信息</h2>
      <p>
        <label for="receiver"><em class="remark">*</em>收件人姓名：</label>
        <input name="receiver" id="receiver" type="text" />
      </p>
      <p>
        <label for="location_province"><em class="remark">*</em>所属区域：</label>
        <select name="location_province" id="location_province">
          <option value="1">浙江省</option>
          <option value="2">江苏省</option>
          <option value="3">上海市</option>
        </select>
        <select name="location_city" id="location_city">
          <option value="1">杭州市</option>
          <option value="2">宁波市</option>
          <option value="3">绍兴市</option>
        </select>
        <select name="location_county" id="location_county">
          <option value="1">象山市</option>
          <option value="2">江北区</option>
          <option value="3">高新区</option>
        </select>
      </p>
      <p>
        <label for="address"><em class="remark">*</em>送货地址：</label>
        <input name="address" id="address" type="text" class="input_width_220" />
      </p>
      <p>
        <label for="area_num"><em class="remark">*</em>固定电话：</label>
        <input name="phone_num" id="phone_num" type="text" />
        <em class="remark">如：010-12345678，固话与手机至少填写一项</em>
      </p>
      <p>
        <label for="cellphone"><em class="remark">*</em>移动电话：</label>
        <input name="cellphone" id="cellphone" type="text" />
        <em class="remark">填写手机号便于接收发货通知短信及送货前确认</em>
      </p>
      <p>
        <label for="email">电子邮件：</label>
        <input name="email" id="email" type="text" />
        <em class="remark">用来接收订单提醒邮件，便于您及时了解订单状态</em>
      </p>
      <p>
        <label for="post">邮政编码：</label>
        <input name="post" id="post" type="text" />
        <em class="remark">有助于快速确定送货地址</em>
      </p>
      <a href="#">[保存到常用地址簿]</a>
      <h2>支付方式</h2>
      <p>
        <label for="payment_method"><em class="remark">*</em>支付方式：</label>
        <select name="payment_method" id="payment_method">
          <option>货到付款</option>
          <option>在线支付</option>
          <option>银行转账</option>
        </select>
      </p>
      <h2>发票信息</h2>
      <p>
        <label for="invoice-type"><em class="remark">*</em>发票类型：</label>
        <input name="invoice-type" id="invoice-type" type="radio" value="normal" class="input_width_35" />普通发票
        <input name="invoice-type" id="invoice-type" type="radio" value="value-added" class="input_width_35" />增值税发票
      </p>
      <p>
        <label for="invoice-title"><em class="remark">*</em>开票抬头：</label>
        <input name="invoice-title" id="invoice-title" type="radio" value="personal" class="input_width_35"/>个人
        <input name="invoice-title" id="invoice-title" type="radio" value="organization" class="input_width_35" />单位
      </p>
      <h2>订单备注<em class="remark">（如果您对订单配送或者支付有任何要求，请务必注；使用壹美壹家抵用券客户请提前注明。）</em></h2>
      <p>
        <textarea name="order_remark" id="order_remark" rows="3"></textarea>
      </p>
      <%= submit_tag "预览订单" %>
      <button type="submit" class="order_buttun">预览订单</button>
    </fieldset>
  </form>

</div>
