<h1>Listing admin_groups</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_groups.each do |admin_group| %>
  <tr>
    <td><%= link_to 'Show', admin_group %></td>
    <td><%= link_to 'Edit', edit_admin_group_path(admin_group) %></td>
    <td><%= link_to 'Destroy', admin_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Admin group', new_admin_group_path %>
