@import "home";

#level_2_banner_wrapper {
	position:relative;
	float:right;
	width: 210px;
	height: 270px;
	margin: 4px 0 0 0;}
#level_2_banner {
	position: relative;
	float: right;
  width: 208px;
  height: 200px;
	margin: 0;
	border: 1px solid #dddddd;}
.bar_indent_8 {
	width: 992px;
	padding: 0 0 0 8px;}