//= require plugin/jquery.jqzoom
//= require plugin/jquery.jcarousel
//= require core/rating/jquery.rating

#sku_details_wrapper{
  h1 {
    padding: 0px 4px 4px 4px;
    margin-bottom: 6px;
    border-bottom: 1px dashed #dddddd;
    line-height: 28px;
    vertical-align: middle;
    text-align: center;}}
.sku_details_nav {
  margin: 4px 0 10px 0;
  padding: 0 4px 0 4px;
  width:990px;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  border: 1px solid #dddddd;}
#sku_details_picture {
  position: relative;
  float: left;
  width: 400px;
  height: 456px;
  a{
    color: #FFFFFF;}}
#controller_pane {
  position: absolute;
  width: 400px;
  height: 50px;
  padding: 3px 0 3px 0;
  top: 401px;}
#controller_handler_left {
  position: absolute;
  left: 8px;
  width: 10px;
  height: 50px;
  img {
    margin: 2px 0 3px 0;}}
#controller_handler_right {
  position: absolute;
  right: 8px;
  width: 10px;
  height: 50px;
  img {
    margin: 2px 0 3px 0;}}
#controller_handler_center {
  position: absolute;
  width: 400px;
  height: 50px;
  li {
    padding: 0 5px 0 5px;}}
#sku_basic_info {
  position: relative;
  float: right;
  width: 580px;
  height: 456px;
  border: 1px solid #FFFFFF;
  padding: 5px;
  p.ad {
    float: left;
    color: #E73221;}
  p {
    position: relative;
    float: left;
    margin: 14px 0 14px 5px;
    font-size: 14px;}
  .p_1 {
    width: 70px;
    clear: both;}
  .p_2 {
    width: 100px;
    strong {
      text-decoration: line-through;}}
  .p_3 {
    width: 70px;}
  .p_4 {
    width: 100px;
    strong {
      color: #ff0000;}}
  .p_5 {
    width: 70px;}
  .p_6 {
    width: 100px}}
#sku_details_cart {
  position: relative;
  float: left;
  clear: both;
  border: 1px solid #E73221;
  margin: 10px 15px 10px 5px;
  padding: 5px;
  //background-color: lighten(#E73221, 45%);
  div {
    width: 100%;
    height: 0px;
    margin-top: 4px;
    border-bottom: 1px dashed #E73221;}
  .add_to_cart {
    position: relative;
    float: left;
    width: 167px;
    height: 39px;
    border: 0px;
    margin: 5px 0 5px 0;
    padding: 0 12px 0 0;
    font-size: 16px;
    color: #ffffff;
    text-align: right;
    cursor: pointer;
    background-color: transparent;
    background-image: url("/assets/sku_details/add_to_cart.png");}
  .add_to_cart:hover{
    curser: pointer;}

  .add_to_cart_grey {
    position: relative;
    float: left;
    width: 167px;
    height: 39px;
    border: 0px;
    margin: 5px 0 5px 0;
    padding: 0 12px 0 0;
    font-size: 16px;
    color: #ffffff;
    text-align: right;
    cursor: pointer;
    background-color: transparent;
    background-image: url("/assets/commodity/sku_details/add_to_chart_grey.png");}
  .add_to_cart:hover{
    curser: pointer;}}
#sku_details_promotion {
  position: relative;
  float: left;
  margin: 0px;
  padding: 2px;
  li {
    color: #E73221;
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
    list-style: none;}}
#add_to_favorite {
  position: relative;
  float: right;
  width: 68px;
  height: 30px;
  border: 0px;
  padding: 0px;
  margin: 14px 0 0px 0px;
  cursor: pointer;
  background-image: url("/assets/sku_details/add_to_fav.png");
  font-size: 14px;
  padding-left: 20px;}
.sku_long {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  margin: 5px 0 0 0;
  padding: 5px 0 0 0;
  border-top: 1px dashed #dddddd;
  h3 {
    color: #E73221;}}
#sku_browser_history {
  ul {
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px 30px;}
  li {
    width: 165px;
    float: left;
    list-style: none;
    margin: 10px;
    a.white {
      text-align: center;
      color: #FFFFFF;}
    p {
      text-align: center;}}
  li:hover {
    background: lighten(#DDDDDD, 10%);}}
//Notification for add_to_cart
.failed {
  position: relative;
  float: right;
  padding: 2px;
  border: 1px solid #E73221;
  color: #E73221;
  background-color: lighten(#E73221, 45%);}

.successful {
  position: relative;
  float: left;
  margin: 10px;
  padding: 2px;
  border: 1px solid green;
  color: green;
  background-color: lighten(green, 65%);}

.zoomPad {
  img {
    outline: 1px solid #DDDDDD;}}


//评论
#sku_comments {
  .item {
    padding: 10px 15px 5px;
    border: 1px solid #F3E6C6;
    background: #FFFCF5;
    margin-top: 10px;
  }
  .topic {
    padding: 0 0 2px;
    margin-bottom: 10px;
    border-bottom: 1px solid #F9F0DB;
    overflow: hidden;
    zoom: 1;
  }
  .date {
    float: right;
    color: #999;
  }
}