<div class="alert alert-info">
  <button class="close rule_close" data-dismiss="alert" data-id="<%= object.id %>">×</button>
  <div class="control-group decimal required">
  	<label class="decimal required control-label">
  		<%= object.rule_type_name %>
  	</label>
		<div class="controls">
			<input class="numeric decimal required" name="item_total" step="any" type="number" value="<%= object.item_total %>">
		</div>
	</div>
</div>