// Place all the styles related to the order/front_orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "public";

.order_button {
	background-image:url(/assets/cart_skuships/chartbutton01.png);
	width: 102px;
	height: 33px;
	line-height: 28px;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	border: 0px;}
button.order_button:hover {
  background-image:url(/assets/cart_skuships/chartbutton02.png);
  cursor: pointer;}
table {
  .check {
  width: 20px;}}
#order_info {
  label {
    float: left;
    width: 80px;
    height: 23px;
    line-height:23px;
    vertical-align:middle;
    text-align: right;
    margin: 0 10px 0 10px;}}
fieldset {
  h2 {
    color: $text_red;
    margin: 8px 0 8px 4px;}
  a {
      font-size: 12px;
      cursor: pointer;}
  br {
    + button:hover {
      background-image: none;}}}
textarea {
  width: 550px;
  height: 50px;}
.remark {
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  color: $text_red;}
legend {
  font-weight: bold;
  font-size: 14px;}
fieldset {
  border: 1px solid #999999;
  padding: 4px;
  margin: 10px 0 0 0;
  p {
    + input:hover {
    background-image:url(/assets/cart_skuships/chartbutton02.png);
    cursor: pointer;}}}
.short_height_td {  //This style is for the pagination in the tfoot.
  height: 20px;
  line-height: 20px;
  virtical-align: middle;
  text-align: center;}

.error_info{
  background: #FFECEC;
  border: #F34956 solid 1px;
  color: #C00;
  margin: 0 0 5px 3px;
  padding: 2px;}

//Order Review Page Style.
#order_info_review {
  position: relative;
  margin: 4px 0 0 0;
  padding: 4px;
  font-size: 14px;
  border: 1px solid #999999;}
#delivery_fee {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px;
  font-size: 16px;
  border: 1px solid $text_red;
  background-color: lighten($text_red, 45%);
  strong {
    color: $text_red;}}

//Order Complete Page Style.
#order_complete_note {
	border: 1px solid #999999;
	width: 990px;
	margin: 10px 0 0 0;
	padding: 4px;
  li {
    line-height: 32px;
    vertical-align: middle;
    font-size: 14px;
    list-style: square;}}
#payment_note {
	border: 1px solid #999999;
	width: 990px;
	margin: 10px 0 0 0;
	padding: 4px;
  p {
    margin: 0px;
    font-size: 14px;
    text-align: center;}
  li {
    line-height: 32px;
    vertical-align: middle;
    font-size: 14px;
    list-style: square;
    i {
	    font-style: normal;}}}

#order_info_review {
	position: relative;
	float: left;
	border: 1px solid #999999;
	width: 990px;
	margin: 10px 0 0 0;
	padding: 4px;
	font-size: 14px;}

.order_split_details {
  width: 100%;
  th {
    line-height: 26px;
    vertical-align:middle;
    background:url('/assets/templates/titlebar/bar_bg_1_35.png');}
  caption {
    text-align:left;
    font-size: 16px;
    padding: 4px 0 4px 40px;}
  tfoot {
    tr:hover {
      background-color:transparent;
      td {
        color:#333333;}}
    td {
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      font-size: 16px;
      text-align: right;}
    tr {
      td {
        i {
          font-style: normal;
          color: $text_red;}}}}}

.order_sku_details {
  width: 100%;
  th {
    line-height: 26px;
    vertical-align:middle;
    background:url('/assets/templates/titlebar/bar_bg_1_35.png');
    min-width: 80px;}
  caption {
    text-align:left;
    font-size: 16px;
    padding: 4px 0 4px 40px;}
  thead {
    tr:hover {
      color: #333333;}}
  .even {
    background: #dddddd;}
  tr:hover {
    background: $text_red;
    color: #ffffff;
    a {
      color: #ffffff;
      text-decoration:underline;}
    a:hover {
      text-decoration:none;}}
  tr {
    td {
      a {
        margin: 0px 5px;}
      input {
        width: 40px;
        text-align: center;}}}
  tfoot {
    tr:hover {
      background-color:transparent;
      td {
        color:#333333;
        a {
          color: #333333;
          text-decoration: none;}
        a:hover {
          color: #E73221;}}}
    td {
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      font-size: 16px;
      text-align: right;}
    tr {
      td {
        i {
          font-style: normal;
          color: $text_red;}}}}}

#type_invoice {
  label {
    width: 100px;}}
#user_address {
  td {
    font-size: 12px;}
  input {
    width: 20px;}}
#consignee_form {
  p {
    line-height: 23px;
    vertical-align: middle;
    min-height:23px;}}
//#title_company_name {
//  position: absolute;
//  top: 427px;
//  left: 230px}

// Table General Style
table, thead, tfoot, tbody, tr, th, td {
	border-collapse: collapse;
	border: 1px solid #999999;
	padding: 4px 10px;
	text-align: center;
	font-size: 14px;}



