<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content pub">
  <h1>壹美壹家2012春节假期配送安排公告</h1>
  <br />
  <h2>尊敬的壹美壹家顾客：您好！</h2>
  <p>感谢您一直以来对我们的支持与信赖，春节假期即将来临！ 根据国务院办公厅下发的有关春节放假规定，壹美壹家的工作时间做如下调整：</p>
  <p>假期前后的送货安排如下：</p>

  <table>
    <thead>
      <tr>
        <th>接单截止日期</th>
        <th>推荐下单方式</th>
        <th>配送日期</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1月19日</td>
        <td>网站下单,400电话下单</td>
        <td>1月20日</td>
      </tr>
      <tr>
        <td>1月20日—1月21日</td>
        <td>网站下单,400电话下单</td>
        <td>1月30日</td>
      </tr>
      <tr>
        <td>1月29日</td>
        <td>网站下单</td>
        <td>1月31日</td>
      </tr>
    </tbody>
  </table>
  <h2>2012年1月22日－2012年1月28日休息</h2>
  <p>假期内壹美壹家网站(www.emehome.cn)继续接受您的订单。</p>
  <h2>2012年1月30日起公司恢复正常营业</h2>
  <em>※温馨提示,请注意提前订货以避免送货高峰时间</em><br />
  <em>部分客户经理可能会提前放假,订单和商品咨询请您拨打400电话</em>
  <p>再次感谢您的支持与厚爱，壹美壹家将竭诚为您提供更好的商品与服务，祝您假期愉快！</p>
  <p>如有疑问,请拨打全国统一客服热线 400-630-5006 咨询。</p>
</div>