<h1>Listing admin_groups</h1>

<div class="page_content">
    <div class ="basic_form">
      <%=raw jqgrid("Listing test5s", "admin_groups", "/admin_groups",
        [
        { :field => "group_no", :label => "name" },
        { :field => "group_desc", :label => "description" }
        ] , {:autowidth=>true}
    ) %>
    </div>
</div>

<br />

<%= link_to 'New Admin group', new_admin_admin_group_path %>
