<div class="page_content">
    <div class ="basic_form">
      <%=raw jqgrid("管理员组列表", "admin_groups", "/admin/admin_groups",
        [
        { :field => "group_no", :label => "no", :width=>"500"},
        { :field => "group_name", :label => "name" },
        { :field => "group_desc", :label => "description" }
        ] , {:height=>"$('.ui-layout-center').height()-70",:width=>"1000"}

    ) %>
    </div>
</div>

<br />

<%= link_to 'New Admin group', new_admin_admin_group_path %>
