.nav {
  margin: 4px 0 10px 0;
  padding: 0 4px 0 4px;
  width: 990px;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  border: 1px solid #DDDDDD;}

#index_left {
  float: left;
  width: 218px;
  padding: 0px;
  padding-bottom: 4px;
  border: 1px solid #DDDDDD;
  h2 {
    width: 214px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    padding-left: 4px;
    color: #E73221;
    background-image: url('/assets/templates/titlebar/bar_bg_1_30.png');}
  h3 {
    width: 210px;
    padding: 4px;
    text-align: right;
    border-bottom: 1px dashed #DDDDDD;
    background-color: lighten(#DDDDDD, 10%);}
  h4 {
    width: 202px;
    padding: 4px 8px;
    margin-bottom: 4px;
    border-bottom: 1px dashed #E73221;
    color: #E73221;
    background-color: lighten(#E73221, 45%);
    a {color: #E73221;}}}

#index_right {
  float: right;
  width: 770px;
  padding: 0px;
  #index_controller {
    width: 770px;
    #index_conditions_up {
      float: left;
      width: 100%;
      border-bottom: 3px solid #E73221;
      p {
        padding: 4px 0 0 0;
        margin: 12px 0px 0px 0px;}}
    #index_conditions_down {
      float: left;
      width: 100%;
      background-color: lighten(#DDDDDD, 10%);}
    .h_ul {
      margin: 0;
      padding: 0;
      list-style: none;}
    .h_li {
      display: block;
      width: 88px;
      float: left;
      font-size: 14px;
      text-align: center;
      padding: 4px 0 0 0;
      margin: 12px 0px 0px 10px;
      background: #DDDDDD;}
    .h_li:hover {
      background: lighten(#ED2E2A, 40%);
      outline: 1px solid #E73221;
      a {
        color: #E73221;
        text-decoration: underline;}
      span {
        color: #E73221;}}
    .current_tab {
      background: #ED2E2A;
      a {
        color: #FFFFFF;
        outline: #DDDDDD;}
      span {
        color: #FFFFFF;
        padding-left: 4px;}}
    .index_overall_result{
      margin: 0px;
      padding: 4px;
      border-top: 3px solid #E73221;
      font-size: 16px;
      color: #E73221;
      background-color: lighten(#E73221, 45%);}}}
.float_left {
  float: left;}
.float_right {
  float: right;}
.height_20 {
  height: 20px;
  line-height: 20px;
  vertical-align: middle;}
.height_25_margin_right_40 {
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  margin-right: 40px;}
.w_20 {
  width: 20px;}
.w_40 {
  width: 40px;}
.margin_top_10 {
  margin-top: 5px;}
.clear_both {
  clear: both;}

#index_result {
  width: 100%;
  float: left;
  .sku_list_ul{
    width: 100%;}
  .sku_list_li{
    width: 181px;
    height: 200px;
    button {
      cursor: pointer;}}}

.pagination {
  float: right;
  margin-top: 15px;}


