p {
  position: relative;
  float: left;
  margin: 0px;
  height: 24px;
  line-height: 24px;
  virtical-align: middle;
  label {
    position: relative;
    float: left;
    text-align: right;
    margin-left: 20px;}
  input {
    position: relative;
    float: left;}}
span {
  position: relative;
  float: left;
  height: 24px;
  line-height: 24px;
  virtical-align: middle;}
input {
  margin: 2px 0px;}
input.float_l {
  position: relative;
  float: left;}
p.right {
  position: relative;
  float: right;}
p.button {
  display: block;
  background: #FFCC66;
  padding: 0px 10px;}
p.purchase_order_info {
  position: relative;
  float: left;
  text-align: left;
  height: 20px;
  line-height: 20px;
  virtical-align: middle;
  margin: 0px;}
#purchase_amount {
  position: relative;
  float: left;
  width: 100%;
  border-bottom: 1px solid #999999;
  em {
    height: 28px;
    line-height: 28px;
    virtical-align: middle;}}
#expected_arrival_date {
  position: relative;
  float: left;
  width: 100%;
  border-bottom: 1px solid #000000;}
.control_panel {
  position: relative;
  float: left;
  width: 100%;
  padding: 4px;
  border-bottom: 1px solid #999999;
  div {  //新建采购单，订货公司选择器特殊样例，希望今后helper能改进。
    position: relative;
    float: left;
    width: auto;
    margin-bottom: 0px;
    select {
      width: 250px;}}
  span.standard {
    width: 250px;}
  p.standard {
    width: 250px;}
  p.short {
    width: 100px;}
  p.long {
    width: 350px;}
  label.margin_l_475 {
    margin-left: 475px;}
  label.margin_l_395 {
    margin-left: 395px;}}
#button_panel {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 30px;
  text-align: right;
  a {
    padding: 5px 10px;
    margin: 0px 20px;}
  a.orange {
    background-color: #FFCC66;}
  a.green {
    background-color: #1188CC;}
  a.grey {
    background-color: #dcdcdc;}}

#purchase_controller_panel {
  padding: 4px;
  label {
    min-width: 40px;
    width: auto;}}
#purchase_order_list {
  td.fix_height {
    height: 16px;
    background-color: #FFFFFF;}
  td {
    a {
      margin: 0px 2px;}}}
table#store_entries {
  width: auto;
  td {
    padding: 2px;
    border: 1px solid #999999;}}
table {
  tfoot {
    tr {
      border: none;
      background-color: transparent;
      td.align_left {
        text-align: left;
        padding-left: 20px;}
      .subtotal {
        color: #E73221;
        text-decoration: underline;}}}}
#search_control_panel {
  margin: 30px 0px 5px 0px;}
#purchase_delivery_date_control_panel {
  border-top: 1px solid #999999;
  margin: 30px 0px 10px 0px;
  padding-top: 5px;
  label {
    clear: both;}}

//Purchase Review Page Style
#purchase_review_info {
  li {
    list-style: none;}
  label {
    clear: both;}}