<h3>网站公告</h3>
<hr />
<ul class="trk-ul-list">
	<% @announcements.each do |announcement| %>
  	<li class="trk-home-announcement">
  		<%= link_to announcement.title, "/index/announcements/#{announcement.id}" %>
  	</li>
  <% end %>
</ul>