<div id="login_success_wrapper">
  <%= image_tag "rails.png", :width => "50px", :height => "50px" %>
  <h1>恭喜，注册成功！</h1>

  <p>亲爱的 用户真实姓名：</p>
  <p class="indent">感谢您注册<a href="#">壹美壹家网上商城</a>，我们将为您提供最贴心的服务，祝您购物愉快。</p>
  <p class="indent">以下是您的注册信息：</p>

  <p>您的用户名：<em>fentick</em></p>
  <p>您的注册邮箱：<em>fentick@email.com</em></p>

  <p class="indent">
    登陆商城购物或查看订单信息需要输入您的用户名和密码。建议您保管好自己的密码和邮箱！如忘记密码，请点此
    <a href="">找回密码</a>。
  </p>

  <a href="#">回到首页</a>
  <a href="#">进入我的主页</a>
</div>