// Place all the styles related to the cart_skuships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "public";

.order_button {
	background-image:url(/assets/cart_skuships/chartbutton01.png);
	width: 102px;
	height: 33px;
	line-height: 28px;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	border: 0px;}
button.order_button:hover {
  background-image:url(/assets/cart_skuships/chartbutton02.png);
  cursor: pointer;}
.short_height_td {
  height: 20px;
  line-height: 20px;
  virtical-align: middle;
  text-align: center;}

.order_sku_details {
  width: 100%;
  border: 1px solid #999999;
  border-collapse: collapse;
  font-size: 14px;
  th {
    line-height: 26px;
    vertical-align:middle;
    background:url('/assets/templates/titlebar/bar_bg_1_35.png');
    border: 1px solid #999999;}
  caption {
    text-align:left;
    font-size: 16px;
    padding: 4px 0 4px 40px;}
  thead {
    tr:hover {
      color: #333333;}}
  .even {
    background: #dddddd;}
  tr:hover {
    background: $text_red;
    color: #ffffff;
    a {
      color: #ffffff;
      text-decoration:underline;}
    a:hover {
      text-decoration:none;}}
  tr {
    td {
      border: 1px solid #999999;
      text-align: center;
      font-size: 12px;
      input {
        width: 40px;
        text-align: center;}
      .check {
        width: 20px;}}}
  tfoot {
    tr:hover {
      background-color:transparent;
      td {
        color:#333333;}}
    td {
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      font-size: 16px;
      text-align: right;}
    tr {
      td {
        i {
          font-style: normal;
          color: $text_red;}}}}}


