<caption>常用收货地址</caption>
<tbody>
  <% @order.user.user_addresses.each do |user_address| %>
    <tr>
      <td><%= radio_button_tag :user_address_id, user_address.id, nil, :class => "user_address_radio" %></td>
      <td><%= user_address.district.address %></td>
      <td><%= user_address.address %></td>
    </tr>
  <% end %>
</tbody>