<h2 class="bar_image_220 bar_center">您浏览过的商品</h2>  <!--2012/01/15 - Jimmy -->
<ul class="recent_visited_ul">
  <% @sku_browsing_histories.each do |history| %>
    <li class="recent_visited_li">
      <%= link_to (image_tag history.sku.main_img, :width => "40px", :height => "40px;"), commodity_sku_detail_path(history.sku_id), :target => "_blank" %>
      <div>
        <i style="font-style:normal"><%= link_to history.sku.name[0,28], commodity_sku_detail_path(history.sku_id), :target => "_blank" %></i>
        <i style="font-style:normal"><%= cny history.sku.cost_aft_tax %></i>
      </div>
    </li>
  <% end %>
</ul>