<ul class="h_ul sku_list_ul">
  <% @skus.each do |sku| %>
    <li class="h_li sku_list_li">
      <img src="<%= sku.sku_images[0].image.url if !sku.sku_images[0].nil?%>" width=120px height=120px />
      <p class="sku_list_p overflow_text"><%= sku.name %></p>
      <p class="sku_list_p">原价：&yen;<%= sku.cost_aft_tax %></p>
      <strong>现价：&yen;<%= sku.cost_aft_tax %></strong>
    </li>
  <% end %>
</ul>