<div style="position: absolute; top: 0px; left: 0px;"><h2 class="bar_image_550">热销产品</h2></div>

<div id="panic_buying" class="smallslider">
  <ul>
    <% @panic_buyings.each do |buy| %>
      <li><a href="<%= buy.href %>" target="_blank"><img src="<%= buy.image.url %>" title="" alt="<%= buy.name %>" /></a></li>
    <% end %>
  </ul>
</div>

<% content_for :ready do %>
  jQuery('#panic_buying').smallslider({
   showText:false
  });
<% end %>
