<div id="main">
  <div id="main_menu_wrapper">
    <div class="titlefont">
      <h2>所有商品分类</h2>
    </div>
    <ul id="main_menu">
      <li style=" height:35px;">
        <a href='#'>OA*PC用品</a>
        <div class="cms_submenu">
          <div class="cmsmenuleft">
            <dl class="menu_recommend">
              <dt><a href="#">OA耗材</a></dt>
              <dd>
                <i><a href=''>激光硒鼓</a></i>
                <i><a href=''>喷墨墨盒</a></i>
                <i><a href=''>喷墨墨盒用墨水</a></i>
                <i><a href=''>FAX用墨粉.墨水.色带</a></i>
                <i><a href=''>打印机用色带</a></i>
              </dd>
              <div class="clear"></div>
              <dt><a href="#">OA用纸</a></dt>
              <dd>
                <i><a href=''>FAX用纸</a></i>
                <i><a href=''>复印用纸</a></i>
                <i><a href=''>电脑票据用纸</a></i>
              </dd>
              <div class="clear"></div>
              <dt><a href="#">PC用品</a></dt>
              <dd>
                <i><a href=''>插座</a></i>
              </dd>
              <div class="clear"></div>
              <dt><a href="#">商务电器</a></dt>
              <dd>
                <i><a href=''>喷墨打印机</a></i>
                <i><a href=''>复印/打印复合机</a></i>
                <i><a href=''>复印机</a></i>
                <i><a href=''>针式打印机</a></i>
                <i><a href=''>传真</a></i>
                <i><a href=''>激光打印机</a></i>
                <i><a href=''>电话机</a></i>
              </dd>
              <div class="clear"></div>
              <dt><a href="#">多媒体用品</a></dt>
              <dd>
                <i><a href=''>存储卡</a></i>
              </dd>
              <div class="clear"></div>
              <dt><a href="#">电化消耗品</a></dt>
              <dd>
                <i><a href=''>电池</a></i>
              </dd>
              <div class="clear"></div>
              <dt><a href="#">事务机器</a></dt>
              <dd>
                <i><a href=''>碎纸机</a></i>
                <i><a href=''>考勤机</a></i>
                <i><a href=''>考勤卡</a></i>
                <i><a href=''>计算器</a></i>
              </dd>
              <div class="clear"></div>
              <dt><a href="#">活动推荐</a></dt>
              <dd>
                <i><a href='#'>[特卖] 蓝威尔价格更低、价值更高</a></i>
                <i><a href='#'>[低价] 低价复印纸热浪来袭</a></i>
              </dd>
            </dl>
          </div>
          <div class="cmsmenuright">
              <dl>
                <dt>推荐品牌</dt>
                <dd>
                  <i><a href='#'>金太阳</a></i>
                  <i><a href='#'>高峰</a></i>
                  <i><a href='#'>UPM</a></i>
                  <i><a href='#'>安妮</a></i>
                  <i><a href='#'>格之格</a></i>
                  <i><a href='#'>得力</a></i>
                  <i><a href='#'>惠普</a></i>
                  <i><a href='#'>格之格</a></i>
                  <i><a href='#'>得力</a></i>
                  <i><a href='#'>惠普</a></i>
                  <i><a href='#'>UPM</a></i>
                  <i><a href='#'>安妮</a></i>
                  <i><a href='#'>格之格</a></i>
                  <i><a href='#'>得力</a></i>
                  <i><a href='#'>惠普</a></i>
                  <i><a href='#'>格之格</a></i>
                  <i><a href='#'>得力</a></i>
                  <i><a href='#'>惠普</a></i>
                </dd>
              </dl>
            </div>
          <div class="clear"></div>
        </div>
      </li>
      <li style="padding: 0 0 0 8px;">
        <div class="separator"></div>
      </li>
      <li style=" height:35px;"><a href='#'>文具办公用品</a>
      <div class="cms_submenu">
        <div class="cmsmenuleft">
            <dl class="menu_recommend">
                  <dt><a href="#">OA耗材</a></dt>
                  <dd>
                    <i><a href=''>激光硒鼓</a></i>
                    <i><a href=''>喷墨墨盒</a></i>
                    <i><a href=''>喷墨墨盒用墨水</a></i>
                    <i><a href=''>FAX用墨粉.墨水.色带</a></i>
                    <i><a href=''>打印机用色带</a></i>
                  </dd>
                  <div class="clear"></div>
                  <dt><a href="#">OA用纸</a></dt>
                  <dd>
                    <i><a href=''>FAX用纸</a></i>
                    <i><a href=''>复印用纸</a></i>
                    <i><a href=''>电脑票据用纸</a></i>
                  </dd>
                  <div class="clear"></div>
                  <dt><a href="#">PC用品</a></dt>
                  <dd>
                    <i><a href=''>插座</a></i>
                  </dd>
                  <div class="clear"></div>
                  <dt><a href="#">商务电器</a></dt>
                  <dd>
                    <i><a href=''>喷墨打印机</a></i>
                    <i><a href=''>复印/打印复合机</a></i>
                    <i><a href=''>复印机</a></i>
                    <i><a href=''>针式打印机</a></i>
                    <i><a href=''>传真</a></i>
                    <i><a href=''>激光打印机</a></i>
                    <i><a href=''>电话机</a></i>
                  </dd>
                  <div class="clear"></div>
                  <dt><a href="#">多媒体用品</a></dt>
                  <dd>
                    <i><a href=''>存储卡</a></i>
                  </dd>
                  <div class="clear"></div>
                  <dt><a href="#">电化消耗品</a></dt>
                  <dd>
                    <i><a href=''>电池</a></i>
                  </dd>
                  <div class="clear"></div>
                  <dt><a href="#">事务机器</a></dt>
                  <dd>
                    <i><a href=''>碎纸机</a></i>
                    <i><a href=''>考勤机</a></i>
                    <i><a href=''>考勤卡</a></i>
                    <i><a href=''>计算器</a></i>
                  </dd>
                  <div class="clear"></div>
                  <dt><a href="#">活动推荐</a></dt>
                  <dd>
                    <i><a href='#'>[特卖] 蓝威尔价格更低、价值更高</a></i>
                    <i><a href='#'>[低价] 低价复印纸热浪来袭</a></i>
                  </dd>
                </dl>
          </div>
        <div class="cmsmenuright">
          <dl>
            <dt>推荐品牌</dt>
            <dd>
              <i><a href='#'>金太阳</a></i>
              <i><a href='#'>高峰</a></i>
              <i><a href='#'>UPM</a></i>
              <i><a href='#'>安妮</a></i>
              <i><a href='#'>格之格</a></i>
              <i><a href='#'>得力</a></i>
              <i><a href='#'>惠普</a></i>
              <i><a href='#'>格之格</a></i>
              <i><a href='#'>得力</a></i>
              <i><a href='#'>惠普</a></i>
              <i><a href='#'>UPM</a></i>
              <i><a href='#'>安妮</a></i>
              <i><a href='#'>格之格</a></i>
              <i><a href='#'>得力</a></i>
              <i><a href='#'>惠普</a></i>
              <i><a href='#'>格之格</a></i>
              <i><a href='#'>得力</a></i>
              <i><a href='#'>惠普</a></i>
            </dd>
          </dl>
        </div>
        <div class="clear"></div>
      </div>
      </li>
        <li style="padding: 0 0 0 8px;">
          <div class="separator"></div>
        </li>
        <li style=" height:35px;"><a href='#'>生活用品</a></li>
        <li style="padding: 0 0 0 8px;">
          <div class="separator"></div>
        </li>
        <li style=" height:35px;"><a href='#'>办公家具</a></li>
        <li style="padding: 0 0 0 8px;">
          <div class="separator"></div>
        </li>
        <li style=" height:35px;"><a href='#'>生活家具</a></li>
        <li style="padding: 0 0 0 8px;">
          <div class="separator"></div>
        </li>
        <li style=" height:35px;"><a href='#'>家居饰品</a></li>
    </ul>
  </div>
  <div id="slider_bar">
    <%= render "slider_bar" %>
  </div>
    <div id="login_bar">
      <div id="tabs" class="box">
        <ul>
          <li><a href="#tabs-1">登陆</a></li>
          <li><a href="#tabs-2">商场公告</a></li>
        </ul>
        <div id="tabs-1" class="content">
          <form>
            <p>
              <label for="loginname">用户：</label>
              <input name="loginname" id="loginname" type="text" />
            </p>
            <p>
              <label for="password">密码：</label>
              <input name="password" id="password" type="text" />
            </p>
              <img src="images/code.png" width="60 px" height="20px" />
            <p>
              <label for="captcha">验证码：</label>
              <input name="captcha" id="captcha" maxlength="4" size="4" style="width: 40px; height: 16px;"/>
            </p>
            <p>
              <button type="submit">登陆</button>
              <button type="reset">重置</button>
              <a href="#">看不清？</a>
            </p>
            <p style="margin: 4px 0 2px 0; padding: 0 12px 0 0;">
              <a href="#">立即注册</a> | <a href="#">忘记密码</a>
            </p>
          </form>
        </div>
        <div id="tabs-2" class="content">
          <ul>
            <li><a href="#">公告壹有多少字会换行呢？现共</a></li>
            <li><a href="#">十四字会换行十六十六十六十六</a></li>
            <li><a href="#">十四字会换行十六十六十六十六</a></li>
            <li><a href="#">应该是左对齐</a></li>
            <li><a href="#">六行后会超过边界</a></li>
            <li><a href="#">六行后会超过边界</a></li>
          </ul>
        </div>
      </div>

      <div id="banner_1">
        <img src="/images/xszk_208_130.png" />
      </div>
    </div>



    <div id="banner_2">
      <h2 class="bar_image_220">您浏览过的商品</h2>
      <ul class="recent_visited_ul">
        <li class="recent_visited_li">
          <img src="images/kaixin.png" />
          <div>
            <i style="font-style:normal"><a href="#">canon 佳能原装 BCI-</a></i>
            <i style="font-style:normal">&yen;99999.99</i>
          </div>
        </li>
        <li class="recent_visited_li">
          <img src="images/kaixin.png" />
          <div>
            <i style="font-style:normal"><a href="#">canon 佳能原装 BCI-</a></i>
            <i style="font-style:normal">&yen;99999.99</i>
          </div>
        </li>
        <li class="recent_visited_li">
          <img src="images/kaixin.png" />
          <div>
            <i style="font-style:normal"><a href="#">canon 佳能原装 BCI-</a></i>
            <i style="font-style:normal">&yen;99999.99</i>
          </div>
        </li>
      </ul>
    </div>
    <div id="banner_3">
      <%= render "panic_buying" %>
    </div>
    <div id="banner_4">
      <img src="/images/zmbj_208_130.png" />
    </div>
    <div id="banner_5">
      <img src="images/category/bar1_1000_60.png" />
    </div>
    <!-- 1st SKU List Starts -->
    <div class="sku_category">
      <h2 class="bar_image_1000">OA PC产品</h2>
      <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
        <ul class="h_ul">
          <li class="h_li"><a href="#" class="special_blue">标题栏推荐</a></li>
          <li class="h_li"><a href="#" class="special_blue">标题栏推荐</a></li>
          <li class="h_li"><a href="#">更多…</a></li>
        </ul>
      </div>
      <div class="sku_list_left_col"> <!--SKU List's left column -->
        <p>160px*363px without borders.</p>
      </div>
      <ul class="h_ul sku_list_ul">
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">十个字后会换</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
      </ul>
      <div class="sku_list_sort">
        <h3 class="sku_list_bar_short">本类产品热销排行</h3>
        <div class="sku_list_sort_hot">
          <div id="sku_sort_0" class="has_children">
              <span>第1章-认识jQuery</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第2章-jQuery选择器</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第3章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第4章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第5章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第3章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
        </div>
      </div>
    </div>
    <!-- 1st SKU List Ends -->
    <!-- 2nd SKU List Starts -->
    <div class="sku_category">
      <h2 class="bar_image_1000">文具办公用品</h2>
      <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
        <ul class="h_ul">
          <li class="h_li"><a href="#" class="special_blue">标题栏推荐</a></li>
          <li class="h_li"><a href="#" class="special_blue">标题栏推荐</a></li>
          <li class="h_li"><a href="#">更多…</a></li>
        </ul>
      </div>
      <div class="sku_list_left_col"> <!--SKU List's left column -->
        <p>160px*363px without borders.</p>
      </div>
      <ul class="h_ul sku_list_ul">
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">十个字后会换</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
      </ul>
      <div class="sku_list_sort">
        <h3 class="sku_list_bar_short">本类产品热销排行</h3>
        <div class="sku_list_sort_hot">
          <div id="sku_sort_1" class="has_children">
              <span>第1章-认识jQuery</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第2章-jQuery选择器</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第3章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第4章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第5章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第3章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
        </div>
      </div>
    </div>
    <!-- 2nd SKU List Ends -->
    <div id="banner_6">
      <img src="images/category/bar2_1000_60.png" />
    </div>
    <!-- 3rd SKU List Starts -->
    <div class="sku_category">
      <h2 class="bar_image_1000">生活用品</h2>
      <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
        <ul class="h_ul">
          <li class="h_li"><a href="#" class="special_blue">标题栏推荐</a></li>
          <li class="h_li"><a href="#" class="special_blue">标题栏推荐</a></li>
          <li class="h_li"><a href="#">更多…</a></li>
        </ul>
      </div>
      <div class="sku_list_left_col"> <!--SKU List's left column -->
        <p>160px*363px without borders.</p>
      </div>
      <ul class="h_ul sku_list_ul">
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">十个字后会换</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
      </ul>
      <div class="sku_list_sort">
        <h3 class="sku_list_bar_short">本类产品热销排行</h3>
        <div class="sku_list_sort_hot">
          <div id="sku_sort_2" class="has_children">
              <span>第1章-认识jQuery</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第2章-jQuery选择器</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第3章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第4章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第5章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第3章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
        </div>
      </div>
    </div>
    <!-- 3rd SKU List Ends -->
    <!-- 4th SKU List Starts -->
    <div class="sku_category">
      <h2 class="bar_image_1000">办公家具</h2>
      <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
        <ul class="h_ul">
          <li class="h_li"><a href="#" class="special_blue">标题栏推荐</a></li>
          <li class="h_li"><a href="#" class="special_blue">标题栏推荐</a></li>
          <li class="h_li"><a href="#">更多…</a></li>
        </ul>
      </div>
      <div class="sku_list_left_col"> <!--SKU List's left column -->
        <p>160px*363px without borders.</p>
      </div>
      <ul class="h_ul sku_list_ul">
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">十个字后会换</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
      </ul>
      <div class="sku_list_sort">
        <h3 class="sku_list_bar_short">本类产品热销排行</h3>
        <div class="sku_list_sort_hot">
          <div id="sku_sort_3" class="has_children">
              <span>第1章-认识jQuery</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第2章-jQuery选择器</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第3章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第4章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第5章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第3章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
        </div>
      </div>
    </div>
    <!-- 4th SKU List Ends -->
    <div id="banner_7">
      <img src="images/category/bar3_1000_60.png" />
    </div>
    <!-- 5th SKU List Starts -->
    <div class="sku_category">
      <h2 class="bar_image_1000">生活家具</h2>
      <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
        <ul class="h_ul">
          <li class="h_li"><a href="#" class="special_blue">标题栏推荐</a></li>
          <li class="h_li"><a href="#" class="special_blue">标题栏推荐</a></li>
          <li class="h_li"><a href="#">更多…</a></li>
        </ul>
      </div>
      <div class="sku_list_left_col"> <!--SKU List's left column -->
        <p>160px*363px without borders.</p>
      </div>
      <ul class="h_ul sku_list_ul">
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">十个字后会换</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
      </ul>
      <div class="sku_list_sort">
        <h3 class="sku_list_bar_short">本类产品热销排行</h3>
        <div class="sku_list_sort_hot">
          <div id="sku_sort_4" class="has_children">
              <span>第1章-认识jQuery</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第2章-jQuery选择器</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第3章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第4章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第5章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第3章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
        </div>
      </div>
    </div>
    <!-- 5th SKU List Ends -->
    <!-- 6th SKU List Starts -->
    <div class="sku_category">
      <h2 class="bar_image_1000">家具饰品</h2>
      <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
        <ul class="h_ul">
          <li class="h_li"><a href="#" class="special_blue">标题栏推荐</a></li>
          <li class="h_li"><a href="#" class="special_blue">标题栏推荐</a></li>
          <li class="h_li"><a href="#">更多…</a></li>
        </ul>
      </div>
      <div class="sku_list_left_col"> <!--SKU List's left column -->
        <p>160px*363px without borders.</p>
      </div>
      <ul class="h_ul sku_list_ul">
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">十个字后会换</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
        <li class="h_li sku_list_li">
          <img src="images/logo-60.png" width=120px height=120px />
          <p class="sku_list_p">商品名称可以有十个字</p>
          <p class="sku_list_p">原价：&yen;99999.00</p>
          <strong>现价：&yen;11111.11</strong>
        </li>
      </ul>
      <div class="sku_list_sort">
        <h3 class="sku_list_bar_short">本类产品热销排行</h3>
        <div class="sku_list_sort_hot">
          <div id="sku_sort_5" class="has_children">
              <span>第1章-认识jQuery</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第2章-jQuery选择器</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第3章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第4章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第5章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
          <div class="has_children">
              <span>第3章-jQuery中的DOM操作</span>
              <a><img src="images/media.jpg" /></a>
              <a>商品名称</a>
              <a class="sku_list_sort_hot_bottom_line"><strong>&yen;99999.99</strong></a>
          </div>
        </div>
      </div>
    </div>
  <!-- 6th SKU List Ends -->
</div>