<div id="main">
  <div id="main_menu_wrapper">
    <div class="titlefont"><h2>所有商品分类</h2></div>
      <ul id="main_menu">
        <li style=" height:35px;"><a href='#'>OA*PC用品</a>
          <div class="cms_submenu">
            <div class="cmsmenuleft">
              <dl class="menu_recommend">
                <dt>OA耗材</dt>
                  <dd>
                    <i><a href='#'>激光硒鼓</a></i>
                    <i><a href='#'>激光硒鼓</a></i>
                    <i><a href='#'>激光硒鼓</a></i>
                    <i><a href='#'>激光硒鼓</a></i>
                    <i><a href='#'>激光硒鼓</a></i>
                  </dd>
              </dl>
            </div>
            <div class="cmsmenuright">
              <dl>
                <dt>推荐品牌</dt>
                <dd>
                  <i><a href='#'>金太阳</a></i>
                  <i><a href='#'>高峰</a></i>
                  <i><a href='#'>UPM</a></i>
                  <i><a href='#'>安妮</a></i>
                  <i><a href='#'>格之格</a></i>
                  <i><a href='#'>得力</a></i>
                  <i><a href='#'>惠普</a></i>
                </dd>
                <dt>活动推荐</dt>
                <dd>
                  <i><a href='#'>[特卖] 蓝威尔价格更低、价值更高</a></i>
                  <i><a href='#'>[低价] 低价复印纸热浪来袭</a></i>
                </dd>
              </dl>
            </div>
            <div class="clear"></div>
          </div>
        </li>
        <li style="padding: 0 0 0 8px;">
          <div class="separator"></div>
        </li>
        <li style=" height:35px;"><a href='#'>文具办公用品</a></li>
        <li style="padding: 0 0 0 8px;">
          <div class="separator"></div>
        </li>
        <li style=" height:35px;"><a href='#'>生活用品</a></li>
        <li style="padding: 0 0 0 8px;">
          <div class="separator"></div>
        </li>
        <li style=" height:35px;"><a href='#'>办公家具</a></li>
        <li style="padding: 0 0 0 8px;">
          <div class="separator"></div>
        </li>
        <li style=" height:35px;"><a href='#'>生活家具</a></li>
        <li style="padding: 0 0 0 8px;">
          <div class="separator"></div>
        </li>
        <li style=" height:35px;"><a href='#'>家居饰品</a></li>
      </ul>
    </div>
    <div id="slider_bar">
      <%= render "slider_bar" %>
    </div>
    <div id="login_bar">
      <div id="box" class="box">
        <div class="list">
          <ul>
            <li>登陆</li>
            <li>商场公告</li>
          </ul>
          <div class="content">
            <form>
              <p>
                <label for="loginname">用户：</label>
                <input name="loginname" id="loginname" type="text" size="15" maxlength="50" />
              </p>
              <p>
                <label for="password">密码：</label>
                <input name="password" id="password" type="password" size="15" maxlength="50" />
              </p>
                <img src="/images/code.png" width="75px" height="20px" style="clear: both; float:right; outline: 1px solid #333333; margin: 4px 2px 0 0;"/>
              <p>
                <label for="captcha">验证码：</label>
                <input name="captcha" id="captcha" maxlength="4" size="4" style="width: 40px; height: 16px"/>
              </p>
              <p>
                <button type="submit">登陆</button>
                <button type="reset">重置</button>
                <a href="#">看不清？</a>
              </p>
              <p style="margin: 4px 0 2px 0;">
                <a href="#">新用户？立即注册</a> | <a href="#">忘记密码</a>
              </p>
            </form>
          </div>
          <div class="content">
            <ul>
              <li><a href="#">公告壹有多少字会换行呢？现在共有</a></li>
              <li><a href="#">十六字会换行十六十六十六十六十六</a></li>
              <li><a href="#">十六字会换行十六十六十六十六十六</a></li>
              <li><a href="#">应该是左对齐</a></li>
              <li><a href="#">五行后会超过边界</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="banner_1">
        <img src="/images/xszk_210_130.png" />
      </div>
    </div>
    <div id="banner_2">

    </div>
    <div id="banner_3">
      <%= render "panic_buying" %>
    </div>
    <div id="banner_4">
      <img src="/images/zmbj_210_130.png" />
    </div>
    <div id="banner_5">
      <p>980px*60px without borders. 978*58 with border.</p>
    </div>
    <div id="sku_category_1" class="sku_category">
      <h2 class="bar_image_1000">OA PC产品</h2>
      <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
        <ul class="h_ul">
          <li class="h_li"><a href="#" class="special_blue">标题栏推荐</a></li>
          <li class="h_li"><a href="#" class="special_blue">标题栏推荐</a></li>
          <li class="h_li"><a href="#">更多…</a></li>
        </ul>
      </div>
      <div class="sku_list_left_col"> <!--SKU List's left column -->
        <p>160px*363px without borders.</p>
      </div>
      <%= render "oa_pc" %>
      <div class="sku_list_sort">

      </div>
    </div>
  </div>