<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content pub">
  <h1><%= @announcement.internal_title %></h1>
  <br />
  <%=raw @announcement.description %>
</div>