@charset "utf-8";
/* CSS Document */



.bar_center {
	text-align:center;
}






/** Homepage Main Menu Style - Start **/





/** Homepage Main Menu Style - End **/

/** Homepage Main Login bar - Start

#login_bar .list {
	width: 209px;
	height:28px;
	float:left;
	border-bottom: 1px solid #666666;
	background-image:url('images/bar/bar_bg_1_30.png');
}
#login_bar .list li {
	width:99px;
	height:25px;
	margin: 2px 0 0 0;
	float:left;
	cursor:pointer;
	color:#ff0000;
	line-height:28px;
	text-align:center;
}
#login_bar .list li.hove {
	width:97px;
	height:25px;
	color:#333333;
	margin: 2px 0 0 0;
	line-height:28px;
	border-top:1px solid #666666;
	border-left:1px solid #666666;
	border-right:1px solid #666666;
	border-bottom:1px solid #ffffff;
	background:#fff;
}


/** Homepage Main Login bar - End **/





/** Homepage SKU_categary style - End **/

/** Homepage footer style - Start **/



/** Homepage Slider Style **/

/** Homepage Small Slider Style **/


/** New SKU Style Starts Here**/
.margin_0 {
	margin: 0;
}
.height_auto {
	height: auto;
}
#banner_3 li:hover {
	border: 1px solid #ffffff;
	cursor:pointer;
}

/** SKU Level 2 Homepage Starts here **/


/**Help page style -- Starts -- 2012/01/14 **/
.cs {
	position: relative;
	float: left;
	margin: 4px 0 0 0;
}
.cs p {
	padding: 0 4px 0 4px;
}
.help_center {
	position: relative;
	float: left;
	clear: left;
	margin: 10px 0 0 0;
}
.help_content {
	position: relative;
	float: right;
	line-height: 20px;
	vertical-align:middle;
	margin: 4px 0 4px 0;
}
.help_content p {
	padding: 0 4px 0 4px;
	text-indent: 24px;
}
.help_h2 {
	display:block;
	background-image:url('images/bar/bar_bg_1_30.png');
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
	color: #e73221;
	font-weight: normal;
	padding: 0 0 0 4px;
}
.help_content h3 {
	display: block;
	height:26px;
	line-height:26px;
	vertical-align:middle;
	padding : 0 0 0 4px;
}
.help_center dt {
	display: block;
	background:#fff9e6;
	height:26px;
	line-height:26px;
	vertical-align:middle;
	padding : 0 0 0 4px;
}
.help_center dd {
	padding: 4px 4px 0 24px;
	margin: 0;
	line-height:20px;
	vertical-align:middle;
}
/**Help page style -- Ends -- 2012/01/14 **/

/** Cart page style -- Starts -- 2012/01/16 **/

/** Cart page style -- Ends -- 2012/01/16 **/

/** Order page style -- Starts -- 2012/01/16 **/



/** Order page style -- Ends -- 2012/01/16 **/

.overflow_text{
  overflow:hidden;
  white-space:nowrap;
}

