@charset "utf-8";
/* CSS Document */



.bar_center {
	text-align:center;
}






/** Homepage Main Menu Style - Start **/





/** Homepage Main Menu Style - End **/

/** Homepage Main Login bar - Start

#login_bar .list {
	width: 209px;
	height:28px;
	float:left;
	border-bottom: 1px solid #666666;
	background-image:url('images/bar/bar_bg_1_30.png');
}
#login_bar .list li {
	width:99px;
	height:25px;
	margin: 2px 0 0 0;
	float:left;
	cursor:pointer;
	color:#ff0000;
	line-height:28px;
	text-align:center;
}
#login_bar .list li.hove {
	width:97px;
	height:25px;
	color:#333333;
	margin: 2px 0 0 0;
	line-height:28px;
	border-top:1px solid #666666;
	border-left:1px solid #666666;
	border-right:1px solid #666666;
	border-bottom:1px solid #ffffff;
	background:#fff;
}


/** Homepage Main Login bar - End **/





/** Homepage SKU_categary style - End **/

/** Homepage footer style - Start **/



/** Homepage Slider Style **/
.container, .container img {
    height: 250px;
    width: 550px;
}
.container {
    border: 0 solid #333333;
}
.container img {
    border: 0 none;
}
.num {
    left: 1px;
    padding: 0;
    position: absolute;
    top: 252px;
}
.num li {
    background: #dddddd;
    color: #e60013;
    cursor: pointer;
    float: left;
    font-family: Arial;
    font-size: 12px;
    height: 26px;
    line-height: 22px;
    list-style: none outside none;
    margin: 0;
    text-align: center;
    width: 110px;
}
.num li.on {
    background: #E73227;
    border: 0 none;
    color: #ffffff;
    font-size: 12px;
    height: 26px;
    line-height: 22px;
    width: 110px;
}
/** Homepage Small Slider Style **/
#panic_buying {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 26px 0 0 0;
    border: medium none;
    height: 174px;
    width: 550px;
}
.smallslider {
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.smallslider ul {
    height: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: auto;
}
.smallslider li {
    margin: 0;
    padding: 0;
}
.smallslider li a {
    margin: 0;
    padding: 0;
}
.smallslider li a img {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.smallslider-btns {
    position: absolute;
	top: 4px;
	right: 0;
	width: 100px;
	height: 26px;
	z-index:1;
}
.smallslider-btns span {
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    color: #e73221;
    cursor: pointer;
    float: left;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    width: 16px;
}
.smallslider-btns span.current-btn {
    background-color: #C00100;
    border: 1px solid #A00100;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.smallslider-lay {
    background: none repeat scroll 0 0 black;
    height: 26px;
    position: absolute;
    width: 100%;
    z-index: 101;
}
#debug {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid;
    bottom: 20px;
    height: 200px;
    left: 10px;
    position: fixed;
    width: 200px;
}
/** Recent visited bar **/
.recent_visited_ul {
	list-style: none;
	padding: 4px 8px 4px 8px;
}
.recent_visited_li {
	position:relative;
	float:left;
	width: 100%;
	height: 50px;
	padding: 0;
	margin: 2px 0 2px 0;
}
.recent_visited_li div {
	position:absolute;
	top: 0px; /**Changed 2012/01/13**/
	left: 45px;
	width: 152px;
	height: 40px;
	border-bottom: 1px dashed #dddddd;
}
.recent_visited_li div:hover {
	position:absolute;
	top: 0px; /**Changed 2012/01/13**/
	left: 45px;
	width: 152px;
	height: 40px;
	border-bottom: 1px solid #dddddd;
}
.recent_visited_li div i {
	height: 20px;
	line-height: 20px;
	vertical-align:middle;
}
/** New SKU Style Starts Here**/
.margin_0 {
	margin: 0;
}
.height_auto {
	height: auto;
}
#banner_3 li:hover {
	border: 1px solid #ffffff;
	cursor:pointer;
}

/** SKU Level 2 Homepage Starts here **/


/**Help page style -- Starts -- 2012/01/14 **/
.cs {
	position: relative;
	float: left;
	margin: 4px 0 0 0;
}
.cs p {
	padding: 0 4px 0 4px;
}
.help_center {
	position: relative;
	float: left;
	clear: left;
	margin: 10px 0 0 0;
}
.help_content {
	position: relative;
	float: right;
	line-height: 20px;
	vertical-align:middle;
	margin: 4px 0 4px 0;
}
.help_content p {
	padding: 0 4px 0 4px;
	text-indent: 24px;
}
.help_h2 {
	display:block;
	background-image:url('images/bar/bar_bg_1_30.png');
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
	color: #e73221;
	font-weight: normal;
	padding: 0 0 0 4px;
}
.help_content h3 {
	display: block;
	height:26px;
	line-height:26px;
	vertical-align:middle;
	padding : 0 0 0 4px;
}
.help_center dt {
	display: block;
	background:#fff9e6;
	height:26px;
	line-height:26px;
	vertical-align:middle;
	padding : 0 0 0 4px;
}
.help_center dd {
	padding: 4px 4px 0 24px;
	margin: 0;
	line-height:20px;
	vertical-align:middle;
}
/**Help page style -- Ends -- 2012/01/14 **/

/** Cart page style -- Starts -- 2012/01/16 **/

/** Cart page style -- Ends -- 2012/01/16 **/

/** Order page style -- Starts -- 2012/01/16 **/



/** Order page style -- Ends -- 2012/01/16 **/

.overflow_text{
  overflow:hidden;
  white-space:nowrap;
}

