@charset "utf-8";
/* CSS Document */




.bar { /** Hompage Level 1 Long bar with h2, like 合作品牌 **/
	display:block;
	width: 976px;
	height: 32px;
	line-height:32px;
	vertical-align:middle;
	color: #333333;
	background-color:#dddddd;
	margin: 0 0 2px 0;
	padding: 0 0 0 4px;
}


.bar_center {
	text-align:center;
}

/** Form General Style **/
input, select {
	border: solid 1px #666;
	padding: 3px 3px 3px 3px;
}

input:focus {
	background: #dddddd;
}
.element_clear_right {
	clear: right;
}
.element_float_left {
	float: left;
}
.input_width_35 {
	width: 35px;
}
.input_width_220 {
	width: 220px;
}
input {
	width: 120px;
}

/** Homepage Basic position class **/
.width_220 {
	width: 220px;
	border: 1px solid #dddddd;
}
.width_766 {
	width: 766px;
	border: 1px solid #dddddd;
}
.padding_4 {
	padding: 4px;
}

/** Horizontal <ul> <li> style **/
.h_ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.h_li {
	float: left;
}

/** Homepage Horizon Navigator - Start **/
/** Remarked on 2012/01/10 after discussion with Lucy to change back the current style - Jimmy Xu
#menu{
	height:32px;
	margin-top:8px;
	background-color:#990000;
}
#menu ul{
	margin:auto; width:980px; height:32px;
	list-style-type:none; padding:0px; margin-top:0px; margin-bottom:0px;
}
.m_li{
	float:left; width:114px; line-height:32px;  text-align:center; margin-right:-2px; margin-left:-2px;
}
.m_li a{
	display:block; color:#FFFFFF; width:114px;
}
.m_line{
	float:left; width:1px; height:32px;
}
.m_li_a{
	float:left; width:114px; line-height:32px; text-align:center; padding-top:3px; font-weight:bold;
	background-image:url('images/menu_bg2.jpg'); position:relative; height:32px; margin-top:-3px; margin-right:-2px; margin-left:-2px;
}
.m_li_a a{
	display:block; color:#FF0000; width:114px;
}

.smenu{
	width:980px; margin:0px auto 0px auto; padding:0px; list-style-type:none; height:32px;
}
.s_li{
	line-height:32px; width:auto; display:none; height:32px;
}
.s_li_a{
	line-height:32px; width:auto; display:block; height:32px;
}

#menu_wrapper {
	position: absolute;
	top: 60px;
	right: 0;
}
**/

/** Homepage Horizon Navigator - End **/

/** New Homepage Horizon Navigator - Starts here - 2012/01/10 - Jimmy Xu **/



/** New Homepage Horizon Navigator - Ends here - 2012/01/10 - Jimmy Xu **/

/** Homepage Header Style - Start **/
#header {
	width: 1000px;
	height: 137px;
	position:relative;
	float:left;
	margin: 0 0 4px 0;
}
#tool_bar {
	position: absolute;
	top: 5px;
	right: 100px;
    margin: 0;
    width: 360px;
    height: 30px;
	line-height:30px;
	vertical-align:middle;
}

#tool_bar ul {
	float:right;
	margin: 0;
	padding: 0;
	list-style: none;
}
#tool_bar li {
	float:left;
	margin: 0 0 0 4px;
}



#share_bar {
	position: absolute;
	top: 0;
	right: 0;
}




#logo {
	position: absolute;
	top: 0;
	left: 40px;
}

#sina {
	position:absolute;
	top: 2px;
	right: 2px;
	z-index: 100;
}

#kaixin {
	position:absolute;
	top: 2px;
	right: 48px;
	z-index: 100;
}
#service_phone {
	position: absolute;
	top: 52px;
	left: 780px;
}
#service_ol {
	position: absolute;
	top: 52px;
	right: 2px;
}
#welcome {
	position: absolute;
	top: 7px;
	left: 360px;
	height: 30px;
	line-height:30px;
	vertical-align:middle;
}
#welcome p {
	height: 30px;
	margin: 6px;
}
#welcome p a {
	color: blue;
}
#welcome p a:hover {
	color: red;
}

/** Homepage Header Style - End **/

/** Homepage Main Style - Start **/
#main {
	position:relative;
	float:left;
	width:1000px;
	background-color: #ffffff;
}
#main_menu_wrapper {
	position:relative;
	float:left;
	width: 220px;
	margin: 4px 0 0 0;
}
#slider_bar {
	position: relative;
	float: left;
	width: 550px;
	height: 270px;
	background:#3399FF;
	margin: 4px 10px 0 10px;
}
#login_bar {
	position:relative;
	float:right;
	width: 210px;
	height: 270px;
	margin: 4px 0 0 0;
}

#banner_1 {
	position: relative;
	float:left;
	width:208px;
	height: 130px;
	margin: 10px 0 0 1px;
	outline: 1px solid #dddddd;
}
#banner_2 {
	position: relative;
	float: left;
	width: 220px;
	height: 200px;
	clear: left;
	border: 1px solid #dddddd;
	margin: 10px 0 0 0;
}
#banner_3 {
	position: relative;
	float: left;
	width: 548px;
	height: 200px;
	margin: 10px 9px 0 8px;
}
#banner_4 {
	position: relative;
	float:left;
	width:208px;
	height: 130px;
	margin: 80px 0 0 4px;
	outline: 1px solid #dddddd;
}
#banner_5 {
	position: relative;
	float:left;
	width:1000px;
	height: 60px;
	margin: 8px 0 0 0;
}
#banner_6 {
	position: relative;
	float:left;
	width:1000px;
	height: 60px;
	margin: 8px 0 0 0;
}
#banner_7 {
	position: relative;
	float:left;
	width:1000px;
	height: 60px;
	margin: 8px 0 0 0;
}

/** Homepage Main Menu Style - Start **/
.clear {
	clear:both;
}

#main_menu {
	padding:2px 0 0 0;
	width:220px;
	height:233px;
	background:#ffffff;  /** Main virtical menu background **/
	border: 1px solid #dddddd;
	border-top: 0px;
}
#main_menu li{
	position:relative; float:left;
	width:220px;
	height: 38px;
	padding-left:0px; padding-top:0px;
	display:block;
	background:url('images/menu-arrow.png') no-repeat 172px 0px;
	text-align: left;
}
#main_menu li a {
	font-size:15px;
	display:block;
	text-decoration:none;
	line-height:38px;
	vertical-align: middle;
	text-align:left;
	text-indent: 38px;
}
#main_menu li:hover .cms_submenu .cmsmenuleft .menu_recommend dt a {
	color: #e73221;
	text-align: left;
	text-indent: 0px;
}
#main_menu li:hover .cms_submenu .cmsmenuleft .menu_recommend dt a:hover {
	color: #e73221;
	text-align: left;
	text-decoration:underline;
}
#main_menu li:hover > a {
	color:#ffffff;
	font-size:15px;
	display:block;
	background-color:#ed2e2a;
	z-index:1000;
}
#main_menu div a {
	font-size:12px;color:#333333;
	line-height:16px; border: 0px;
	text-indent: 0px;
}
#main_menu li:hover div a:hover {
	color:#dd0101;
}

.cms_submenu {
	text-align:left;
	border:1px solid #E73227;
	width:557px;
	background: #fff9e6; /** changed 2012/01/13 **/
}
/** The content in the menu details **/
.cmsmenuleft {
	float:left;
    width:385px;
    min-height: 400px;
	color:#ccc;
	padding:5px;
	border-right:1px #eee solid;
	background: #ffffff;
}
.cmsmenuright {
	float:right;
	width:140px;
	padding:8px;
} /** Removed the line 2012/01/13**/

.cmsmenuleft dt {
	color:#dd0101;margin:5px 0;
	padding:3px 0 3px 10px;
	text-align:left;
}
.cmsmenuright dt {
	color:#ffffff;
	margin:5px 0;
	padding:3px 0 3px 10px;
	font-size: 14px;
	text-align:left;
}
.cmsmenuleft dd i{
	float:left;padding:0 8px;margin: 0;
	white-space: nowrap;
	border-right:1px solid #ccc; /** Change 2012/01/13 **/
	font-style:normal;
	line-height: 24px;
	vertical-align:middle;
}
.cmsmenuright dd {
	margin: 0;
}
.cmsmenuright dd i {
	font-style:normal;
}
#main_menu .cmsmenuright dd i a {
	color: #ffffff;
	font-size:14px;
}
#main_menu_wrapper h2 {
	width: 222px; /**Main Menu Bar Title **/
	height: 35px;
	line-height: 35px;
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
	color:#E73227;
	font-size:14px;
	background-image:url('/assets/templates/titlebar/bar_bg_1_35.png');
}
.display {
	position:absolute;
	left: 220px;
	display:block;
	margin: 0;
	padding: 0;
	background: #ed2e2a;
	z-index: 1000;
}
.display_m1 {
	top: 0px;
}
.display_m2 {
	top: -38px;
}
.display_m3 {
	top: -76px;
}
.display_m4 {
	top: -114px;
}
.display_m5 {
	top: -152px;
}
.display_m6 {
	top: -190px;
}
.non_display {
	display: none;
}


/** Homepage Main Menu Style - End **/

/** Homepage Main Login bar - Start

#login_bar .list {
	width: 209px;
	height:28px;
	float:left;
	border-bottom: 1px solid #666666;
	background-image:url('images/bar/bar_bg_1_30.png');
}
#login_bar .list li {
	width:99px;
	height:25px;
	margin: 2px 0 0 0;
	float:left;
	cursor:pointer;
	color:#ff0000;
	line-height:28px;
	text-align:center;
}
#login_bar .list li.hove {
	width:97px;
	height:25px;
	color:#333333;
	margin: 2px 0 0 0;
	line-height:28px;
	border-top:1px solid #666666;
	border-left:1px solid #666666;
	border-right:1px solid #666666;
	border-bottom:1px solid #ffffff;
	background:#fff;
}


/** Homepage Main Login bar - End **/
.box {
	width: 208px;
	height:200px;
	margin: 0;
	padding: 0px;
	border-color: #dddddd;
}
#login_bar .content {
	width:191px;
	height: 160px;
	padding: 4px 8px 4px 8px;
	float:left;
	background:#ffffff;
	text-align: left;
}
#login_bar .content p input {
	width: 138px;
	height: 16px;
}
#login_bar .content p {
	height: 34px;
	line-height: 34px;
	vertical-align: middle;
	margin: 0;
}
#login_bar .content p button {
	width: 70px;
	height: 30px;
	color:#ffffff;
	font-size: 15px;
	line-height: 30px;
	vertical-align:middle;
	border: 0px;
	margin: 0px;
	background-image:url('images/login01.png');
}
#login_bar .content p button:hover {
	cursor:pointer;
	background-image:url('images/login02.png');
}
#login_bar .content p button:focus {
	cursor:pointer;
	background-image:url('images/login02.png');
}
#login_bar ul {
	height: 26px;
	margin:0px;
	padding:0;
	border: 0px;
	background-image:url('images/bar/bar_bg_1_30.png');
	list-style-type:none;
}
#login_bar li {
	width: 104px;
	height: 26px;
	padding:0px;
	float:left;
	text-align:center;
	line-height: 26px;
	vertical-align:middle;
}
#login_bar .content ul, #login_bar .content li {
	margin:0;
	padding:0px;
	width: 200px;
	text-align:left;
	background-image:none;
}
.content img {
	clear: both;
	float:right;
	outline: 1px solid #333333;
	margin: 7px 2px 0 0;
}

/** Homepage SKU_categary style - Start **/

.sku_category {
	position: relative;
	float: left;
	width: 1000px;
	margin: 10px 0 0 0;
}

.sku_list_li {
	width: 131px;
	height: 180px;
	border: 1px solid #ffffff;
	margin: 2px;
	padding: 0px;
	text-align:center;
}
.sku_list_li:hover { /** Animated border style with SKU **/
	border: 1px solid #ff0000;
}
.sku_list_ul {
	position: relative;
	float: left;
	width: 550px;
	margin: 4px 10px 0 10px;
}
.sku_list_p {
	margin: 2px 0 2px 0;
}
.sku_list_bar_short {
	display:block;
	width: 208px;
	height: 26px;
	line-height:26px;
	vertical-align:middle;
	text-align:center;
	font-weight:normal;
	color: #e73221;;
	background-image:url('images/bar/bar_bg_1_30.png');
}
.sku_list_sort {
	position: relative;
	float: right;
	width: 208px;
	height: 367px;
	border: 1px solid #dddddd;
	margin: 4px 0 0 0;
}
.sku_list_sort_ul {
	list-style: none;
	padding: 4px;
}
.sku_list_sort_li {
	position:relative;
	float:left;
	width: 100%;
	height: 32px;
	padding: 0;
	margin: 2px 0 2px 0;
}
.sku_list_sort_li div {
	position:absolute;
	top: 8px;
	left: 38px;
	width: 152px;
	height: 23px;
	border-bottom: 1px dashed #990000;
}
.sku_list_sort_li div:hover {
	position:absolute;
	top: 8px;
	left: 38px;
	width: 152px;
	height: 23px;
	border-bottom: 1px solid #990000;
}
.category_recommend {
	position:absolute;
	top: 5px;
	right: 8px;
}
.category_recommend li {
	margin: 0 0 0 4px;
}
.special_blue {
	color: #005AA0;
}
.sku_list_left_col {
	position:relative;
	float: left;
	width: 220px;
	height: 369px;
	background:#CC6633;
	margin: 4px 0 0 0;
}


.sku_list_sort_hot {
	width:100%;
	font-size: 12px;
	line-height:25px;
	vertical-align:middle;
}
.sku_list_sort_hot .has_children{
	background : #ffffff;
	color :#333333;
	cursor:pointer;
	border-bottom: 1px dashed #dddddd;
}
.sku_list_sort_hot .highlight{
	color : #e73221;
	border-bottom: 1px solid #ffffff;
}
.sku_list_sort_hot div{
	padding:0;
}
.sku_list_sort_hot .has_children span {
	padding: 0 0 0 8px;
}
.sku_list_sort_hot div a{
	display : none;
	float:left;
	width: 100%;
	margin: 2px 0 0 0;
    text-align:center;
}
.sku_list_sort_hot div span:hover{
	color: #E73227;
	text-decoration:underline;
}
.sku_list_sort_hot_bottom_line {
	border-bottom: 1px dashed #dddddd;
}


/** Homepage SKU_categary style - End **/

/** Homepage footer style - Start **/

#footer {
    position: relative;
	float:left;
    width: 1000px;
    height: 400px;
	margin: 10px 0 0 0;
    background-color: #ffffff;
	clear: both;
}

#brand-corperate {
    position: relative;
    float: left;
    width: 998px;
    height: 167px;
    background-color: #ffffff;
	border-top: 0px;
}
#brand-corperate h2 {
	width: 992px;
	padding: 0 0 0 8px;
}
#brand-corperate ul {
    position: relative;
    float: left;
    margin: 0 0 0 0;
	padding: 0 14px 0 14px;
}

#brand-corperate ul li {
    position: relative;
    float: left;
    display: block;
    margin: 4px 2px 4px 2px;
}
#footer_contact_bar {
	position: relative;
	float: left;
	width: 1000px;
	height: 26px;
	margin: 15px 0 0 0;
	background-image:url('images/bar/bar_bg_1_30.png');
	line-height:26px;
	vertical-align:middle;
	text-align:center;
}
#footer_contact_bar ul {
	padding: 0 0 0 260px;
}
#footer_contact_bar li {
	margin: 0 0 0 40px;
	font-size:14px;
	color: #e60013;
}
#footer_contact_bar li a {
	color: #e60013;
}
#corp-info {
    position: relative;
    float: left;
    width: 1000px;
    height: 140px;
	margin: 4px 0 0 0;
	padding: 0 0 0 20px;
    background-color: #ffffff;
}

#corp-info div {
    position: relative;
    float: left;
    margin: 0 0 0 30px;
    padding-top: 0;
    top: 0;
    width: 135px;
}

#corp-info div h3 {
    margin: 0 0 0 0;
    font-family: "黑体";
    line-height: 30px;
    vertical-align: middle;
    text-indent: 30px;
    display: block;
}
.corp_info_li_line_height {
	height:20px;
	line-height:20px;
	vertical-align: middle;
}
.footer_title {
    position: relative;
    float: left;
    padding-left: 200px;
	width: 800px;
}
.footer_title li {
	margin: 0 0 0 20px;
	font-size:14px;
	font-weight:bold;
}
.footer_warranty {
    position: relative;
    float: left;
    padding-left: 20px;
	clear: both;
}
.footer_warranty li {
    margin: 0 0 0 40px;
}

#corp-info img {
	position: absolute;
	top: 0;
	left: -20px;
}

div#copyright {
    position: relative;
    float: left;
    margin: 0 0 0 0;
    clear: both;
    width: 1000px;
    text-align: center;
}
#link_certificates {
	position:relative;
	float:left;
}
#link_certificates ul {
	width: 1000px;
	padding: 0 0 0 170px;
}
#link_certificates li {
	margin: 0 0 0 10px;
}

/** Homepage Slider Style **/
.container, .container img {
    height: 250px;
    width: 550px;
}
.container {
    border: 0 solid #333333;
}
.container img {
    border: 0 none;
}
.num {
    left: 1px;
    padding: 0;
    position: absolute;
    top: 252px;
}
.num li {
    background: #dddddd;
    color: #e60013;
    cursor: pointer;
    float: left;
    font-family: Arial;
    font-size: 12px;
    height: 26px;
    line-height: 22px;
    list-style: none outside none;
    margin: 0;
    text-align: center;
    width: 110px;
}
.num li.on {
    background: #E73227;
    border: 0 none;
    color: #ffffff;
    font-size: 12px;
    height: 26px;
    line-height: 22px;
    width: 110px;
}
/** Homepage Small Slider Style **/
#panic_buying {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 26px 0 0 0;
    border: medium none;
    height: 174px;
    width: 550px;
}
.smallslider {
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.smallslider ul {
    height: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: auto;
}
.smallslider li {
    margin: 0;
    padding: 0;
}
.smallslider li a {
    margin: 0;
    padding: 0;
}
.smallslider li a img {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.smallslider-btns {
    position: absolute;
	top: 4px;
	right: 0;
	width: 100px;
	height: 26px;
	z-index:1;
}
.smallslider-btns span {
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    color: #e73221;
    cursor: pointer;
    float: left;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    width: 16px;
}
.smallslider-btns span.current-btn {
    background-color: #C00100;
    border: 1px solid #A00100;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.smallslider-lay {
    background: none repeat scroll 0 0 black;
    height: 26px;
    position: absolute;
    width: 100%;
    z-index: 101;
}
#debug {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid;
    bottom: 20px;
    height: 200px;
    left: 10px;
    position: fixed;
    width: 200px;
}
/** Recent visited bar **/
.recent_visited_ul {
	list-style: none;
	padding: 4px 8px 4px 8px;
}
.recent_visited_li {
	position:relative;
	float:left;
	width: 100%;
	height: 50px;
	padding: 0;
	margin: 2px 0 2px 0;
}
.recent_visited_li div {
	position:absolute;
	top: 0px; /**Changed 2012/01/13**/
	left: 45px;
	width: 152px;
	height: 40px;
	border-bottom: 1px dashed #dddddd;
}
.recent_visited_li div:hover {
	position:absolute;
	top: 0px; /**Changed 2012/01/13**/
	left: 45px;
	width: 152px;
	height: 40px;
	border-bottom: 1px solid #dddddd;
}
.recent_visited_li div i {
	height: 20px;
	line-height: 20px;
	vertical-align:middle;
}
/** New SKU Style Starts Here**/
.margin_0 {
	margin: 0;
}
.height_auto {
	height: auto;
}
#banner_3 li:hover {
	border: 1px solid #ffffff;
	cursor:pointer;
}

/** SKU Level 2 Homepage Starts here **/
#level_2_banner_wrapper {
	position:relative;
	float:right;
	width: 210px;
	height: 270px;
	margin: 4px 0 0 0;
}
#level_2_banner {
	position:relative;
	float:right;
	margin: 0;
	border: 1px solid #dddddd;
}
.bar_indent_8 {
	width: 992px;
	padding: 0 0 0 8px;
}

/**Help page style -- Starts -- 2012/01/14 **/
.cs {
	position: relative;
	float: left;
	margin: 4px 0 0 0;
}
.cs p {
	padding: 0 4px 0 4px;
}
.help_center {
	position: relative;
	float: left;
	clear: left;
	margin: 10px 0 0 0;
}
.help_content {
	position: relative;
	float: right;
	line-height: 20px;
	vertical-align:middle;
	margin: 4px 0 4px 0;
}
.help_content p {
	padding: 0 4px 0 4px;
	text-indent: 24px;
}
.help_h2 {
	display:block;
	background-image:url('images/bar/bar_bg_1_30.png');
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
	color: #e73221;
	font-weight: normal;
	padding: 0 0 0 4px;
}
.help_content h3 {
	display: block;
	height:26px;
	line-height:26px;
	vertical-align:middle;
	padding : 0 0 0 4px;
}
.help_center dt {
	display: block;
	background:#fff9e6;
	height:26px;
	line-height:26px;
	vertical-align:middle;
	padding : 0 0 0 4px;
}
.help_center dd {
	padding: 4px 4px 0 24px;
	margin: 0;
	line-height:20px;
	vertical-align:middle;
}
/**Help page style -- Ends -- 2012/01/14 **/

/** Cart page style -- Starts -- 2012/01/16 **/

/** Cart page style -- Ends -- 2012/01/16 **/

/** Order page style -- Starts -- 2012/01/16 **/



/** Order page style -- Ends -- 2012/01/16 **/

.overflow_text{
  overflow:hidden;
  white-space:nowrap;
}

