<div class="span2 show-grid">
  <ul class="nav nav-list" id="admin-main-functionality">
    <li class="nav-header">用户中心</li>
    <li class="divider"></li>
    <li><a href="<%= edit_user_registration_path %>">修改密码</a></li>
  </ul>
</div>