#main_content{
  .list_info{
    list-style-type:none;
    padding:0;
    li{
      min-height:20px;
      line-height:20px;
      vertical-align: middle;
      label{
        line-height:20px;
        text-align:left;
        width:auto;
        min-width:80px;
      }
    }
    .second{
      margin-top:20px;
    }
  }

  .order_price_info{
    list-style-type:none;
    width: 400px;
    float: right;
    #left_li{
      float: left;
      padding-left: 0;
    }
    .border_bottom{
      border-bottom: 1px solid black;
    }
    li{
      line-height:20px;
      vertical-align: middle;
      padding-left: 200px;
      label{
        line-height:20px;
        text-align:left;
        width:auto;
        min-width:80px;
      }
    }
  }

  .consignee_info_title{
    margin-top:200px;
  }

  .orange{
    color:#EE4000;
  }

  .red{
    color:red;
  }

  p{
    min-height:20px;
  }
}


.right_button{
  text-align:right;
}

