#main_content{
  .order_price_info{
    list-style-type:none;
    width: 400px;
    float: right;
    text-align:left;
    #left_li{
      float: left;
      padding-left: 0;
    }
    .border_bottom{
      border-bottom: 1px solid black;
      height:20px;
    }
    li{
      line-height:20px;
      vertical-align: middle;
      padding-left: 200px;
      label{
        line-height:20px;
        text-align:left;
        width:auto;
        min-width:80px;
      }
    }
  }

  .consignee_info_title{
    margin-top:200px;
  }
}


.right_button{
  text-align:right;
}

#user_addresses{
  text-align:left;
  width:400px;
  caption{
    color: #013DA4;
    text-align:left;
  }
}




