<div style="position:absolute; width:550px; top:0px;">
  <div class="container" id="idContainer" style="display:none">
    <table id="idSlider" border="0" cellpadding="0" cellspacing="0"></table>
  </div>
  <div style="position:relative; width:550px; height:272px; overflow:hidden" align="left">
    <div class="container" id="idContainer2">
      <table id="idSlider2" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <% @slider_bars.each do |bar| %>
            <td style="padding:0"><a href='<%= bar.href %>' target="_blank"><img src="<%= bar.image.url %>" width="550" height="250"/></a></td>
          <% end %>
        </tr>
      </table>
    </div>
    <div style="position:absolute; width:560px; top:-2px; left:-1px;">
      <ul class="num" id="idNum"></ul>
    </div>
  </div>
</div>


<% content_for :ready do %>
  new SlideTrans("idContainer", "idSlider", 3).Run();
    ///////////////////////////////////////////////////////////
    var forEach = function(array, callback, thisObject){
      if(array.forEach){
              array.forEach(callback, thisObject);
      }else{
              for (var i = 0, len = array.length; i < len; i++) { callback.call(thisObject, array[i], i, array); }
      }
    };
    var st = new SlideTrans("idContainer2", "idSlider2", 5, { Vertical: false });
    var nums = [];

    <% @slider_bars.each_with_index do |bar,index| %>
      (nums['<%= index %>'] = $("idNum").appendChild(document.createElement("li"))).innerHTML = "<%= bar.name %>";
    <% end %>
    forEach(nums, function(o, i){
            o.onmouseover = function(){ o.className = "on"; st.Auto = false; st.Run(i); }
            o.onmouseout = function(){ o.className = ""; st.Auto = true; st.Run(); }
    });

    st.onStart = function(){
            forEach(nums, function(o, i){ o.className = st.Index == i ? "on" : ""; })
    };
    st.Run();
<% end %>
