<h1>订单打印记录</h1>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>打印人</th>
      <th>打印时间</th>
    </tr>
  </thead>
  <% @order_print_logs.each_with_index do |log,index| %>
    <tr class="<%= set_odd_even_class index %>">
      <td><%= index+1 %></td>
      <td><%= log.administrator.name %></td>
      <td><%= log.created_at %></td>
    </tr>
  <% end %>
</table>