<p class="nav">您的位置：首页 >> 我的壹美壹家 >> 我的评论</p>
<div id="uc_menu_wrapper">
  <%= render "menu" %>
</div>

<div id="uc_content_wrapper">
  <h2 class="title">我的评论</h2>

  <table id="uc_comments">
    <thead>
      <tr>
        <th>编号</th>
        <th>评论商品</th>
        <th>评论时间</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>01</td>
        <td>某某某某某某某某某商品名称</td>
        <td>2011-11-11 23:23:23</td>
      </tr>
      <tr>
        <td colspan="3" class="content">具体商品评论内容</td>
      </tr>
      <tr class="even">
        <td>02</td>
        <td>某某某某某某某某某商品名称</td>
        <td>2011-11-11 23:23:23</td>
      </tr>
      <tr class="even">
        <td colspan="3" class="content">具体商品评论内容</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">上一页 ... 下一页</td>
      </tr>
    </tfoot>
  </table>
</div>