<p class="nav">您的位置：首页 >> 我的壹美壹家 >> 用户资料</p>
<div id="uc_menu_wrapper">
  <%= render "menu" %>
</div>

<div id="uc_content_wrapper">
  <h2 class="title">用户资料</h2>
  <h3>基本信息</h3>
  <p class="p_t">用户名：</p>
  <p>fentick</p>
  <p class="p_t">姓名：</p>
  <p>徐某某</p>
  <p class="p_t">联系人称呼：</p>
  <p>女士</p>
  <p class="p_t">出生年月：</p>
  <p>2000-11-11</p>
  <p class="p_t">邮箱地址：</p>
  <p>xxxssssffff@ddddffff.com</p>
  <h3>联系方式</h3>
  <p class="p_t">默认区域：</p>
  <p>浙江省 宁波市 江北区</p>
  <p class="p_t">默认地址：</p>
  <p>某某市某某区某某路某某号</p>
  <p class="p_t">默认邮编：</p>
  <p>100000</p>
  <p class="p_t">固定电话：</p>
  <p>021 1234 5678</p>
  <p class="p_t">移动电话：</p>
  <p>+86 138 1234 5678</p>
  <button>修改个人信息</button>
</div>


