<p class="nav">您的位置：首页 >> 我的壹美壹家 >> 用户资料</p>
<div id="uc_menu_wrapper">
  <%= render "menu" %>
</div>

<div id="uc_content_wrapper">
  <h2 class="title">免费获取精美目录</h2>
  <p>
    <label for="name">联系人姓名：</label>
    <input id="name" />
    <span class="red">*</span>
  </p>
  <p>
    <label for="district">所属区域：</label>
    <select id="province_number" name="province[number]" onchange="jQuery.ajax({ type: 'get',
                                               url:'/admin/cities/ajax',
                                               data: 'province_no='+this.value,
                                               success: function(msg){
                                                 jQuery('#city_number').html(msg);
                                                 jQuery('#company_extend_district_no').html('&lt;option value=&gt;-请选择-&lt;/option&gt;');
                                               }});" required="required">
      <option value="">-请选择-</option>
      <option value="110000">北京市</option>
      <option value="120000">天津市</option>
      <option value="130000">河北省</option>
      <option value="140000">山西省</option>
      <option value="150000">内蒙古自治区</option>
      <option value="210000">辽宁省</option>
      <option value="220000">吉林省</option>
      <option value="230000">黑龙江省</option>
      <option value="310000">上海市</option>
      <option value="320000">江苏省</option>
      <option value="330000" selected="selected">浙江省</option>
      <option value="340000">安徽省</option>
      <option value="350000">福建省</option>
      <option value="360000">江西省</option>
      <option value="370000">山东省</option>
      <option value="410000">河南省</option>
      <option value="420000">湖北省</option>
      <option value="430000">湖南省</option>
      <option value="440000">广东省</option>
      <option value="450000">广西壮族自治区</option>
      <option value="460000">海南省</option>
      <option value="500000">重庆市</option>
      <option value="510000">四川省</option>
      <option value="520000">贵州省</option>
      <option value="530000">云南省</option>
      <option value="540000">西藏自治区</option>
      <option value="610000">陕西省</option>
      <option value="620000">甘肃省</option>
      <option value="630000">青海省</option>
      <option value="640000">宁夏回族自治区</option>
      <option value="650000">新疆维吾尔自治区</option>
      <option value="710000">台湾省</option>
      <option value="810000">香港特别行政区</option>
      <option value="820000">澳门特别行政区</option>
    </select>
    省份
    <select id="city_number" name="city[number]" onchange="jQuery.ajax({ type:'get',
                                     url: '/admin/districts/ajax',
                                     data: 'city_no='+this.value,
                                     success: function(msg){
                                      jQuery('#company_extend_district_no').html(msg);
                                     }});" required="required">
      <option value="">-请选择-</option>
      <option value="330100">杭州市</option>
      <option value="330200" selected="selected">宁波市</option>
      <option value="330300">温州市</option>
      <option value="330400">嘉兴市</option>
      <option value="330500">湖州市</option>
      <option value="330600">绍兴市</option>
      <option value="330700">金华市</option>
      <option value="330800">衢州市</option>
      <option value="330900">舟山市</option>
      <option value="331000">台州市</option>
      <option value="331100">丽水市</option>
    </select>
    城市
    <select id="company_extend_district_no" name="company_extend[district_no]" required="required">
      <option value="">-请选择-</option>
      <option value="330201" selected="selected">市辖区</option>
      <option value="330203">海曙区</option>
      <option value="330204">江东区</option>
      <option value="330205">江北区</option>
      <option value="330206">北仑区</option>
      <option value="330211">镇海区</option>
      <option value="330212">鄞州区</option>
      <option value="330225">象山县</option>
      <option value="330226">宁海县</option>
      <option value="330281">余姚市</option>
      <option value="330282">慈溪市</option>
      <option value="330283">奉化市</option>
    </select>
    区县
    <span class="red">*</span>
  </p>
  <p>
    <label for="address">详细地址：</label>
    <input id="address" />
    <span class="red">*</span>
  </p>
  <p>
    <label for="postcode">邮政编码：</label>
    <input id="postcode" />
    <span class="red">*</span>
  </p>
  <p>
    <label for="phonenumber">固定电话：</label>
    <input id="phonenumber" />
    <span class="red">*</span>
    <span class="red">固定电话与移动电话必填一项</span>
  </p>
  <p>
    <label for="cellnumber">移动电话：</label>
    <input id="cellnumber" />
    <span class="red">*</span>
  </p>
  <p>
    <label for="faxnumber">传真号码：</label>
    <input id="faxnumber" />
  </p>
  <p>
    <label for="email">电子邮箱：</label>
    <input id="email" />
  </p>
  <button>提交</button>
</div>