<p class="nav">您的位置：首页 >> 我的壹美壹家 >> 我的积分</p>
<div id="uc_menu_wrapper">
  <%= render "menu" %>
</div>

<div id="uc_content_wrapper">
  <h2 class="title">我的积分</h2>

  <div class="total_points">您共有积分：9999999999</div>

  <table id="uc_points">
    <caption>积分获得明细列表</caption>
    <thead>
      <tr>
        <th>订单编号</th>
        <th>订单金额</th>
        <th>完成日期</th>
        <th>所获积分</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>11111111-001</td>
        <td>&yen;99999999.99</td>
        <td>2011-11-11 23:23:23</td>
        <td>99999</td>
      </tr>
      <tr class="even">
        <td>11111111-002</td>
        <td>&yen;99999999.99</td>
        <td>2011-11-11 23:23:23</td>
        <td>99999</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">上一页 ... 下一页</td>
      </tr>
    </tfoot>
  </table>

</div>