<p class="nav">您的位置：首页 >> 我的壹美壹家 >> 输入付款信息</p>
<div id="uc_menu_wrapper">
  <%= render "menu" %>
</div>

<div id="uc_content_wrapper" class="remit">
  <h2 class="title">输入银行汇款信息</h2>

  <p>
    <label>汇出地点：</label>
    <input type="text" />
  </p>
  <p>
    <label>汇出日期：</label>
    <input type="text" />
    <em>例如，2000-10-01</em>
  </p>
  <p>
    <label>交易流水号：</label>
    <input type="text" />
    <em>请填入银行转账单上的流水号。</em>
  </p>
  <p>
    <label>交易行名：</label>
    <input type="text" />
  </p>
  <p>
    <label>付款金额：</label>
    <input type="text" />
  </p>
  <p>
    <label>汇款人姓名：</label>
    <input type="text" />
  </p>
  <p>
    <label>汇入银行：</label>
    <input type="text" />
  </p>
  <p>
    <label>汇款备注：</label>
    <textarea></textarea>
  </p>
  <p>
    <input type="submit" value="提交信息" class="handler"/>
    <input type="reset" value="重新填写" class="handler"/>
  </p>
</div>