<p class="nav">您的位置：首页 >> 我的壹美壹家 >> 重设密码</p>
<div id="uc_menu_wrapper">
  <%= render "menu" %>
</div>

<div id="uc_content_wrapper">
  <h2 class="title">重设您的密码</h2>
  <!--在这里插入Notification 开始-->

  <!--
  <div class="failed">
    密码设置成功！请重新登陆
  </div>
  <div class="successful">
    密码设置成功！请重新登陆
  </div>
  -->

  <!--在这里插入Notification 结束-->

  <p>
    <label for="old_password">当前密码：</label>
    <input id="old_password" type="password" />
  </p>
  <p>
    <label for="new_password">新设密码：</label>
    <input id="new_password" type="password" />
  </p>
  <p>
    <label for="confirm_new_password">确认新设密码：</label>
    <input id="confirm_new_password" type="password" />
  </p>

  <button>修改密码</button>
  <button>取消</button>
</div>