<p class="nav">您的位置：首页 >> 我的壹美壹家 >> 收货地址</p>
<div id="uc_menu_wrapper">
  <%= render "menu" %>
</div>

<div id="uc_content_wrapper">
  <h2 class="title">收货地址</h2>

  <table class="order_sku_details">
    <thead>
      <tr>
        <th>收货人</th>
        <th>收货区域</th>
        <th>详细地址</th>
        <th>邮编</th>
        <th>固定电话</th>
        <th>移动电话</th>
        <th>电子邮箱</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="small_font">某某某</td>
        <td class="small_font">某某某某某某 某某某某某 某某某某某</td>
        <td class="small_font">某某某</td>
        <td class="small_font">某某某</td>
        <td class="small_font">某某某</td>
        <td class="small_font">某某某</td>
        <td class="small_font">某某某</td>
        <td class="small_font">修改 删除</td>
      </tr>
    </tbody>
  </table>
</div>