<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">
  <h1>投诉与建议</h1>
  <p>非常感谢您成壹美壹家的客户。壹美壹家是一站式提案现代都市人生活工作方式的大众时尚品牌，
    通过自己的商品让客户在人生的2/3宝贵时间里享受到每分每秒的“快乐生活&nbsp;轻松办公”的理念。</p>
  <p>如果您在购物、配送、网站使用等方面有任何的建议或者对于我们的服务有任何不满，欢迎您选择以下形式及时反馈给我们，
    帮助我们工作的改进。我们会在一个工作日之内保证给您及时的回复。</p>
  <p>1.客服电话 </p>
  <p><em>400-630-5006</em>（周一至周六8:30-17:00）</p>
  <p>2.客服电子邮件 </p>
  <p><a href="mailto:CS@emehome.cn">CS@emehome.cn</a></p>
  <p>3.登录象山消保网站</p>
  <p><a href="http://www.xs315.gov.cn/mian.do?action=findlist ">http://www.xs315.gov.cn</a></p>
  <p>4.公司联系</p>
  <p>宁波壹美壹家贸易有限公司</p>
  <p>工作时间：8:30-17:30（周一至周六）</p>
  <p>公司邮寄地址：宁波高新区研发园扬帆路999弄2号楼7楼 </p>
  <p>公司电话：0574-87917756 </p>
  <p>公司传真：0574-87917752 </p>
  <p>邮政编码：315040 </p>
  <p>公司网址：www.emehome.cn</p>
</div>