<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">
  <h1>配送范围</h1>
  <p>壹美壹家所有商品全部采用壹美壹家自己物流或者第三方物流（中外运全一）送货上门的配送方式。
    现在可以配送到达地区覆盖浙江全省、上海市、江苏全省。具体配送到达区域请参考以下表格。</p>
  <p>壹美壹家可配送到达地区（2010年11月）</p>
  <table>
    <thead>
      <tr>
        <th class="fixed_width_s">区域</th>
        <th class="fixed_width_s">省</th>
        <th class="fixed_width_s">县/市</th>
        <th class="fixed_width_s">公司</th>
        <th class="fixed_width_s">服务中心</th>
        <th>正常派送范围</th>
        <th class="fixed_width_s">较远派送范围</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>北仑区</td>
        <td>宁波</td>
        <td>宁波</td>
        <td>北仑区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>慈溪</td>
        <td>宁波</td>
        <td>余姚</td>
        <td>慈溪市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>奉化</td>
        <td>宁波</td>
        <td>奉化</td>
        <td>奉化市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>海曙区</td>
        <td>宁波</td>
        <td>宁波</td>
        <td>海曙区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>江北区</td>
        <td>宁波</td>
        <td>宁波</td>
        <td>江北区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>江东区</td>
        <td>宁波</td>
        <td>宁波</td>
        <td>江东区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>宁海</td>
        <td>宁波</td>
        <td>宁海</td>
        <td>宁海县</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>鄞州区</td>
        <td>宁波</td>
        <td>宁波</td>
        <td>鄞州区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>余姚</td>
        <td>宁波</td>
        <td>余姚</td>
        <td>余姚市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>镇海区</td>
        <td>宁波</td>
        <td>宁波</td>
        <td>镇海区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>东阳</td>
        <td>东阳</td>
        <td>东阳</td>
        <td>东阳市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>滨江区</td>
        <td>杭州</td>
        <td>杭州</td>
        <td>杭州市（滨江区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>滨江区</td>
        <td>杭州</td>
        <td>萧山</td>
        <td>滨江区（西兴街道、浦沿街道、长河街道）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>富阳</td>
        <td>杭州</td>
        <td>富阳</td>
        <td>富阳市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>拱墅区</td>
        <td>杭州</td>
        <td>杭州</td>
        <td>杭州市（拱墅区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>拱墅区</td>
        <td>杭州</td>
        <td>下城</td>
        <td>拱墅区（米市巷街道、湖墅街道、小河街道、和睦街道、拱辰桥街道、大关街道、上塘镇）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>拱墅区</td>
        <td>杭州</td>
        <td>良诸</td>
        <td>拱墅区（祥符镇）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>拱墅区</td>
        <td>杭州</td>
        <td>临平</td>
        <td>拱墅区（半山镇、康桥镇）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>江干区</td>
        <td>杭州</td>
        <td>杭州</td>
        <td>杭州市（江干区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>江干区</td>
        <td>杭州</td>
        <td>下沙</td>
        <td>江干区（下沙街道、九堡镇）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>江干区</td>
        <td>杭州</td>
        <td>上城</td>
        <td>江干区（采荷街道、四季青街道）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>江干区</td>
        <td>杭州</td>
        <td>下城</td>
        <td>江干区（凯旋街道、白杨街道、闸弄口街道、丁桥镇、笕桥镇、彭埠镇）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>上城区</td>
        <td>杭州</td>
        <td>杭州</td>
        <td>杭州市（上城区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>上城区</td>
        <td>杭州</td>
        <td>上城</td>
        <td>上城区（清波街道、湖滨街道、小营街道、南星街道、紫阳街道、望江街道）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>桐庐&nbsp;</td>
        <td>杭州</td>
        <td>富阳</td>
        <td>桐庐县&nbsp;</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>西湖区</td>
        <td>杭州</td>
        <td>杭州</td>
        <td>杭州市（西湖区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>西湖区</td>
        <td>杭州</td>
        <td>西湖</td>
        <td>西湖区（北山街道、灵隐街道、西溪街道、蒋村街道、翠苑街道、文新街道、古荡街道、西湖街道、留下街道、转塘街道、双浦镇）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>西湖区</td>
        <td>杭州</td>
        <td>良诸</td>
        <td>西湖区（三墩镇）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>下城区</td>
        <td>杭州</td>
        <td>杭州</td>
        <td>杭州市（下城区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>下城区</td>
        <td>杭州</td>
        <td>下城</td>
        <td>下城区（武林街道、天水街道、朝晖街道、潮鸣街道、长庆街道、石桥街道、东新街道、文晖街道）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>萧山区</td>
        <td>杭州</td>
        <td>萧山</td>
        <td>
            萧山区（宁围镇、新街镇、坎山镇、靖东镇、义蓬镇、南阳镇、党山镇、党湾镇、新塘街道、衙前镇、瓜沥镇、蜀山街道、城厢街道、北干街道、所前镇、闻堰镇、河庄镇、新湾镇、益农镇、靖江镇）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>萧山区</td>
        <td>杭州</td>
        <td>戴村</td>
        <td>萧山区（义桥镇、临浦镇、进化镇、戴村镇、浦阳镇、河上镇、楼塔镇）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>余杭区</td>
        <td>杭州</td>
        <td>杭州</td>
        <td>杭州市（余杭区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>余杭区</td>
        <td>杭州</td>
        <td>下沙</td>
        <td>余杭区（乔司镇（五星村除外））</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>余杭区</td>
        <td>杭州</td>
        <td>下城</td>
        <td>余杭区（乔司镇（五星村））</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>余杭区</td>
        <td>杭州</td>
        <td>西湖</td>
        <td>余杭区（闲林镇、五常街道、中泰乡）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>余杭区</td>
        <td>杭州</td>
        <td>良诸</td>
        <td>余杭区（良诸镇、瓶窑镇、径山镇、黄湖镇、鸬鸟镇、百丈镇、仓前镇、余杭镇）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>余杭区</td>
        <td>杭州</td>
        <td>临平</td>
        <td>
            余杭区（临平街道、星桥街道、南苑街道、东湖街道、仁和镇（包括原东塘镇）、运河镇（包括原五杭镇，博陆镇，亭趾镇）、塘栖镇、崇贤镇）&nbsp;</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>安吉</td>
        <td>湖州</td>
        <td>湖州</td>
        <td>安吉县全境</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>南浔区</td>
        <td>湖州</td>
        <td>湖州</td>
        <td>湖州市（南浔区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>吴兴区</td>
        <td>湖州</td>
        <td>湖州</td>
        <td>湖州市（吴兴区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>海宁</td>
        <td>嘉兴</td>
        <td>嘉兴</td>
        <td>海宁市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>海盐</td>
        <td>嘉兴</td>
        <td>嘉兴</td>
        <td>海盐县</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>嘉善</td>
        <td>嘉兴</td>
        <td>嘉兴</td>
        <td>嘉善县</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>南湖区</td>
        <td>嘉兴</td>
        <td>嘉兴</td>
        <td>嘉兴市（南湖区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>平湖</td>
        <td>嘉兴</td>
        <td>嘉兴</td>
        <td>平湖市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>桐乡</td>
        <td>嘉兴</td>
        <td>嘉兴</td>
        <td>桐乡市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>秀洲区</td>
        <td>嘉兴</td>
        <td>嘉兴</td>
        <td>嘉兴市（秀洲区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>金东区</td>
        <td>金华</td>
        <td>金华</td>
        <td>金东区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>兰溪</td>
        <td>金华</td>
        <td>兰溪</td>
        <td>兰溪市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>婺城区</td>
        <td>金华</td>
        <td>金华</td>
        <td>婺城区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>乐清</td>
        <td>乐清</td>
        <td>乐清</td>
        <td>乐清市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>缙云</td>
        <td>丽水</td>
        <td>缙云</td>
        <td>缙云县</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>莲都区</td>
        <td>丽水</td>
        <td>莲都</td>
        <td>丽水市（莲都区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>柯城区</td>
        <td>衢州</td>
        <td>衢州</td>
        <td>柯城区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>衢江区</td>
        <td>衢州</td>
        <td>衢州</td>
        <td>衢江区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>上虞</td>
        <td>绍兴</td>
        <td>绍兴</td>
        <td>上虞市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>绍兴县</td>
        <td>绍兴</td>
        <td>绍兴</td>
        <td>绍兴县</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>越城区</td>
        <td>绍兴</td>
        <td>绍兴</td>
        <td>越城区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>诸暨</td>
        <td>绍兴</td>
        <td>诸暨</td>
        <td>诸暨市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>黄岩区</td>
        <td>台州</td>
        <td>黄岩</td>
        <td>黄岩区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>椒江区</td>
        <td>台州</td>
        <td>椒江</td>
        <td>椒江区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>临海</td>
        <td>台州</td>
        <td>临海</td>
        <td>临海市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>路桥区</td>
        <td>台州</td>
        <td>路桥</td>
        <td>路桥区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>温岭</td>
        <td>台州</td>
        <td>温岭</td>
        <td>温岭市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>天台</td>
        <td>天台</td>
        <td>天台</td>
        <td>天台县</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>龙湾区</td>
        <td>温州</td>
        <td>温州</td>
        <td>龙湾区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>鹿城区</td>
        <td>温州</td>
        <td>温州</td>
        <td>鹿城区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>瓯海区</td>
        <td>温州</td>
        <td>温州</td>
        <td>瓯海区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>瑞安</td>
        <td>温州</td>
        <td>温州</td>
        <td>瑞安市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>仙居</td>
        <td>仙居</td>
        <td>仙居</td>
        <td>仙居县</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>浦江</td>
        <td>义乌</td>
        <td>浦江</td>
        <td>浦江县</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>义乌</td>
        <td>义乌</td>
        <td>义乌</td>
        <td>义乌市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>永嘉</td>
        <td>永嘉</td>
        <td>永嘉</td>
        <td>永嘉县</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>浙江省</td>
        <td>永康</td>
        <td>永康</td>
        <td>永康</td>
        <td>永康市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>宝应</td>
        <td>宝应</td>
        <td>宝应</td>
        <td>宝应县</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>戚墅堰</td>
        <td>常州</td>
        <td>常州</td>
        <td>戚墅堰</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>天宁区</td>
        <td>常州</td>
        <td>常州</td>
        <td>天宁区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>武进区</td>
        <td>常州</td>
        <td>常州</td>
        <td>武进区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>新北区</td>
        <td>常州</td>
        <td>常州</td>
        <td>新北区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>钟楼区</td>
        <td>常州</td>
        <td>常州</td>
        <td>钟楼区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>东台</td>
        <td>东台</td>
        <td>东台</td>
        <td>东台市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>海安</td>
        <td>海安</td>
        <td>海安</td>
        <td>海安县</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>楚州区</td>
        <td>淮安</td>
        <td>淮安</td>
        <td>淮安市（楚州区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>淮阴区</td>
        <td>淮安</td>
        <td>淮安</td>
        <td>淮安市（淮阴区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>清河区</td>
        <td>淮安</td>
        <td>淮安</td>
        <td>淮安市（清河区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>清浦区</td>
        <td>淮安</td>
        <td>淮安</td>
        <td>淮安市（清浦区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>江阴</td>
        <td>江阴</td>
        <td>江阴</td>
        <td>江阴市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>金坛</td>
        <td>金坛</td>
        <td>金坛</td>
        <td>金坛市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>昆山</td>
        <td>昆山</td>
        <td>昆山</td>
        <td>昆山市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>太仓</td>
        <td>昆山</td>
        <td>昆山</td>
        <td>太仓市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>溧阳</td>
        <td>溧阳</td>
        <td>溧阳</td>
        <td>溧阳市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>东海</td>
        <td>连云港</td>
        <td>连云港</td>
        <td></td>
        <td>东海县</td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>赣榆</td>
        <td>连云港</td>
        <td>连云港</td>
        <td></td>
        <td>赣榆县</td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>海州区</td>
        <td>连云港</td>
        <td>连云港</td>
        <td>海州区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>连云区</td>
        <td>连云港</td>
        <td>连云港</td>
        <td>连云区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>新浦区</td>
        <td>连云港</td>
        <td>连云港</td>
        <td>新浦区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>白下区</td>
        <td>南京</td>
        <td>新街口</td>
        <td>白下区（洪武路街道、朝天宫街道、建康路街道、五老村街道、瑞金路街道、止马营街道）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>白下区</td>
        <td>南京</td>
        <td>苜蓿园</td>
        <td>白下区（大光路街道、苜蓿园街道、光华路街道）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>鼓楼区</td>
        <td>南京</td>
        <td>下关</td>
        <td>鼓楼区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>建邺区</td>
        <td>南京</td>
        <td>下关</td>
        <td>建邺区（滨湖街道、兴隆街道）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>建邺区</td>
        <td>南京</td>
        <td>安德门</td>
        <td>建邺区（南湖街道、南苑街道、双闸街道、沙洲街道、江心洲街道）、雨花台区、秦淮区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>江宁区</td>
        <td>南京</td>
        <td>马群</td>
        <td>江宁区（汤山街道）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>江宁区</td>
        <td>南京</td>
        <td>溧水</td>
        <td>江宁区（禄口街道）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>江宁区</td>
        <td>南京</td>
        <td>江宁</td>
        <td>江宁区（东山街道、秣陵街道、淳化街道、江宁街道、谷里街道、湖熟镇、横溪镇）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>溧水</td>
        <td>南京</td>
        <td>溧水</td>
        <td>溧水县</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>六合区</td>
        <td>南京</td>
        <td>江浦</td>
        <td>六合区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>浦口区</td>
        <td>南京</td>
        <td>江浦</td>
        <td>浦口区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>栖霞区</td>
        <td>南京</td>
        <td>马群</td>
        <td>栖霞区（马群街道）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>栖霞区</td>
        <td>南京</td>
        <td>栖霞</td>
        <td>栖霞区（尧化街道、栖霞街道、龙潭街道、仙林街道、靖安街道、八卦洲街道）、燕子矶街道（新港开发区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>下关区</td>
        <td>南京</td>
        <td>下关</td>
        <td>下关区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>玄武区</td>
        <td>南京</td>
        <td>新街口</td>
        <td>玄武区（新街口街道）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>玄武区</td>
        <td>南京</td>
        <td>迈皋桥</td>
        <td>玄武区（红山街道、锁金村街道）、迈皋桥街道、燕子矶街道（新港开发区除外）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>玄武区</td>
        <td>南京</td>
        <td>苜蓿园</td>
        <td>玄武区（孝陵卫街道、梅园街道、玄武门街道、后宰门街道、玄武湖街道）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>崇川区</td>
        <td>南通</td>
        <td>南通</td>
        <td>崇川区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>港闸区</td>
        <td>南通</td>
        <td>南通</td>
        <td>港闸区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>海门</td>
        <td>南通</td>
        <td>南通</td>
        <td>海门市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>靖江</td>
        <td>南通</td>
        <td>靖江</td>
        <td>靖江市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>启东</td>
        <td>南通</td>
        <td>启东</td>
        <td>启东市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>通州</td>
        <td>南通</td>
        <td>南通</td>
        <td>通州市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>邳州</td>
        <td>邳州</td>
        <td>邳州</td>
        <td>邳州市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>如东</td>
        <td>如东</td>
        <td>如东</td>
        <td>如东县</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>如皋</td>
        <td>如皋</td>
        <td>如皋</td>
        <td>如皋市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>沧浪区</td>
        <td>苏州</td>
        <td>苏州</td>
        <td>沧浪区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>常熟</td>
        <td>苏州</td>
        <td>常熟</td>
        <td>常熟市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>虎丘区</td>
        <td>苏州</td>
        <td>苏州</td>
        <td>虎丘区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>金阊区</td>
        <td>苏州</td>
        <td>苏州</td>
        <td>金阊区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>平江区</td>
        <td>苏州</td>
        <td>苏州</td>
        <td>平江区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>吴江市</td>
        <td>苏州</td>
        <td>吴江</td>
        <td>吴江市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>吴中区</td>
        <td>苏州</td>
        <td>苏州</td>
        <td>吴中区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>相城区</td>
        <td>苏州</td>
        <td>苏州</td>
        <td>相城区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>泰兴</td>
        <td>泰兴</td>
        <td>泰兴</td>
        <td>泰兴市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>高港区</td>
        <td>泰州</td>
        <td>泰州</td>
        <td>高港区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>海陵区</td>
        <td>泰州</td>
        <td>泰州</td>
        <td>海陵区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>姜堰</td>
        <td>泰州</td>
        <td>泰州</td>
        <td>姜堰市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>北塘区</td>
        <td>无锡</td>
        <td>无锡</td>
        <td>北塘区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>滨湖区</td>
        <td>无锡</td>
        <td>无锡</td>
        <td>滨湖区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>崇安区</td>
        <td>无锡</td>
        <td>无锡</td>
        <td>崇安区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>惠山区</td>
        <td>无锡</td>
        <td>无锡</td>
        <td>惠山区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>南长区</td>
        <td>无锡</td>
        <td>无锡</td>
        <td>南长区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>锡山区</td>
        <td>无锡</td>
        <td>无锡</td>
        <td>锡山区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>宜兴</td>
        <td>无锡</td>
        <td>宜兴</td>
        <td>宜兴市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>宿城区</td>
        <td>宿迁</td>
        <td>宿迁</td>
        <td>宿城区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>宿豫区</td>
        <td>宿迁</td>
        <td>宿迁</td>
        <td>宿豫区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>鼓楼区</td>
        <td>徐州</td>
        <td>徐州</td>
        <td>鼓楼区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>九里区</td>
        <td>徐州</td>
        <td>徐州</td>
        <td>九里区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>泉山区</td>
        <td>徐州</td>
        <td>徐州</td>
        <td>泉山区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>铜山</td>
        <td>徐州</td>
        <td>徐州</td>
        <td>铜山县（县城）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>云龙区</td>
        <td>徐州</td>
        <td>徐州</td>
        <td>云龙区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>亭湖区</td>
        <td>盐城</td>
        <td>盐城</td>
        <td>亭湖区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>盐都区</td>
        <td>盐城</td>
        <td>盐城</td>
        <td>盐都区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>广陵区</td>
        <td>扬州</td>
        <td>扬州</td>
        <td>广陵区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>邗江区</td>
        <td>扬州</td>
        <td>扬州</td>
        <td>邗江区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>江都</td>
        <td>扬州</td>
        <td>扬州</td>
        <td>江都市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>维扬区</td>
        <td>扬州</td>
        <td>扬州</td>
        <td>维扬区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>张家港</td>
        <td>张家港</td>
        <td>张家港</td>
        <td>张家港市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>丹徒区</td>
        <td>镇江</td>
        <td>镇江</td>
        <td>丹徒区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>丹阳</td>
        <td>镇江</td>
        <td>镇江</td>
        <td>丹阳市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>京口区</td>
        <td>镇江</td>
        <td>镇江</td>
        <td>京口区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>句容</td>
        <td>镇江</td>
        <td>句容</td>
        <td>句容市</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>江苏省</td>
        <td>润州区</td>
        <td>镇江</td>
        <td>镇江</td>
        <td>润州区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>包河区</td>
        <td>合肥</td>
        <td>合肥</td>
        <td>合肥市（包河区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>庐阳区</td>
        <td>合肥</td>
        <td>合肥</td>
        <td>合肥市（庐阳区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>蜀山区</td>
        <td>合肥</td>
        <td>合肥</td>
        <td>合肥市（蜀山区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>瑶海区</td>
        <td>合肥</td>
        <td>合肥</td>
        <td>合肥市（瑶海区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>黄山区</td>
        <td>黄山</td>
        <td>黄山</td>
        <td></td>
        <td>黄山市（黄山区）</td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>徽城镇</td>
        <td>黄山</td>
        <td>黄山</td>
        <td>徽城镇</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>徽州区</td>
        <td>黄山</td>
        <td>黄山</td>
        <td>黄山市（徽州区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>屯溪区</td>
        <td>黄山</td>
        <td>黄山</td>
        <td>黄山市（屯溪区）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>王村镇</td>
        <td>黄山</td>
        <td>黄山</td>
        <td>王村镇</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>歙</td>
        <td>黄山</td>
        <td>黄山</td>
        <td>歙县县城</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>休宁</td>
        <td>黄山</td>
        <td>黄山</td>
        <td>休宁县</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>渔梁镇</td>
        <td>黄山</td>
        <td>黄山</td>
        <td>渔梁镇</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>郑村镇</td>
        <td>黄山</td>
        <td>黄山</td>
        <td>郑村镇</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>当涂</td>
        <td>马鞍山</td>
        <td>马鞍山</td>
        <td>当涂县（当涂工业园）</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>花山区</td>
        <td>马鞍山</td>
        <td>马鞍山</td>
        <td>花山区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>金家庄区</td>
        <td>马鞍山</td>
        <td>马鞍山</td>
        <td>金家庄区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>雨山区</td>
        <td>马鞍山</td>
        <td>马鞍山</td>
        <td>雨山区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>戈江区</td>
        <td>芜湖</td>
        <td>芜湖</td>
        <td>戈江区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>镜湖区</td>
        <td>芜湖</td>
        <td>芜湖</td>
        <td>镜湖区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>鸠江区</td>
        <td>芜湖</td>
        <td>芜湖</td>
        <td>鸠江区</td>
        <td></td>
      </tr>
      <tr>
        <td>华东</td>
        <td>安徽省</td>
        <td>三山区</td>
        <td>芜湖</td>
        <td>芜湖</td>
        <td>三山区</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div>
    <p>（注）红色字体部分为暂时无法提供代收货款区域，敬请谅解！</p>
    <p>配送区域可能会随时调整，请以网站提供信息为准，如果有任何问题请致电：400-630-5006</p>
  </div>
</div>
