<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">
  <h1>收费标准</h1>
	<p>壹美壹家所有商品全部采用壹美壹家自己物流或者第三方物流（中外运全一）送货上门的配送方式。</p>
	<p>宁波地区单张订单金额满50元免费送货。单张订单金额不满50元，加收5元配送费。宁波地区以外浙江省内及上海地区，
    单张订单满100元免费送货，单张订单金额不满100元，加收20元配送费。（网站特别申明免费情况除外）</p>
	<p>同一张订单若包含有<img src="../images/button_in_payment.jpg" />符号时，该商品订单会被拆分成单独订单，
    不计算配送费。不含厂家直送商品的订单将被视为一张订单，计算配送费。</p>
	<p>如果有任何问题，请致电咨询：<em>400-630-5006</em>。</p>
</div>