<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">
  <h1>配送时间</h1>
	<p>壹美壹家所有商品全部采用壹美壹家自己物流或者第三方物流（中外运全一）送货上门的配送方式。</p>
	<p>宁波地区（包括北仑、镇海、江北、海曙、江东、鄞州、奉化、余姚、慈溪、宁海、象山）当天17:00之前下的订单在24个小时内送货，
    17:00之后的订单在48个小时内送货。</p>
	<p>宁波地区以外浙江省内及上海地区当天17:00之前下的订单在48个小时内送货，17:00之后下的订单在3个工作日内送货。</p>
	<p>壹美壹家安排周一至周六送货，送货日遇到周日及法定节假日顺延。周六下的订单在48个小时内送货。（节假日送货安排以网站公告为准）</p>
	<p>购买有 <img src="../images/button_in_payment.jpg">标志（厂家直送、非在库）的商品，请另外确认送货日期。</p>
	<p>厂家直送商品（红色确认标记）是壹美壹家仓库不备库商品，根据客户的订单另外向厂家采购，由于商品运输的特殊要求，
    由厂家负责向客户配送并且安装，所以具体的到货时间根据情况而不同。客户下单并且完成全额支付以后（仅限线上支付或者转账），
    大约7个工作日内送货上门。</p>
	<p>非库存商品（蓝色确认标记）是壹美壹家仓库不备库商品，根据客户的订单另外向厂家采购，商品达到我们仓库以后由我们负责向客户配送。
    所以具体的到货时间根据情况而不同，一般需要3-5个工作日。</p>
	<p>一旦商品到货开始配送，我们会通过电子邮件或者电话等方式通知您。您也可以及时拨打我们客服：<em>400-630-5006</em>查询情况。</p>
	<p>壹美壹家现在不提供指定时间配送服务，如果有特殊情况请在下单时备注，我们会致电确认。</p>
</div>