<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">
  <h1>壹美壹家网站购物常见问题</h1>
  <br />
  <h2>问：壹美壹家所售商品都是正品行货吗？有售后保修吗？</h2>
  <p>答：壹美壹家承诺所售商品都是正品行货，从正规渠道采购，可以提供供应商正规机打发票证明。
    壹美壹家将按照国家三包政策，针对所售商品履行保修、换货和退货的义务。</p>
  <br />
  <h2>问：购买的商品能开发票？如果是公司购买，可以开增值税发票吗？</h2>
  <p>答：公司所售商品都是正品行货，都可以开具正规发票，用作单位报销凭证。客户可以选择开具普通发票或者是增值税发票。
    如果您不需要发票，请勾选“不需要发票”。开具增值税发票需要提供开户银行、开户名称、银行账号、增值税登记号。
    发票会随包裹一同发出，如果配送发生配送费用（参考服务条款第七条）发票金额含配送费金额。月结客户我们会在每月结账时邮寄发票。</p>
  <br />
  <h2>问：网站或者电话下单后何时可以收到货？</h2>
  <p>答：在商品有库存显示的情况下，客户的下单得到系统确认后，将根据您的收货地址区域安排配送。</p>
  <p>宁波地区（包括北仑、镇海、江北、海曙、江东、鄞州、奉化、余姚、慈溪、宁海、象山）当天17:00之前下的订单在24个小时内送货，
    17:00之后的订单在48个小时内送货。</p>
  <p>宁波地区以外浙江省内及上海地区当天17:00之前下的订单在48个小时内送货，17:00之后下的订单在3个工作日内送货。</p>
  <p>壹美壹家安排周一至周六送货，送货日遇到周日及法定节假日顺延。周六下的订单在48个小时内送货。（节假日送货安排以网站公告为准）</p>
  <p>购买有<img src="../images/help6_2_wps_clip_image-4671.jpg">标志的商品，请另外确认送货日期。</p>
  <br />
  <h2>问：显示非库存（即带蓝色确认标记）的商品什么时候能到货？</h2>
  <p>答：非库存商品是壹美壹家仓库不备库商品，根据客户的订单另外向厂家采购，商品达到我们仓库以后由我们负责向客户配送。
    所以具体的到货时间根据情况而不同，一般需要3-5个工作日。一旦商品到货开始配送，我们会通过电子邮件或者电话等方式通知您。
    您也可以及时拨打我们客服400-630-5006查询情况。</p>
  <br />
  <h2>问：显示厂家直送（即带红色确认标记）的商品什么时候能到货？</h2>
  <p>答：厂家直送商品是壹美壹家仓库不备库商品，根据客户的订单另外向厂家采购，由于商品运输的特殊要求，
    由厂家负责向客户配送并且安装，所以具体的到货时间根据情况而不同。客户下单并且完成全额支付以后（仅限线上支付或者转账），
    大约7个工作日内送货上门。商品开始配送前我们会通过电话等方式通知您。您也可以及时拨打我们客服400-630-5006查询情况。</p>
  <br />
  <h2>问：配送费是多少？</h2>
  <p>答：.宁波地区单张订单金额满50元免费送货。单张订单金额不满50元，加收5元配送费。
    宁波地区以外浙江省内及上海地区单张订单满100元免费送货，单张订单金额不满100元，加收20元配送费。</p>
  <p>当天的订单截止时间内，同一客户下多张订单时，对于配送地址与配送时间都相同的订单，
    配送费用只按照第一张订单的金额计算；对于配送地址或配送时间不同的订单，配送费用将按单张订单金额分别计算。</p>
  <p>同一张订单若包含有确认（厂家直送商品或者非在库商品）符号的商品时，每一个确认商品都会被另外拆分成1张订单，
    不计算配送费。不含确认标识商品的订单将被视为一张订单，计算配送费。</p>
  <br />
  <h2>问：下单时可以指定送货日期和时间吗？</h2>
  <p>答：壹美壹家的送货时间是周一至周六8:30-17:00，遇到周日及法定节假日顺延。节假日送货安排以网站公告为准。
    壹美壹家现在不提供指定送货时间服务，如果有特殊需要可以在送货备注中注明，我们会尽量协调并致电确认。</p>
  <br />
  <h2>问：在线支付支持哪些银行卡？支持大额支付吗？</h2>
  <p>答：目前我们支持通过支付宝平台的所有网上支付，支持大部分银行的银行卡及信用卡在线支付，
    只要您开通了“网上支付”功能，即可进行在线支付，无需手续费，实时到帐，方便快捷。如客户原因取消订单退款，
    则需要客户承担1%平台手续费。对于网上支付金额限制根据各银行政策不同，建议您在申请网上支付功能时向银行咨询相关事宜。</p>
  <br />
  <h2>问：可以提供货到付款吗？支持刷卡吗？</h2>
  <p>答：宁波地区（包括北仑、镇海、江北、海曙、江东、鄞州、奉化、余姚、宁海、象山）
    以及浙江省内大部分地区和上海全市支持货到货到付款方式（具体区域请看“配送范围”的可到达地区列表），
    您可以在下单时进行支付方式的选择。现在暂时我们只接受现金支付，不支持刷卡支付，敬请谅解。</p>
  <h2>问：收货时发现问题可以拒收吗？</h2>
  <p>答：在签收货物时如发现商品严重缺损、型号数量不符等情况可当场提出拒收要求，我们将另外安排将新的商品免费送至您处。
    为保障您的权益，请您付款后即与配送人员当面核对商品的种类、数量、规格、赠品、金额等是否与订单一致，确认无误后再进行签收。
    如果要求退换货，请参考相关条款规定。</p>
  <h2>问：产品如何保修？</h2>
  <p>答：壹美壹家销售的商品都以商品说明中的保修承诺为准。具体请参考相关服务条款。</p>
  <br />
  <h2>问：如何办理退换货？</h2>
  <p>答：客户在收到所购商品时，或收到商品后15天内，属于服务条款规定情况的可与壹美壹家客户服务中心取得联系，
    凭发票办理退换货。月结客户结账期内，未收到货品发票时，可凭交货单办理退换货手续。
    客户须保存好商品相关包装及配件等以确保退换货手续的顺利进行。具体请看客服服务条款或者退换货说明。</p>
  <br />
  <h2>问：订单得到确认后我该做什么？</h2>
  <p>答：订单在得到系统确认以后，如果您选择在线支付，系统会提示您进行在线支付，
    如果订单未支付3个工作日以上我们会致电进行确认。未支付的订单有可能被取消敬请谅解。</p>
  <p>如果您选择银行转账，转账后请务必进入订单点击“付款信息”，填写相关转账汇款信息。
    填写完以后订单状态会自动变更到“等待确认付款”，我们会尽快做出确认。</p>
  <br />
  <h2>问：订单付款后，如果长时间未收到货，我是否可以申请办理退款？</h2>
  <p>答：壹美壹家使用自己物流配送和第三方物流（中外运全一）配送商品，如果非客户原因，
    造成商品自我们仓库发货时间算起超过客服或者网站提示到货时间10天以上，
    仍未配送到客户处的，可及时致电客服400-630-5006，我们将帮您办理退款事宜。</p>
  <br />
  <h2>问：为什么我无法登陆壹美壹家网上商城？</h2>
  <p>答：首先要检查您的用户名、密码是否正确，确认您的浏览器是否支持COOKIE。
    如果因为网站升级或者维护需要导致客户暂时性无法使用的，我们会提前公告，敬请谅解。</p>
  <br />
  <h2>问：如果我有问题或建议如何向你们反馈？</h2>
  <p>答：可以。请参考“投诉和建议”内容和我们取得联系，我们非常乐意接受您的任何建议和意见，
    并会尽快做出答复，改进我们的工作。</p>
  <p>客服邮箱：CS@emehome.cn</p>
  <p>全国客服热线：<em>400-630-5006</em>（周一至周六8:30-17:00）</p>
</div>
