<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">
  <h1>忘记密码</h1>
  <p>如果您忘记了壹美壹家的网站注册客户密码，请点击“忘记密码”，按照以下界面填写您的会员ID和邮箱地址，
    系统会将带有找回密码链接的邮件发送到您注册时使用的邮箱，点击链接，根据提示直接输入您需要设置的新密码。</p>
  <p>如果有任何问题，请致电客服电话<em>400-630-5006</em>（周一至周六8:30-17:00）</p>
  <img src="../images/help6_1_wps_clip_image-4060.jpg" />
</div>