<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">
  <h1>加入我们！</h1>
	<h2>——为了更多中国客户也为了您自己</h2>
	<br>
	<p>企业价值观</p>
	<p>壹美壹家是一站式提案现代都市人生活工作方式的大众时尚品牌。产品涵盖生活家具、家居饰品、家纺、日用品、办公用品、公共办公家具等。我们希望通过自己的商品让客户在人生的2/3宝贵时间里享受到每分每秒的“快乐生活
        轻松办公”！</p>
	<br>
	<p>如果您愿意加入我们的团队，请提供您的简历</p>
	<ul>
		<li>有意者请将您的中英文简历、学历学位证复印件、1张1寸照片</li>
		<li>EMAIL到<a href="mailto:miaoyame@emehome.cn">miaoyamei@emehome.cn</a>（请勿以附件形式发送简历！）</li>
		<li>简历中请注明：</li>
			<ul>
				<li>您所申请的职位</li>
				<li>您目前或期望的薪资范畴</li>
				<li>请在email主题中注明：应聘者姓名--应聘部门--应聘职位</li>
		      </ul>
	</ul>
	<br>
	<p>学院招聘计划：<br>
      1、研发储干（10名）<br>
      招聘专业及要求：<br>
	1、家具设计、工业设计等相关专业 <br>
	2、熟练操作CAD、3DMAX等绘图软件 <br>
	3、学习能力与可塑性强 </p>
	<p>2、营销储干（10名）<br>
        招聘专业及要求：<br>
	  1、市场营销等相关专业 <br>
	  2、有良好的口头表达能力，亲和力强 </p>
	<p>3、成产储干（10名）<br>
        招聘专业及要求：<br>
	  1、对家具行业有浓厚的兴趣； <br>
	  2、清楚了解自己的发展方向（如生产管理/生产计划/工艺技术）； <br>
	  3、吃苦耐劳，服从安排，需从车间基层员工做起； </p>
	<p>4、广告企划专员（3名）<br>
        招聘专业及要求：<br>
	  1、广告、中文、新闻等相关专业 <br>
	  2、具有敏锐的创新思维和相当的营销理论素养 <br>
	  3、对品牌与传播有深刻见解</p>
	<p>4、呼叫中心坐席（3名）<br>
        招聘专业及要求：<br>
	  1、普通话标准，口齿清晰，声音甜美，具有亲和力 <br>
	  2、具有较强的沟通能力，表达能力，应变能力 <br>
	  3、工作主动积极，责任心强，具备团队合作精神 </p>
	<p>校园招聘录用程序： <br>
	  1.网络投寄简历者或校园招聘会→面试→签订接收协议。 <br>
	  2.拟录用人员将安排半年在岗带薪实习，通过实习期考核者，将于毕业后正式聘用。 </p>
	<p>（目前集团公司也大量需要英才，以下招聘岗位包括部分集团公司招聘信息）</p>
	<p>壹美壹家贸易有限公司<br>
        1.出纳：（一名） <br>
	  岗位职责：<br>
	  1.办公环境的维护工作<br>
  	  2.客户来访的接待工作.<br>
	  3.办公用品的日常管理；行政档案的归档工作. <br>
	  4.日常行政报销工作及出纳的相关工作。 <br>
	  5.公司各类工作证、名片、信封和稿笺的制作.<br>
	  6.完成上级领导交办的临时工作任务。<br>
	  任职资格：<br>
	  1.女性，18-30岁，中专及以上学历，会计相关专业.<br>
	  2.有出纳经验者优先，宁波本地优先。<br>
	  3.具备较强的沟通和协调能力；具有良好的公文写作能力<br>
	  4.熟悉运用Word、Excel、Powerpoint等办公应用软件；<br>
	  5.&nbsp;良好的职业道德，具有安全保密意识； </p>
	<p>2.网管：（一名）<br>
	  岗位职责：</p>
	<ol>
	  <li>公司内部网络和办公设备的正常维护。</li>
	  <li>维护网路系统和终端的服务器。</li>
	  </ol>
	<p>任职资格：</p>
	<ol>
	  <li>男性， 20---40岁，大专及以上学历，计算机和信息管理等相关专业</li>
	  <li>一年以上工作经验</li>
	  <li>熟悉基本网络知识，网络设备的（服务器，防火墙，路由器，交换机等）的配置和管理。</li>
	  <li>善于沟通，有良好的合作精神。</li>
	  </ol>
	<p>3.呼叫中心坐席：（三名）<br>
	  岗位职责：</p>
	<ol>
	  <li>负责接听客户咨询电话。</li>
	  <li>负责协助客户订购产品，促成订单交易。</li>
	  <li>负责客户的电话回访。</li>
	  </ol>
	<p>任职资格：</p>
	<ol>
	  <li>女性，18—35岁，中专及以上学历。</li>
	  <li>普通话标准，口齿清晰，声音甜美，具有亲和力。</li>
	  <li>熟练操作电脑，汉字输入速度快，有大型呼叫中心工作经验者优先。</li>
	  <li>具有较强的沟通能力，表达能力，应变能力。</li>
	  <li>工作主动积极，责任心强，具备团队合作精神。</li>
	  </ol>
	<p>4.仓储、验货人员：（一名）<br>
	  岗位职责：<br>
	  1.每天根据订单包装要发出的货物。<br>
	  2.整理和盘点仓库物品，调整货物存放空间。<br>
	  3.入库商品的检查和搬运<br>
	  任职资格：</p>
	<ol>
	  <li>男性，18---40岁，高中及以上学历。</li>
	  <li>身体健康，具有吃苦耐劳的工作态度</li>
	  <li>工作细心，耐心，责任心强。</li>
	  <li>诚恳，正直。</li>
	  </ol>
	<p>5.商品企划担当：（两名）<br>
	  岗位职责：</p>
	<ol>
	  <li>熟悉商品管理，能够按商品类别分类。</li>
	  <li>根据市场分析，能够做销售预算，并完成销售任务。</li>
	  <li>熟悉供应商的管理，对现有供应商的考核和开发新的供应商。</li>
	  <li>不断开发新产品</li>
	  </ol>
	<p>任职资格：<br>
	  1.性别不限，年龄20---35岁，大专及以上学历，市场营销专业优先考虑。<br>
	  2.有采购或市场开发工作经验。<br>
	  3.有较强的上进心，能适应较强的工作压力。<br>
	  4.热情，成熟，自信，<br>
	  5.较强的观察能力和应变能力。谈判能力</p>
	<p>6.大客户销售经理（区域）：（三名）<br>
	  岗位职责：<br>
	  1.面向政府单位客户，完成所辖目标市场的销售目标。<br>
	  2.重点客户的开发和维护，重大项目的跟踪和谈判。<br>
	  3.根据客户需求制定和实施办公采购解决方案。<br>
	  4.销售数据的统计和分析，市场情况的收集，分析和报告。<br>
	  任职资格：<br>
	  1.男女不限，年龄22---35岁，大专及以上学历。<br>
	  2.能熟练操作电脑，有一定数据分析能力<br>
	  3.三年以上工作经验。<br>
	  4.有相关办公用品行业销售经验者优先。<br>
	  5.具备敏锐的市场洞察能力和准确的判断能力，具备较强的语言表达能力</p>
	<p>7.系统开发工程师：（一名） <br>
	  岗位职责：<br>
	  1.根据部门需要开发升级系统，修正系统错误。<br>
	  2.搭建网站框架，测试网站程序。<br>
	  任职资格：<br>
	  1.性别不限，20—40岁，大学本科及以上学历。计算机和信息管理等相关专业。<br>
	  2.熟练掌握C+语言机NET环境营运开发。<br>
	  3.熟练掌握sql&nbsp; server数据开发。<br>
	  4.熟悉AJAX开发。<br>
	  5.善于沟通，有良好的团队精神，责任心强，<br>
	  6.一年以上相关工作经验。</p>
	<p>宁波壹美家具有限公司<br>
        1.企划部主管：（1名）<br>
        职务描述</p>
	<ol>
	  <li>负责家具行业的信息收集，行情整理，研究市场的宏观方面的信息，包含市场动态、竞争品牌动向、产品与市场信息； </li>
	  <li>负责制定年、季、月度市场推广方案并督导、执行； </li>
	  <li>负责年度商品策划目标的达成及阶段性的专案调查报告； </li>
	  <li>独立完成广告策划、促销专案的拟订与实施效果监测； </li>
	  <li>独立完成公司营销推广项目的整体策划创意、设计与提报，文案设计策划等工作。 </li>
	  </ol>
	<p>任职资格：<br>
	  1、市场营销管理类或相关专业专科以上学历； <br>
	  2、有较强的活动项目策划、执行和创新能力，良好的广告设计和创意能力； <br>
	  3、了解市场动态，依据市场变化适时策划制定整体促销方案，策划定期的促销活动； <br>
	  4、善于创新，注重团队合作和适应高强度的工作环境。 <br>
	  5、有家具行业背景优先。 </p>
	<p>2.培训专员：（1名）<br>
        职务描述<br>
	  1、规划培训课程内容，建立销售业务培训教材体系和培训系统； <br>
	  2、负责组织对区域拓展专员和直营店人员产品培训、销售技能、服务、公司文化等培训工作，跟进及考核店铺培训的效果； <br>
	  3、能够通过有效培训，激励员工，调整员工的心态，迅速提升销售人员的业务能力； <br>
  	任职资格：</p>
	<ol>
	  <li>具有大专以上学历，3年以上培训工作经验； </li>
	  <li>具备组织培训的开展、授课、教学管理能力； </li>
	  <li>具备良好的演讲能力，较强的亲和力和感染力，工作敬业，责任感强，有良好的合作精神和团队精神，有良好的形象、沟通、表达能力及文字水平； </li>
	  <li>工作认真，顾全大局，执行力强。 </li>
	  </ol>
	<p>3.区域经理（区域拓展专员）：（3名）<br>
        职务描述<br>
	  1、负责市场的开拓，对加盟商的开业及产品推广进行辅导，管理加盟商的业务情况； <br>
	  2、建立、维护渠道合作，拓展新的企业客户； <br>
	  3、依据营销计划，执行销售和市场渠道推广方案； <br>
	  4、负责贯彻执行公司政策，反馈意见，提出改进建议。 <br>
	任职资格：</p>
	<ol>
	  <li>专科及以上学历，市场营销等相关专业； </li>
	  <li>具有独立的分析和解决问题的能力，市场感觉敏锐，有良好的沟通技巧和组织能力； </li>
	  <li>3年以上渠道销售工作经验，有丰富客户资源及家居行业经验者优先； </li>
	  <li>能承受较大工作压力。 </li>
	</ol>
	<p>4.督导（营业管理专员）：（2名）<br>
        岗位职责：<br>
	  1. 负责专卖店内所有员工的人事管理、培训、工作考核、薪资考核； <br>
	  2. 负责专卖店内新品上市的前期准备及店铺后期执行的相关工作； <br>
	  3. 监督店铺促销活动的执行及促销结果的反馈工作； <br>
	  4. 监督指导直营店、加盟店的销售； <br>
	  5. 监督公司各项政策在直营店和专卖店的执行情况。<br>
	  6、负责区域市场的维护与监控工作，减少与避免假冒伪劣、冲货、窜货及低价现象出现； <br>
	任职要求：<br>
	  1、大专以上学历，市场营销和企业管理类专业优先；<br>
	  2、三年以上建材、家具、家装及相关行业销售工作经验；具备敏锐的市场洞察能力和准确的判断能力，较强的语言表达能力；<br>
	  3、有销售团队带领管理经验，良好的组织协调能力； <br>
	  4、正直、坦诚、成熟、豁达、自信；高度的工作热情，良好的团队合作精神； </p>
	<p>5.渠道经理（通路建设专员）：（2名）<br>
	岗位职责：<br>
	  1、协助区域经理制定和执行销售策略，负责区域内专卖店的开拓，评估和管理； <br>
	  2、执行区域内销售和市场推广方案，组织销售活动，完成计划任务及各项考核指标； <br>
	  3、协助区域经理开拓、沟通和管理各区域的重要客户； <br>
	  4、负责专卖店日常管理执行情况检查和不定期业务人员考核，以及售后服务的管理和协调；负责培训专卖店销售团队，包括营业人员销售技巧、礼仪规范等； <br>
	  5、负责新店开张促销活动的策划；<br>
	任职资格：<br>
	  1、男性，20—40岁； <br>
	  2、大专以上学历，管理类或市场营销相关专业，有五年以上渠道市场开发经验；<br>
	  3、敏锐的市场洞察力、较强的沟通能力和商务谈判能力和专卖连锁店管理能力；熟练操作办公软件； &nbsp;<br>
	  4、工作认真、努力，积极进取主动性强；高度的工作热情，热爱本职工作，良好的团队合作精神； <br>
	  5、能吃苦耐劳，适应经常出差。 </p>
	<p>6.广告企划专员：（1名）<br>
	岗位职责：<br>
	  1、参与从市场需求信息分析、产品整合营销推广策略方案以及产品价格政策及相关市场销售策略的制定； <br>
	  2、负责组织整体市场推广计划的实施和并随时监控结果和实施情况。<br>
	  3、负责公司市场推广活动（品牌推广、新品发布、节庆活动、新开店庆祝活动）的策划、组织、及筹备工作。<br>
	  4、负责品牌形象设计及专卖店铺的商品陈列；&nbsp;负责店铺整体形象及新品上市陈列规划道具POP； <br>
	  5、负责协调涉及市场活动的各种关系； <br>
	任职要求：<br>
	  1、市场营销或新闻媒介专业； <br>
	  2、从事企业策划工作3年以上，有组织大型营销推广活动的能力；有全程负责策划、管理、组织大型营销推广活动的经验者优先； <br>
	  3、具有较强的市场调研与分析能力、协调能力， 具有管理经验和成功运作市场品牌的经历； <br>
	  4、工作认真、努力，积极进取主动性强；高度的工作热情，热爱本职工作，良好的团队合作精神；.熟练操作office软件； </p>
	<p>7.安装技师：<br>
	  1.男性，年龄20----45岁，家具行业三年以上工作经验。</p>
	<p>乔明家居<br>
	1.人力资源部经理：（1名）<br>
	岗位职责：<br>
	  1、负责公司人力资源战略的制定和执行； <br>
	  2、制定招聘和培训计划，并贯彻执行； <br>
	  3、负责公司绩效管理的贯彻和执行，并制定动态监督和改进计划； <br>
	  4、负责规划、指导、监督、协调下属及员工的聘用、工资福利、员工关系等管理工作； <br>
	  5、负责劳资关系的处理及调解工作。 <br>
	  任职资格 </p>
	<ol>
	  <li>人力资源管理、企业管理等相关专业，3年以上人力资源副职或正职工作经历； </li>
	  </ol>
	<p>2、熟悉国家、地区及企业关于劳动用工合同管理、薪金制度、保险福利待遇、培训等方面的法律法规及政策； <br>
	  3、对人力资源六大职能模块有较深入的认识并能指导工作，具备扎实的理论基础和现代人力资源管理理念； <br>
	  4、具有较强的语言表达能力、人际交往能力、应变能力、沟通能力及解决问题的能力，有亲和力，较强的责任感与敬业精神。 </p>
	<p>2.岗位：成本会计：（2名） <br>
	  岗位职责： <br>
	  1、进行成本预测，编制成本计划，为企业进行有计划的成本管理提供基本依据。 <br>
	  2、建立健全成本核算的原始记录管理制度、计量验收制度、财产、物资的管理与清查盘点制度、内部价格制度及内部稽核制度； <br>
	  3、及时正确的进行成本核算，并收集与成本有关的原始数据，为公司决策提供准确的成本信息； <br>
	  4、编写成本分析报告，监督、调查执行成本计划情况，完善成本管理流程； <br>
	  5、开展项目财务成本管理工作，推动全流程成本/费用的优化。 <br>
	  任职资格 <br>
	  1、财会相关专业、大专及以上学历，具备扎实的财务理论知识。 <br>
	  2、3年以上制造业成本核算工作经验，中级以上职称者优先。 <br>
	  3、熟悉ERP流程，对数据敏感性高，办事严谨，良好的人际沟通能力。 </p>
	<p>3.岗位：财务部经理:（1名）<br>
	  岗位职责： <br>
	  1、主持日常财务、会计及税务管理工作，不断完善财务管理制度； <br>
	  2、根据公司经营目标，组织指导编制财务预算并监管预算的执行，做好税务筹划及集中管理工作； <br>
	  3、负责完成各项财务结算、会计核算，上报财务执行情况，为管理层提供分析数据； <br>
	  4、全面负责帐务问题处理及税务的协调工作，维系好与税务等部门机关的关系。 <br>
	  5、负责部门团队建设及员工培养，制定财务内部相关指标，做好绩效考核管理； <br>
	  任职资格 <br>
	  1、财会等相关专业大专及以上学历，具备中级以上职称； <br>
	  2、5年以上制造型企业财务工作经历，其中三年以上部门负责人工作经历； <br>
	  3、熟悉成本、总帐、仓储、统计、税务、资金等职能管理； <br>
	  4、较强的成本管理、财务分析的能力，能熟练使用财务管理软件。 </p>
	<p>4.岗位：网络管理：（2名）<br>
	  岗位职责： <br>
	  1、负责公司计算机以及其他办公设备的日常维护和故障处理； <br>
	  2、负责局域网、ERP系统故障的处理及维护； <br>
	  3、负责公司的信息管理，培训和指导员工正确使用电脑和办公设备，高效正确提供专业服务。 <br>
	  任职资格 <br>
	  1、计算机与网络等相关专业大专及以上学历，具有2年以上工作经验； <br>
	  2、有计算机软硬件、网络及数据库维护等相关管理经验； <br>
	  3、具有较强的亲和力与服务意识，较强的执行力； </p>
	<p>5.岗位：系统工程师：（2名）<br>
	  岗位职责： <br>
	  1、负责解决ERP系统模块的问题； <br>
	  2、执行相关功能的模块开发和维护； <br>
	  任职资格 <br>
	  1、信息管理/计算机/财务等专业，2年以上相关工作经验； <br>
	  2、了解制造企业的业务流程，熟悉ERP系统的原理，有制造企业ERP应用经验者优先； <br>
	  3、独立工作能力强，有良好的合作精神,勤于思索，善于学习。 </p>
	<p>联系方式： <br>
	  联系人：宁波：苗小姐、张先生 <br>
	  象山：周小姐、项先生 <br>
	  电话：0574 –87917758（宁波）；0574—65875207（象山） <br>
	  传真；0574 –87917752（宁波）；0574—65871518（象山） <br>
	  Mail:hr@emehome.cn<br>
	  地址：香港地址：官塘创业街36号华基中心6楼 <br>
	  宁波工厂地址：宁波象山县西周镇象西工业区 </p>
	宁波地址：宁波市高新区扬帆路999弄研发园2号楼7F
    <p><br>
        <br>
    </p>
    <p>宁波壹美壹家贸易有限公司</p>
</div>