<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">
  <h1>月结客户</h1>
  <br>
  <p>壹美壹家为您提供了多样的支付方式，为您的网上购物支付提供更便捷的方式。
    法人公司客户可以根据情况按照以下操作申请月结客户按照月度结算进行支付。
    如果操作中有任何问题请致电客服热线<em>400-630-5006</em>（周一至周六8:30-17:00）</p>
  <br>
  <h2>1.月结资格的申请</h2>
  <p>月结客户资格申请需要直接通过壹美壹家客户经理向壹美壹家公司提交规定的审查资料。</p>
  <p>客户经理直线电话：0574-87917760（周一至周五8:30-17:30）</p>
  <h2>2.月结合同的签订</h2>
  <p>在审查资料通过信用资格审查之后，客户可以签订壹美壹家公司月结合同成为我们的月结客户。</p>
  <h2>3.月结额度</h2>
  <p>首次成为壹美壹家月结客户的订购信用额度为每月人民币2000元。
    当订单金额超过信用额度的余额时（信用额度余额=信用额度-应收账款余额），该订单将被保留。
    我们会根据客户上月的实际订购金额，调整本月的信用额度。或根据客户过去的订购信用情况，更新月结合同中的信用额度条款。</p>
  <h2>4.月结客户的付款</h2>
  <p>月结客户的付款只限银行转账方式。壹美壹家公司于每月的25日（若非工作日或国家法定节假日，则顺延至之后的第一个工作日）
    出具对账单与客户出账。确认后，于每月的月底向客户开出发票。客户应根据月度结算合同中约定的支付预定日期准时支付货款。</p>
</div>