<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">
  <h1>退换货原则</h1>
  <p>客户在收到所购商品时，或收到商品后15天内，属于以下情况的可与壹美壹家客户服务中心取得联系，凭发票办理退换货。
    月结客户结账期内，未收到货品发票时，可凭交货单办理退换货手续。客户须保存好商品相关包装及配件等以确保退换货手续的顺利进行。</p>
  <p>1.您在收到所购商品时，如发现商品缺损、严重赃污、型号数量不符等情况可当场提出退换货要求，
    我们将在另外安排配送将新的商品免费送至您处。 </p>
  <p>2.您在商品厂家规定的保修期内发现质量问题时，应立即停止使用该商品并与壹美壹家客户服务中心取得联系，
    壹美壹家将上门取货，并对商品进行检测，检测结果确定为产品质量时，壹美壹家将为您免费办理退换货手续。
    个别商品的质量检测须跟据厂家检测报告为准。 </p>
  <p>3.办公耗材类：您在壹美壹家购买的办公耗材15天以内（商品送达之日起算）如发现质量问题，
    应立即与壹美壹家客户服务中心取得联系，并停止使用该产品，进行质量检测。
    客户可以自行将该产品送交厂家相关机构进行检测或将商品递交壹美壹家售后服务中心，由壹美壹家代为检测，
    壹美壹家将依据厂家检测中心的产品质量证明书进行退换货服务。 </p>
  <p>4.整机类（如传真机、打印机、电脑等）：您在壹美壹家购买的整机类产品牌5天内（商品送达之日起算）
    如发现质量问题，应立即与壹美壹家客户服务中心取得联系，并停止使用该产品，
    壹美壹家将根据厂家产品检测中心的产品质量证明书为客户提供国家三包规定的退换货服务。
    家电、手机类产品的退换货按照国家三包规定办理退换货服务。 </p>
  <p>5.家具类：除商品本身质量原因外，家具商品到货后不接受退换货。
    如要求退换货，请务必保存好商品（包括配件、原包装）及相关发票，以确保退换货能顺利进行。 </p>
  <p>但以下情况不能退换货：</p>
  <ol>
    <li>已经打开包装的、或有曾被使用过的痕迹的商品（除墨盒类商品）。</li>
    <li>因客户原因，造成商品外观及外包装、使用性能等损坏时。 </li>
    <li>没有正当理由要求将商品随意更换成其他商品时。 </li>
    <li>特别订货：应客户要求、特别购买订制的商品，或关于直送商品订单、代客户采购等的商品。</li>
    <li>整机类产品按国家规定的三包条款执行，无质量问题时。</li>
    <li>已拆箱的电器类产品，家具类产品。</li>
    <li>签订合同的，按合同条款执行。</li>
  </ol>
  <p>因客户原因造成退换货的，根据具体的情况壹美壹家将收取每笔（或单）15元的服务费。
    壹美壹家将于确认收回商品及相关发票后7个工作日内以银行转账方式进行退款。</p>
  <br>
  <p>壹美壹家在法律允许范围内保留最终解释权，如果有任何问题请致电客服热线<em>400-630-5006</em>（周一至周六8:30-17:00）</p>

</div>