<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">
  <h1>注册会员</h1>
	<br>
	<p>欢迎登陆壹美壹家网站，请按以下步骤完成会员注册，希望您购物愉快！</p>
	<ul>
		<ol>1、 点击页面顶部“注册”栏，进入注册页面；</ol>
		<ol>2、 按照客户性质，请选择个人用户注册还是企业用户注册；</ol>
		<ol>3、 个人用户注册请填写以下个人信息完成注册（*为必填项目）；</ol>
		<img src="../images/register1.jpg" >
		<ol>4、 企业用户注册请填写以下企业信息完成注册（*为必填项目）</ol>
		<img src="../images/register2.jpg" >
		<ol>5、 请阅读壹美壹家客户使用条款，选中“同意以下协议，提交”完成注册。</ol>
		<img src="../images/register3.jpg" >
		<ol>6、 注册成功</ol>
		<p>登录商城购物或查看订单信息需输入您的用户名和密码。建议您保管好自己的密码和邮箱。如忘记密码，请点此 “忘记密码” 。</p>
		<img src="../images/register4.jpg" >
	</ul>
</div>