<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">
  <h1>我们是谁</h1>
    <p>壹美壹家是一站式提案现代都市人生活工作方式的大众时尚品牌。产品涵盖生活家具、家居饰品、家纺、日用品、办公用品、公共办公家具等。我们希望通过自己的商品让客户在人生的2/3宝贵时间里享受到每分每秒的“快乐生活 轻松办公”！</p>
  <h1>我们的口号</h1>
    <p>快乐生活 轻松办公</p>
  <h1>我们的客户</h1>
    <ul>
      <li>期许不断进步的生活品质</li>
      <li>选择性价比高的商品</li>
      <li>体现自己风格的商品</li>
      <li>忠实于满意的服务</li>
    </ul>
    <p>具有以上特质，热爱和享受自己工作和生活的消费人群。</p>
  <h1>我们的理念</h1>
    <ul>
      <li>新生活和办公方式的引领者</li>
      <li>提供物美价廉的商品</li>
      <li>成为爱生活爱工作人群的时尚品牌</li>
    </ul>
    <br>
  <h1>我们的销售方式</h1>
    <ul>
      <li>网站会员订购<a href="www.emehome.cn" title="壹美壹家网上商城">www.emehome.cn</a></li>
      <li>目录直销订购 Vol.1 订购目录（已经正式发行请<%= link_to "免费索取", mail_sales_user_user_centers_path %>）</li>
      <li>电话直销订购 400-630-5006</li>
      <li>企业团购 0574-87917756</li>
      <li>实体体验店</li>
    </ul>
  <h1>我们的使命</h1>
  <p>全新生活和办公方式的引领者！ </p>
  <p>Innovator of the new living & working style</p>
  <p>感谢您使用我们的服务，我们会每天改进工作让你的工作和生活更加的精彩！祝您购物愉快！更多信息请查询：<a href="www.emehome.cn" title="壹美壹家网上商城">www.emehome.cn</a></p>
  <p>宁波壹美壹家贸易有限公司</p>
</div>