<div class="form-actions">
  <%= link_to "<i class='icon-info-sign'></i> 详细内容".html_safe, [:admin,@role], :class => "btn btn-primary" %>
  <%= link_to "<i class='icon-arrow-left'></i> 返回".html_safe, admin_roles_path, :class => "btn pull-right" %>
</div>

<%= render 'form' %>

