<div>
  <%= link_to '新增素材商品', new_admin_product_path%>&nbsp;&nbsp;
</div>
<div class="page_content">
    <div class ="basic_form">
      <%=raw jqgrid(t('attributes.product.product_list'), "products", "products",
        [
        { :field => "product_id", :label =>t('attributes.product.product_id'), :sortable=>false, :width=>100},
        { :field => "name", :label =>t('attributes.product.name'), :sortable=>false, :width=>"150"},
        { :field => "unit", :label =>t('attributes.product.unit'), :sortable=>false, :width=>80},
        { :field => "brand_id", :label =>t('attributes.product.brand_id'), :sortable=>false, :width=>150},
        { :field => "specification", :label =>t('attributes.product.specification'), :sortable=>false, :width=>100},
        { :field => "model", :label =>t('attributes.product.model'), :sortable=>false, :width=>100},
        { :field => "manufacturer", :label =>t('attributes.product.manufacturer'), :sortable=>false, :width=>150 },
        { :field => "update_time", :label =>t('attributes.product.update_time'), :sortable=>false, :width=>120 }
        ] , {:width=>"$('.ui-layout-center').width()-2"}
      )%>
    </div>
</div>