//= require user/passwords

.failure {
  color: #F60;
  border: 1px solid #F90;
  background-color: #FFEBCC;}

.successful {
  padding: 2px;
  border: 1px solid green;
  color: green;
  background-color: lighten(green, 65%);}