//General Style for the frontie interface

//Define the commonly used variables.
$text_red: #E73221;
$bg_red: #ED2E2A;

//Basic style for all pages.
h1, h2, h3, ul{
	margin: 0px;}

#wrapper {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;}
body {
  margin: 0px;
  font-family: SimSun, Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
  color: #333333;}
a {
	color: #333333;
	text-decoration: none;}
a:hover {
	color: #FF0000;
	text-decoration: none;
  cursor: pointer;}
a:active{
	color: #FF0000;
	text-decoration: none;}
.notification_area {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px;
  border: 1px solid $text_red;
  background-color: lighten($text_red, 40%);}
.clear {
	clear: both;}
.overflow_text{
  overflow:hidden;
  white-space:nowrap;}
.bar_center {
	text-align:center;}
div {
  position: relative;}
input, select {
	border: solid 1px #dddddd;
	padding: 3px 3px 3px 3px;}
.element_clear_right {
	clear: right;}
.element_float_left {
	float: left;}
.input_width_35 {
	width: 35px;}
.input_width_220 {
	width: 220px;}
input {
	width: 120px;}
.width_220 {
	width: 220px;
	border: 1px solid #dddddd;}
.width_766 {
	width: 766px;
	border: 1px solid #dddddd;}
.padding_4 {
	padding: 4px;}
// Horizontal <ul> <li> style.
.h_ul {
	margin: 0;
	padding: 0;
	list-style: none;}
.h_li {
	float: left;}

//Cart process style
table {
  .check {
  width: 20px;}}
#cart_proc {
	position: absolute;
	top: 32px;
	left: 260px;
	width: 486px;
	height: 52px;
  li {
    font-size: 14px;
    margin: 28px 45px 0 45px;
    line-height: 20px;
    vertical-align:middle;}}
.cart_proc_background_1 {
	background-image:url('/assets/shopcart/buychart_step_01.png');}
.cart_proc_background_2 {
	background-image:url('/assets/shopcart/buychart_step_02.png');}
.cart_proc_background_3 {
	background-image:url('/assets/shopcart/buychart_step_03.png');}
.margin_top_65 {
	margin-top: 65px;}
.white {
	color: #ffffff;}

//General Style in Header.
#header {
	width: 1000px;
	height: 137px;
	position:relative;
	float:left;
	margin: 0 0 4px 0;}
//Toolbar style in Header.
#tool_bar {
	position: absolute;
	top: 5px;
	right: 100px;
  margin: 0px;
  width: 360px;
  height: 30px;
	line-height: 30px;
	vertical-align: middle;
  ul {
    float:right;
    margin: 0;
    padding: 0;
    list-style: none;}
  li {
    float:left;
    margin: 0 0 0 4px;}}
//Sharebar style in Header.
#share_bar {
	position: absolute;
	top: 0;
	right: 0;
  a {
    color: #FFFFFF;}
  #sina {
    position:absolute;
    top: 2px;
    right: 2px;
    z-index: 100;}
  #kaixin {
    position:absolute;
    top: 2px;
    right: 48px;
    z-index: 100;}}
//Logo style in Header.
#logo {
	position: absolute;
	top: 0;
	left: 40px;}
//Servie information style in Header.
#service_phone {
	position: absolute;
	top: 52px;
	left: 780px;}
#service_ol {
	position: absolute;
	top: 52px;
	right: 2px;}
//Welcome wording in Header.
#welcome {
	position: absolute;
	top: 5px;
	left: 360px;
	height: 30px;
	line-height:30px;
	vertical-align:middle;
  p {
    height: 30px;
    margin: 0px;
    a {
	    color: blue;}
    a:hover {
	    color: red;}}}

//Search bar style in the header.
#search_bar {
	position:absolute;
	top: 50px;
	left: 360px;
	width: 251px;
	height: 24px;
	clear:right;
	background-image:url('/assets/templates/header/search283_26_bg.png');
	barcgournd-repeat: none;
	padding: 1px 0 1px 32px;
  form {
	  height: 26px;}
	input {
	width: 175px;
	height: 20px;
	padding: 2px 0px 2px 0px;
	border: none;
  font-size: 14px;
	line-height: 24px;
	vertical-align: middle;}
  input:focus {
    background:none;
    padding: 2px 0px 2px 0px;}
  a {
    padding: 0 10px 0 19px;
    font-weight:bold;
    line-height: 24px;
    vertical-align: middle;
    font-size:14px;
    color: #ffffff;}
  a:hover {
    font-weight:bold;
    font-size:14px;}}
#search_hot {
	position:absolute;
	top: 50px;
	left: 650px;
	width: 228px;
	height: 26px;
	line-height:26px;
	vertical-align:middle;
	clear:right;
  li {
    margin: 0 0 0 6px;
    a:hover {
      text-decoration:underline;}}}

//Cart style in the header.
#cart {
	position:absolute;
	top: 104px;
	right: 0px;
	width:205px;
	height:28px;
	background-image:url('/assets/templates/header/cart.png');
	z-index:400;}
//Horizontal navigater style
#h_main_menu {
	position: absolute;
	top: 100px;
	left: 0px;
	width: 1000px;
	height: 32px;
	margin: 2px 0 2px 0;
	border-bottom: 3px solid #dddddd;
  li {
    width: 108px;
    height: 32px;
    background-image:url('/assets/templates/header/head_bg_107_33_gray.png');
    margin: 0 1px 0 1px;
    line-height: 32px;
    vertical-align:middle;
    text-align:center;
    font-size: 14px;
    font-weight:bold;
    color: #ff0000;
    a {
      line-height: 32px;
      vertical-align: middle;
	    color: $text_red;}}
	li:hover {
    background-image:url('/assets/templates/header/head_bg_107_33_red.png');
    a {
      color: #ffffff;}}}

//The styles of titles (bar) for frontie interface
.bar_image_1000 {
	width: 965px;
	height: 26px;
	background-image:url('/assets/templates/titlebar/bar_1000_26.jpg');
	padding: 0 0 0 35px;
	color: $text_red;
	font-size: 15px;
	font-weight: bold;
	line-height:26px;
	vertical-align:middle;
	border-top: 1px solid #DDDDDD;}
.bar_image_550 {
	width: 542px;
	height: 26px;
	background-image:url('/assets/templates/titlebar/bar_bg_550_26.png');
	padding: 0 0 0 8px;
	color: $text_red;
	font-size: 15px;
	font-weight: bold;
	line-height: 26px;
	vertical-align:middle;
	border-top: 1px solid #dddddd;}
.bar_image_220 {
	width: 212px;
	height: 26px;
	background-image:url('/assets/templates/titlebar/bar_bg_220_26.png');
	padding: 0 0 0 8px;
	color: $text_red;
	font-size:14px;
	font-weight:bold;
	line-height:26px;
	vertical-align:middle;}
.bar_background_1_30 {
  width: 100%;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  background-image:url('/assets/templates/titlebar/bar_bg_1_30.png');}
//The icon in the homepage's title bar.
.sku_category h2 + img {
	position: absolute;
	top: 2px;
	left: 2px;}
//Main content position.
#main {
	position: relative;
	float: left;
	width: 1000px;
	background-color: #FFFFFF;}

//新品推荐页面样式。



// Homepage and level 2 pages SKU_categary style.
.sku_category {
	position: relative;
	float: left;
	width: 1000px;
	margin: 10px 0 0 0;}

.sku_list_li {
	width: 128px;
	height: 170px;
	margin: 2px;
	padding: 4px 2px;
	text-align: center;
  > a {
    color: #FFFFFF;}
  > a:hover {
    color: #FFFFFF;}}
.sku_list_li:hover {
  background-color: #F6F6F6;}
.sku_list_li_search_result {
	width: 165px;
	height: 180px;
	margin: 2px;
  margin-left: 20px;
	padding: 2px;
  padding-top: 20px;
	text-align: center;
  > a {
    color: #FFFFFF;}
  > a:hover {
    color: #FFFFFF;}}
.sku_list_li_search_result:hover {
  background-color: #F6F6F6;
  p {
    color: #E73221;
    a {
      color: #E73221;}
    a:hover {
      text-decoration: underline;}}}
.sku_list_ul {
	position: relative;
	float: left;
	width: 550px;
	margin: 4px 10px 0 10px;}
.sku_list_p {
  height: 28px;
  text-align: left;
	margin: 2px 0 2px 0;}
.sku_list_bar_short {
	display: block;
	width: 208px;
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
	text-align: center;
	font-weight: normal;
	color: $text_red;;
	background-image:url('/assets/templates/titlebar/bar_bg_1_30.png');}
.sku_list_sort {
	position: relative;
	float: right;
	width: 208px;
	height: 367px;
	border: 1px solid #dddddd;
	margin: 4px 0 0 0;}
.sku_list_sort_ul {
	list-style: none;
	padding: 4px;}
.sku_list_sort_li {
	position:relative;
	float:left;
	width: 100%;
	height: 32px;
	padding: 0;
	margin: 2px 0 2px 0;
  div {
    position:absolute;
    top: 8px;
    left: 38px;
    width: 152px;
    height: 23px;
    border-bottom: 1px dashed #990000;}
  div:hover {
    position:absolute;
    top: 8px;
    left: 38px;
    width: 152px;
    height: 23px;
    border-bottom: 1px solid #990000;}}
.category_recommend {
	position:absolute;
	top: 5px;
	right: 8px;
  li {
    margin: 0 0 0 4px;}}
.special_blue {
	color: #005AA0;}
.sku_list_left_col {
	position:relative;
	float: left;
	width: 220px;
	height: 369px;
	background:#CC6633;
	margin: 4px 0 0 0;
  a {
    color: #FFFFFF;}}


.sku_list_sort_hot {
	width:100%;
	font-size: 12px;
	line-height:25px;
	vertical-align:middle;
  .has_children{
    color :#333333;
    cursor:pointer;
    border-bottom: 1px dashed #dddddd;
    span + a {
      color: #FFFFFF;}}
  .highlight{
	color : $text_red;
	border-bottom: 1px solid #ffffff;
    z-index: 20}
  div{
    padding:0;
    a{
      display : none;
      float:left;
      width: 100%;
      margin: 2px 0 0 0;
      text-align:center;}
    span:hover {
      color: #E73227;
      text-decoration:underline;}}
  .has_children {
    span {
	    padding: 0 0 0 8px;}}}

.sku_list_sort_hot_bottom_line {
	border-bottom: 1px dashed #dddddd;}

//Footer Style in Homepage

#footer {
  position: relative;
	float:left;
  width: 1000px;
  height: 400px;
  margin: 10px 0 0 0;
  background-color: #ffffff;
	clear: both;}
//合作品牌
#brand-corperate {
  position: relative;
  float: left;
  width: 998px;
  height: 167px;
  background-color: #ffffff;
	border-top: 0px;
  h2 {
    width: 992px;
    padding: 0 0 0 8px;}
  ul {
    position: relative;
    float: left;
    margin: 0 0 0 0;
	  padding: 0 6px;
	  li {
      position: relative;
      float: left;
      display: block;
      margin: 4px 2px 4px 2px;
    a {
      color: #FFFFFF;}}}}
//联系方式
#footer_contact_bar {
  position: relative;
  float: left;
  width: 1000px;
  height: 26px;
  margin: 15px 0 0 0;
  background-image: url('/assets/templates/titlebar/bar_bg_1_30.png');
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  ul {
    padding: 0 0 0 260px;}
  li {
	margin: 0 0 0 40px;
	font-size:14px;
	color: $text_red;
  a {
    color: $text_red;}
  a:hover {
    text-decoration: underline;}}}

#corp-info {
  position: relative;
  float: left;
  width: 1000px;
  height: 140px;
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
  background-color: #ffffff;
  div {
    position: relative;
    float: left;
    margin: 0 0 0 30px;
    padding-top: 0;
    top: 0;
    width: 135px;
    h3 {
      margin: 0 0 0 0;
      font-family: SimHei;
      line-height: 30px;
      vertical-align: middle;
      text-indent: 30px;
      display: block;}}
  img {
    position: absolute;
    top: 0;
    left: -20px;}}

.corp_info_li_line_height {
  height:20px;
  line-height:20px;
  vertical-align: middle;}
.footer_title {
  position: relative;
  float: left;
  padding-left: 200px;
  width: 800px;}
.footer_title li {
  margin: 0 0 0 20px;
  font-size:14px;
  font-weight:bold;}
.footer_warranty {
  position: relative;
  float: left;
  padding-left: 20px;
  clear: both;
  li {
    margin: 0 0 0 40px;}}

div#copyright {
  position: relative;
  float: left;
  margin: 0 0 0 0;
  clear: both;
  width: 1000px;
  text-align: center;}
#link_certificates {
  position:relative;
  float:left;
  ul {
    width: 1000px;
    padding: 0 0 0 170px;}
  li {
	margin: 0 0 0 10px;
    a {
      color: #FFFFFF;
      border: 0px;}}}

// Recent visited bar style with a 3 rows list
// listed in the homepage.
.recent_visited_ul {
  list-style: none;
  padding: 4px 8px 4px 8px;}
.recent_visited_li {
  position:relative;
  float:left;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 2px 0 2px 0;
  > a {
    color: #FFFFFF;}
  div {
    position:absolute;
    top: 0px; /**Changed 2012/01/13**/
    left: 45px;
    width: 152px;
    height: 40px;
    border-bottom: 1px dashed #dddddd;
    i {
      height: 20px;
      line-height: 20px;
      vertical-align:middle;}}
  div:hover {
    position:absolute;
    top: 0px; /**Changed 2012/01/13**/
    left: 45px;
    width: 152px;
    height: 40px;
    border-bottom: 1px solid #dddddd;}}
//New SKU style shared by Homepage and Level2 pages.
.margin_0 {
  margin: 0;}
.height_auto {
  height: auto;}
#banner_3 li:hover {
  border: 1px solid #FFFFFF;
  cursor: pointer;}
//Styles for Static Page, like helps pages in the footer.
/**Help page style -- Starts -- 2012/01/14 **/
.help_left_menu {
  position: relative;
  float: left;
  margin: 0px;
  padding: 0px;}
.cs {
  position: relative;
  float: left;
  margin: 4px 0 0 0;
  p {
    padding: 0 4px 0 4px;}}
.help_center {
  position: relative;
  float: left;
  clear: left;
  margin: 10px 0 0 0;
  dt {
    display: block;
    background:#fff9e6;
    height:26px;
    line-height:26px;
    vertical-align:middle;
    padding : 0 0 0 4px;}
  dd {
	padding: 4px 4px 0 24px;
	margin: 0;
	line-height:20px;
	vertical-align:middle;}}
.help_content {
  position: relative;
  float: right;
  line-height: 20px;
  vertical-align:middle;
  margin: 4px 0 4px 0;
  img {
    outline: 1px solid #DDDDDD;
    margin: 2px;}
  p {
    padding: 0 4px 0 4px;
    text-indent: 24px;}
  h1 {
    display: block;
    font-size: 16px;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    padding: 0 0 0 4px;}
  h2 {
    font-size: 14px;
    padding : 0 0 0 4px;}
  em {
    font-style: normal;
    font-weight: bold;
    color: $text_red;}
  ul, ol {
    padding-left: 40px;}
  table, thead, tfoot, tbody, tr, th, td {
    border-collapse: collapse;
    border: 1px solid #999999;
    padding: 4px 10px;
    text-align: center;
    font-size: 12px;}
  th {
    background: #DDDDDD;}
  .fixed_width_s {
    width: 40px;}}
.help_h2 {
  display:block;
  background-image:url('/assets/templates/titlebar/bar_bg_1_30.png');
  height: 26px;
  line-height: 26px;
  vertical-align: middle;
  color: $text_red;
  font-weight: normal;
  padding: 0 0 0 4px;}
.pub {
  h1 {
    text-align: center;}
  table {
    margin: 10px auto;
    text-align: center;}}

//表单验证样式
.onShow {
  background: url(/assets/core/validation/on_show.gif) no-repeat 0;
  padding-left: 25px;
  font-size: 12px;
  line-height: 22px;
  vertical-align: middle;}
.onFocus {
  background:#E9F0FF url(/assets/core/validation/on_focus.gif) no-repeat 0;
  padding-left:25px;
  font-size: 12px;
  line-height:22px;
  vertical-align:middle;}
.onError {
  background:#FFF2E9 url(/assets/core/validation/on_error.gif) no-repeat 0;
  padding-left:25px;
  font-size: 12px;
  line-height:22px;
  vertical-align:middle;}
.onCorrect {
    background:#E9FFEB url(/assets/core/validation/on_correct.gif) no-repeat 0;
    padding-left:25px;
	font-size: 12px;
	line-height:22px;
	vertical-align:middle;}
//CNY style
.cny {
  font-family: Arial Unicode MS, Tahoma, Verdana, Microsoft Yahei;
  font-size: 12px;
  color: #E73221;
  font-weight: bold;
  font-style: normal;}
.grey_cny {
  font-family: Arial Unicode MS, Tahoma, Verdana, Microsoft Yahei;
  font-size: 10px;
  color: #999999;
  font-style: normal;
  text-decoration: line-through;}

//Statics icon in footer
.foot_statics {
  position: relative;
  float: left;
  clear: both;
  img {
    margin-left: 475px;}}
