<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">
  <h1>查询订单</h1>
	<p>网站订单查询流程（您也可以致电客服<em>400-630-5006</em>，由我们的服务人员帮助您查询订单）</p>
	<ol>
		<li>点击页面顶部“登录”栏，进入登录页面；</li>
		<li>按照登录提示信息，填写会员ID或者email、密码，点击登录按钮；</li>
		<li>点击“我的账户”，进入我的账户界面；</li>
		<li>点击“我的订单”里面的“订单查询”;</li>
		<li>点击订单编号可以进入“查看订单”界面，进行相关的操作。如果订单处于“等待签收”状态说明我们已经安排商品配送无法取消订单。
      订单操作中有任何问题请致电查询：<em>400-630-5006</em>。</li>
	</ol>
  <p>可以按照订单编号、订单日期、订单状态、付款方式分别查询，也可以综合几个条件查询。也可以点击快速查询按照最近1个月、
    最近3个月、最近半年来查询。搜索结果会显示在下方。</p>
  <%= image_tag "/assets/templates/footer/help/order_list.png" %>
</div>