<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">
  <h1>壹美壹家正式上线开业！</h1>
	<h2>——打造全新生活和办公方式的购物体验</h2>
	<br />
	<p>壹美壹家是一站式提案现代都市人生活工作方式的大众时尚品牌。产品涵盖生活家具、家居饰品、家纺、日用品、办公用品、公共办公家具等。我们希望通过自己的商品让客户在人生的2/3宝贵时间里享受到每分每秒的“快乐生活
        轻松办公”！</p>
	<p>我们的口号：“快乐生活 轻松办公”</p>
	<p>我们的客户：</p>
	<p>期许不断进步的生活品质</p>
	<p>选择性价比高的商品</p>
	<p>体现自己风格的商品</p>
	<p>忠实于满意的服务</p>
	<p>具有以上特质，热爱和享受自己工作和生活的消费人群。</p>
	<p>我们的理念：</p>
	<p>新生活和办公方式的引领者</p>
	<p>提供物美价廉的商品</p>
	<p>成为爱生活爱工作人群的时尚品牌 </p>
	<p>我们的使命：</p>
	<p>全新生活和办公方式的引领者！ </p>
	<p>Innovator of the new living &amp; working style</p>
	<br />
	<p>公司聚集了一群团结进取、立志实现我们承诺客户理想的年轻精英，不断创新努力让我们的客户不断壮大。
    开业之际，我们所有的员工衷心希望您能成为我们的客户，我们会每天改进工作多一点，让你的工作和生活更加的精彩，
    祝您购物愉快！更多信息请查询：<a href="http://www.emehome.cn" title="壹美壹家网上商城">www.emehome.cn</a></p>
	<br />
	<p>宁波壹美壹家贸易有限公司</p>
	<p>2010年11月29日</p>
</div>