<p>亲爱的<%= @resource.name %>：</p>

<p>感谢您注册壹美壹家网上商城（http://www.emehome.cn），我们将为您提供最贴心的服务，祝您购物愉快。</p>
<p>
  以下是您的注册信息：
</p>

<ul>
  <li>您的用户名：<%= @resource.login_no %></li>
  <li>您的注册邮箱：<%= @resource.email %></li>
</ul>

<p>
  我们一直在努力打破传统购物方式，打造更齐全、便利、实惠和舒适的网络购物模式。足不出户让您享受网络购物的便利。
  若您对我们的商品及服务感到满意，请将我们介绍给您的朋友。
</p>

<p>
  最后预祝您购物愉快！您的会心一笑，是我们工作的价值所在，您的关注会让我们的工作尽善尽美！ 现在就开始选购心爱的商品？立刻进入“壹美商城”。
</p>

<p>欢迎您再次到壹美商城购物，祝您购物愉快！</p>

<p>如果您有任何疑问或建议，请联系我们400-630-5006 。</p>











