<p>尊敬的壹美壹家会员<%= @resource.name %> ，您好！</p>

<p>非常感谢您对壹美壹家网上商城的支持！</p>

<p>您提交了修改密码的申请,以下是目前您正在使用的会员ID。</p>

<p>您的会员ID是： <%= @resource.login_no %></p> 

<p>此邮件来自于壹美壹家，如您未申请过找回密码服务，请删除此邮件</p> 

<p>请点击下面的的链接完成重设密码</p>

<p><%= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p> 

<p>如邮箱不支持链接,请把上面这段地址复制到浏览器执行</p>

<p>出于安全考虑,请妥善保管您的密码,并登陆我们的网站修改密码;</p>

<p>我们建议您定期更换密码以保证安全。</p>

<p>此信由系统自动发出，无需回复。</p>

<p>如有任何疑问，请与我们取得联系。</p>

<p>客服及订购电话：400-630-5006</p>

<p>欢迎光临壹美壹家网上商城www.emehome.cn</p>

<p>© 2010-2011 壹美壹家 版权所有</p>











