<div class="alert alert-info">
  <button class="close action_close" data-dismiss="alert" data-id="<%= object.id %>">×</button>
  <div class="control-group decimal required">
  	<label class="decimal required control-label">
  		<%= object.action_type_name %>
  	</label>
		<div class="controls">
			<input class="numeric decimal required" name="order_discount" step="any" type="number" value="<%= object.discount %>">
		</div>
	</div>
</div>