.help_left_menu {
  position: relative;
  float: left;
  margin: 0px;
  padding: 0px;}
.cs {
	position: relative;
	float: left;
	margin: 4px 0 0 0;
  p {
	  padding: 0 4px 0 4px;}}
.help_center {
	position: relative;
	float: left;
	clear: left;
	margin: 10px 0 0 0;
  dt {
    display: block;
    background: lighten(#E73221, 45%);
    height:26px;
    line-height:26px;
    vertical-align:middle;
    padding : 0 0 0 4px;}
  dd {
	padding: 4px 4px 0 24px;
	margin: 0;
	line-height:20px;
	vertical-align:middle;}}
.help_content {
	position: relative;
	float: right;
	line-height: 20px;
	vertical-align:middle;
	margin: 4px 0 4px 0;
  form {
    > input {
      margin: 4px;
      width: 142px;
      height: 32px;
      font-size: 14px;
      color: #FFFFFF;
      background-image: url('/assets/templates/btn_default.png');}
    > input:hover {
      background-image: url('/assets/templates/btn_default_hover.png');
      cursor: pointer;}}
  p {
    padding: 0 4px 0 4px;
    text-indent: 24px;}
  h2 {
    font-size: 14px;
    padding : 0 0 0 4px;}
  em {
    font-style: normal;
    font-weight: bold;
    color: #E73221;}}
.help_h2 {
	display:block;
	background-image:url('/assets/templates/titlebar/bar_bg_1_30.png');
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
	color: #E72331;
	font-weight: normal;
	padding: 0 0 0 4px;}