@import "public";

#login_wrapper {
  width: 892px;
  height: 300px;
  padding: 0px;
  margin: 50px;
  border: 1px solid #dddddd;}

.bar_background_1_30 {
  width: 884px;
  padding: 0 0 0 8px;
  font-family: "黑体";
  font-size: 16px;
  color: $text_red;}

#login_window_left_up {
  float: left;
  width: 50%;
  height: 190px;
  border-bottom: 1px dotted #dddddd;
  a {
    position: absolute;
    left: 280px;
    color: $text_red;}}
#login_window_left_down {
  float: left;
  width: 50%;
  height: 50px;}
#login_window_right {
  float: right;
  width: 49%;
  height: 240px;
  border-left: 1px solid #dddddd;
  p {
    display: block;
    position: absolute;
    top: 20px;
    left: 80px;
    font-size: 14px;
    strong{
      color: $text_red;}}
  button{
    position: absolute;
    top: 140px;
    width: 125px;
    height: 30px;
    padding: 0px;
    cursor: pointer;
    border: 0px;
    font-size: 14px;
    line-height: 30px;
    vertical-align: middle;
    background-image: url('/assets/templates/register_125_30.png');}
  .person{
    left: 90px;}
  .enterprise{
    left: 230px;}}

.p_label {
  position: absolute;
  left: 20px;
  display: block;
  width: 100px;
  font-size: 14px;
  text-align: right;}
.p_input {
  position: absolute;
  left: 125px;
  width: 200px;
  text-align: left;
  input {
    width: 200px;}}
.p_button {
  position: absolute;
  left: 160px;
  clear: both;
  input{
    padding: 0px;
    width: 114px;
    height: 33px;
    cursor: pointer;
    font-size: 14px;
    color: #FFFFFF;
    background-image: url('/assets/templates/login_112_31.png');}}
.row_1 {
  top: 10px}
.row_2 {
  top: 50px}
.row_3 {
  top: 90px}
.row_4 {
  top: 130px}
.row_5 {
  top: 155px}

.error_info{
  background: #FFECEC;
  border: #F34956 solid 1px;
  color: #C00;
  margin: 0 0 5px 3px;
  padding: 2px;}
#login_success_wrapper {
  padding: 60px 140px;
  border: 1px solid #dddddd;
  img {
    float: left;
    clear: right;}
  h1 {
    margin-left: 60px;
    line-height: 50px;
    vertical-align: bottom;}
  p {
    line-height: 18px;
    vertical-align: middle;
    font-size: 14px;
    clear: both;
    a {
      color: blue;}}
  em {
    font-size: 14px;
    color: #E73221;
    clear: both;}
  .indent {
    text-indent: 28px;}}